@media screen and (max-width: 767px)
  .about
    &-main
      @include vwplusemmb('padding-top', 120)
      @include vwplusemmb('padding-bottom', 120)
      .footer-other
        @include vwplusemmb('bottom', -50)
      &__text
        @include vwplusemmb('margin-bottom', 70)
        h1
          $f: 50
          @include vwplusemmb('margin-bottom', 35, $f)
        p
          $f: 30
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('line-height', 40, $f)
          @include vwplusemmb('margin-bottom', 45, $f)
          @include vwplusemmb('padding-right', 0)
      &__image
        display: block
        width: 100%
        position: relative
        top: 0
        order: -1
        @include vwplusemmb('margin-right', 40)
        @include vwplusemmb('margin-left', 40)
        @include vwplusemmb('margin-bottom', 60)
        @include vwplusemmb('height', 420)

    &-info
      @include vwplusemmb('padding-top', 30)
      @include vwplusemmb('padding-bottom', 100)
      &--image
        @include vwplusemmb('height', 700)
        @include vwplusemmb('margin-bottom', 100)
      .side-menu
        display: none

      .main
        padding-left: 0
        .info-block
          @include vwplusemmb('margin-bottom', 100)
          h5
            $f: 40
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 50, $f)
            @include vwplusemmb('margin-bottom', 30, $f)
          h6
            $f: 30
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 26, $f)
            @include vwplusemmb('margin-bottom', 20, $f)
          p
            $f: 28
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 36, $f)
            @include vwplusemmb('margin-bottom', 45, $f)


    .work
      .image
        @include vwplusemmb('height', 500)
        img
          width: auto
          left: -90%
      .text
        h5
          $f: 50
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('margin-bottom', 40, $f)
          @include vwplusemmb('width', 450, $f)
          margin-left: auto
          margin-right: auto
        .main-btn
          @include vwplusemmb('width', 330)

      .footer-other
        display: flex
