@media screen and (max-width: 767px)
  .blogs-all
    &__main
      @include vwplusemmb('padding-top', 120)
      @include vwplusemmb('padding-bottom', 100)
      .blogs-header
        display: block
        @include vwplusemmb('margin-bottom', 60)
        h1
          $f: 50
          @include vwplusem('margin-right', 0)
          @include vwplusemmb('margin-bottom', 30, $f)
        .sorting
          display: block
          @include vwplusemmb('margin-bottom', 5)
          p, a
            $f: 26
            @include vwplusemmb('font-size', $f)

    &__articles
      @include vwplusem('padding-right', 172)
      .last-blog, .list-blog
        width: 100%
      .last-blog
        @include vwplusemmb('padding-right', 125)
        @include vwplusemmb('height', 300)
        display: block
        .date
          @include vwplusemmb('margin-bottom', 10)
          p
            $f: 26
            @include vwplusemmb('font-size', $f)
        a.head
          $f: 40
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('line-height', 46, $f)
          @include vwplusemmb('margin-bottom', 20, $f)
        a
          $f: 26
          @include vwplusemmb('font-size', $f)

      .list-blog
        .blog-article
          width: 100%
          @include vwplusemmb('height', 340)
          @include vwplusemmb('padding', 0)
          &:first-child
            @include vwplusemmb('margin-top', 0)
          .date
            @include vwplusemmb('margin-bottom', 10)
            p
              $f: 26
              @include vwplusemmb('font-size', $f)

          a
            $f: 34
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 46, $f)

            &:before, &:after
              @include vwplusemmb('height', 4, $f)
              @include vwplusemmb('width', 26, $f)
              @include vwplusemmb('bottom', -50, $f)