@media screen and (max-width: 767px)
  .blog-main
    @include vwplusemmb('padding-top', 120)
    @include vwplusemmb('padding-bottom', 70)
    .breadcrumbs
      @include vwplusemmb('margin-bottom', 50)
    .blog-main--left
      display: block
      width: 100%
      @include vwplusemmb('margin-bottom', 40)
      h1
        $f: 50
        @include vwplusemmb('margin-bottom', 50, $f)
      h5
        $f: 40
        @include vwplusemmb('font-size', $f)
        @include vwplusemmb('line-height', 46, $f)
        @include vwplusemmb('margin-bottom', 20, $f)
        @include vwplusemmb('padding-right', 130, $f)
      .date
        p
          $f: 26
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('line-height', 26, $f)
          @include vwplusemmb('margin-bottom', 25, $f)
      .blog-slider
        @include vwplusemmb('padding-left', 0)
        @include vwplusemmb('padding-right', 0)
        @include vwplusemmb('padding-bottom', 110)
        .slider-arrow
          @include vwplusemmb('bottom', 20)
          top: unset
          &.arrow-left
            left: 0
            right: unset
          &.arrow-right
            @include vwplusemmb('left', 80)
            right: unset

    .blog-main--right
      display: block
      width: 100%
      @include vwplusem('padding-bottom', 110)
      a
        $f: 26
        @include vwplusemmb('font-size', $f)
        @include vwplusemmb('padding-left', 28, $f)
        @include vwplusemmb('margin-bottom', 60, $f)
        display: inline-block
        @include vwplusemmb('top', 28)
        left: unset
        @include vwplusemmb('right', 30, $f)
        &:before
          @include vwplusemmb('top', 5, $f)
          @include vwplusemmb('width', 16, $f)
          @include vwplusemmb('height', 16, $f)
          border-right: 4px solid #6535f0
          border-top: 4px solid #6535f0

      .blog__article
        .date
          p
            $f: 14
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 45, $f)
            @include vwplusemmb('margin-bottom', 15, $f)
            font-weight: 500
        .text
          p
            $f: 28
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 36, $f)
            @include vwplusemmb('margin-bottom', 35, $f)
