@media screen and (max-width: 767px)
  .careers
    .careers-main
      @include vwplusemmb('padding-top', 95)
      @include vwplusemmb('padding-bottom', 0)
      &__text
        @include vwplusemmb('padding-right', 0)
        h1
          $f: 50
          @include vwplusemmb('margin-bottom', 30, $f)
        p
          $f: 30
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('line-height', 40, $f)
      &__image
        @include vwplusemmb('height', 420)
        @include vwplusemmb('margin-bottom', 50)
        @include vwplusemmb('margin-left', 30)
        @include vwplusemmb('margin-right', 30)

    &-offers
      @include vwplusemmb('padding-top', 160)
      @include vwplusemmb('padding-bottom', 145)
      h2
        $f: 40
        @include vwplusemmb('font-size', $f)
        @include vwplusemmb('margin-bottom', 20, $f)
      p
        $f: 28
        @include vwplusemmb('font-size', $f)
      &__image
        display: inline-flex
        position: absolute
        right: 0
        @include vwplusemmb('top', -120)
        @include vwplusemmb('width', 188)
        @include vwplusemmb('height', 188)
        .eye
          @include vwplusemmb('width', 79)
          @include vwplusemmb('height', 51)
      &__info
        @include vwplusemmb('padding-top', 55)
        width: 100%
        &>p
          @include vwplusemmb('padding-right', 0)

      &__table
        @include vwplusemmb('margin-top', 50)
        &--row
          @include vwplusemmb('padding-bottom', 15)
          @include vwplusemmb('padding-top', 15)
          border-bottom: 2px solid #c7c8ce
          .number
            @include vwplusemmb('padding-left', 0)
            p
              $f: 28
              @include vwplusemmb('font-size', $f)
            &:before
              display: none
          .text
            p
              $f: 28
              @include vwplusemmb('font-size', $f)
              @include vwplusemmb('padding-left', 30, $f)
