@media screen and (max-width: 767px)
  .careers-all
    &__main
      @include vwplusemmb('padding-top', 120)
      &--inner
        .left
          .careers-header
            @include vwplusemmb('margin-bottom', 60)
            span
              display: none
              //$f: 14
              //@include vwplusemmb('font-size', $f)
              //@include vwplusemmb('line-height', 25, $f)
              //@include vwplusemmb('width', 25, $f)
              //@include vwplusemmb('right', -20, $f)

          .info
            background-color: $color-pink-light
            @include vwplusemmb('padding-top', 100)
            @include vwplusemmb('padding-left', 10)
            @include vwplusemmb('padding-right', 10)
            @include vwplusemmb('padding-bottom', 70)
            @include vwplusemmb('height', 555)
            &--main
              .block
                p
                  $f: 50
                  @include vwplusemmb('font-size', $f)
                  @include vwplusemmb('margin-bottom', 25, $f)
                span
                  $f: 20
                  @include vwplusemmb('font-size', $f)
                  @include vwplusemmb('line-height', 20, $f)
            &--description
              p
                $f: 28
                @include vwplusemmb('font-size', $f)
                @include vwplusemmb('line-height', 36, $f)
        .right
          @include vwplusemmb('padding-top', 65)
          @include vwplusemmb('padding-bottom', 100)
          a.back
            $f: 26
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('padding-left', 28, $f)
            @include vwplusemmb('margin-bottom', 60, $f)
            display: inline-block
            @include vwplusemmb('top', 28)
            left: unset
            @include vwplusemmb('right', 30, $f)
            &:before
              @include vwplusemmb('top', 5, $f)
              @include vwplusemmb('width', 16, $f)
              @include vwplusemmb('height', 16, $f)
              border-right: 4px solid #6535f0
              border-top: 4px solid #6535f0
          .list-vacancies
            .mCSB_container
              @include vwplusemmb('padding-bottom', 30)
            #mCSB_1_scrollbar_vertical
              display: none
            .career-article
              @include vwplusemmb('height', 340)
              @include vwplusemmb('padding-top', 40)
              @include vwplusemmb('padding-bottom', 40)
              &:first-child
                @include vwplusemmb('margin-top', -40)
              .date
                @include vwplusemmb('margin-bottom', 25)
                p
                  $f: 26
                  @include vwplusemmb('font-size', $f)
              a
                $f: 36
                @include vwplusemmb('font-size', $f)
                @include vwplusemmb('line-height', 46, $f)
                &:before, &:after
                  @include vwplusemmb('height', 4, $f)
                  @include vwplusemmb('width', 26, $f)
                  @include vwplusemmb('bottom', -45, $f)