@media screen and (max-width: 767px)
  .vacancie
    &__main
      @include vwplusemmb('padding-top', 120)
      @include vwplusemmb('padding-bottom', 180)
      &--inner
        .left
          .careers-header
            @include vwplusemmb('margin-bottom', 70)
          .image
            @include vwplusemmb('height', 550)
        .right
          @include vwplusemmb('width', 570)
          @include vwplusemmb('padding-top', 45)
          a.back
            $f: 26
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('padding-left', 28, $f)
            @include vwplusemmb('margin-bottom', 60, $f)
            display: inline-block
            @include vwplusemmb('top', 28)
            left: unset
            @include vwplusemmb('right', 30, $f)
            &:before
              @include vwplusemmb('top', 5, $f)
              @include vwplusemmb('width', 16, $f)
              @include vwplusemmb('height', 16, $f)
              border-right: 4px solid #6535f0
              border-top: 4px solid #6535f0
          .vacancie__info
            max-height: 100%
            .date
              @include vwplusemmb('margin-bottom', 15)
              p
                $f: 26
                @include vwplusemmb('font-size', $f)
            h3
              $f: 40
              @include vwplusemmb('font-size', $f)
              @include vwplusemmb('line-height', 46, $f)
              @include vwplusemmb('margin-bottom', 45, $f)
            &--block
              @include vwplusemmb('margin-bottom', 90)
              h5
                $f: 28
                @include vwplusemmb('font-size', $f)
                @include vwplusemmb('line-height', 26, $f)
                @include vwplusemmb('margin-bottom', 30, $f)
              ul
                li
                  $f: 28
                  @include vwplusemmb('font-size', $f)
                  @include vwplusemmb('line-height', 36, $f)
                  @include vwplusemmb('margin-bottom', 30, $f)
                  @include vwplusemmb('padding-left', 30, $f)
                  &:before
                    @include vwplusemmb('width', 12, $f)
                    @include vwplusemmb('height', 12, $f)
                    @include vwplusemmb('top', 15, $f)
            .main-btn
              @include vwplusemmb('margin-top', 40)




