@media screen and (max-width: 767px)
  .cases
    &__main
      @include vwplusemmb('padding-top', 120)
      &--inner
        @include vwplusemmb('height', 420)

    &__info
      @include vwplusemmb('padding-top', 85)
      @include vwplusemmb('padding-bottom', 70)
      &--row
        @include vwplusemmb('margin-bottom', 100)
        &.short
          .text
            @include vwplusem('padding-right', 0)
            p
              $f: 30
              @include vwplusemmb('font-size', $f)
              @include vwplusemmb('line-height', 40, $f)

        .image
          @include vwplusemmb('height', 500)
          @include vwplusemmb('margin-bottom', 60)
        .text
          @include vwplusemmb('padding-right', 100)
          a.head
            $f: 40
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 50, $f)
            @include vwplusemmb('margin-bottom', 28, $f)
          span
            $f: 28
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 26, $f)
            @include vwplusemmb('margin-bottom', 20, $f)
          p
            $f: 28
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 36, $f)
          a
            $f: 24
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 36, $f)

    .work
      .image
        @include vwplusemmb('height', 500)
        img
          width: auto
          left: -90%
      .text
        h5
          $f: 50
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('margin-bottom', 40, $f)
          @include vwplusemmb('width', 450, $f)
          margin-left: auto
          margin-right: auto
        .main-btn
          @include vwplusemmb('width', 330)
