@media screen and (max-width: 767px)
  .contact
    &-main
      @include vwplusemmb('padding-top', 120)
      @include vwplusemmb('padding-bottom', 0)
      .wrapper
        padding-left: 0
        padding-right: 0
      &__inner
        width: 100%
        h1
          $f: 50
          @include vwplusemmb('margin-bottom', 50, $f)
        table
          td
            $f: 28
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 36, $f)
            @include vwplusemmb('padding-bottom', 60, $f)
            &:first-child
              width: 30%
      #map
        position: relative
        width: 100%
        @include vwplusemmb('height', 480)

    &-form
      @include vwplusemmb('padding-top', 180)
      @include vwplusemmb('padding-bottom', 180)
      h2
        $f: 40
        @include vwplusemmb('font-size', $f)
        @include vwplusemmb('line-height', 54, $f)
        width: 100%
        @include vwplusemmb('margin-bottom', 90, $f)
      form
        @include vwplusemmb('padding-left', 0)
        @include vwplusemmb('padding-right', 0)
        .left, .right
          width: 100%
        .left
          @include vwplusemmb('margin-bottom', 60)
          label
            &.focus
              span
                $f: 20
                @include vwplusemmb('font-size', $f)
            &:first-child
              @include vwplusemmb('margin-bottom', 60)
            input, span
              $f: 28
              @include vwplusemmb('font-size', $f)
              @include vwplusemmb('padding-top', 26)
              @include vwplusemmb('padding-bottom', 26)

        .right
          label
            &.focus
              span
                $f: 20
                @include vwplusemmb('font-size', $f)
            textarea, span
              $f: 28
              @include vwplusemmb('font-size', $f)
              @include vwplusemmb('padding-top', 26)
              @include vwplusemmb('padding-bottom', 26)
              @include vwplusemmb('margin-top', 40, $f)
              @include vwplusemmb('height', 200, $f)
        .main-btn
          @include vwplusemmb('margin-top', 80)
          width: 100%
