@media screen and (max-width: 767px)
  .reviews-page
    &__main
      @include vwplusemmb('padding-top', 120)
      @include vwplusemmb('padding-bottom', 100)
      h1
        $f: 50
        @include vwplusemmb('margin-bottom', 90, $f)
    &__blocks
      &--article
        @include vwplusemmb('padding-bottom', 20)
        @include vwplusemmb('padding-right', 20)
        @include vwplusemmb('margin-bottom', 60)
        .review
          position: relative
          .image
            @include vwplusemmb('width', 112)
            @include vwplusemmb('height', 112)
            @include vwplusemmb('margin-right', 40)
            position: absolute
            left: 0
            top: 0

          .info
            width: 100%
            .author
              @include vwplusemmb('margin-bottom', 20)
              @include vwplusemmb('padding-left', 150)
              h6
                $f: 34
                @include vwplusemmb('font-size', $f)
                @include vwplusemmb('line-height', 40, $f)

            .company
              @include vwplusemmb('margin-bottom', 70)
              @include vwplusemmb('padding-left', 150)
              span
                $f: 23
                @include vwplusemmb('font-size', $f)

            .text
              @include vwplusemmb('margin-bottom', 35)
              p
                $f: 28
                @include vwplusemmb('font-size', $f)
                @include vwplusemmb('line-height', 36, $f)
            a
              $f: 28
              @include vwplusemmb('font-size', $f)