@media screen and (max-width: 767px)
  .service-page
    .outgoing-main
      @include vwplusemmb('height', 800)
      &__text
        @include vwplusemmb('width', 580)
        @include vwplusemmb('left', 30)
        p
          $f: 30
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('line-height', 40, $f)
          @include vwplusemmb('margin-top', 40, $f)
          width: 100%

    .outgoing-info
      @include vwplusemmb('padding-top', 70)
      @include vwplusemmb('padding-bottom', 70)
      .main
        &-paragraph
          @include vwplusemmb('margin-bottom', 65)
          .inner
            @include vwplusemmb('margin-bottom', 50)
            max-height: none
            p
              $f: 30
              @include vwplusemmb('font-size', $f)
              @include vwplusemmb('line-height', 40, $f)
              @include vwplusemmb('margin-bottom', 50, $f)
          .open-text
            display: none

        .info-block
          @include vwplusemmb('margin-bottom', 45)
          &.one-article
            @include vwplusemmb('margin-bottom', 180)
        h4
          $f: 40
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('line-height', 46, $f)
          @include vwplusemmb('margin-bottom', 50, $f)

        h5
          $f: 30
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('line-height', 30, $f)
          @include vwplusemmb('margin-bottom', 20, $f)
        h6
          $f: 30
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('line-height', 30, $f)
          @include vwplusemmb('margin-bottom', 20, $f)
        ul
          li
            $f: 28
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 36, $f)
            @include vwplusemmb('margin-bottom', 28, $f)
            @include vwplusemmb('padding-left', 30, $f)
            &:before
              @include vwplusemmb('width', 12, $f)
              @include vwplusemmb('height', 12, $f)
              @include vwplusemmb('top', 15, $f)
        p
          $f: 28
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('line-height', 36, $f)
          @include vwplusemmb('margin-bottom', 30, $f)


    .request
      @include vwplusemmb('padding-top', 80)
      @include vwplusemmb('padding-bottom', 80)

      p
        $f: 40
        @include vwplusemmb('font-size', $f)
        @include vwplusemmb('line-height', 46, $f)
        @include vwplusemmb('margin-bottom', 40, $f)
        width: 100%

    .next-service
      @include vwplusemmb('height', 800)
      .text
        span
          $f: 22
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('margin-bottom', 40, $f)
        h6
          $f: 50
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('line-height', 80, $f)
        .link
          @include vwplusemmb('width', 330)
          @include vwplusemmb('height', 100)
          @include vwplusemmb('margin-top', 90)
          @include vwplusemmb('border-radius', 50)
          @include vwplusemmb('padding-right', 50)
          span
            $f: 30
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 94, $f)
            &:after, &:before
              @include vwplusemmb('height', 4, $f)
              @include vwplusemmb('width', 26, $f)
              @include vwplusemmb('right', 0, $f)