@media screen and (max-width: 767px)
  .service-page
    .messenger-main
      @include vwplusemmb('height', 800)
      &__text
        @include vwplusemmb('width', 580)
        @include vwplusemmb('left', 30)

        p
          $f: 30
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('line-height', 40, $f)
          @include vwplusemmb('margin-top', 40, $f)
          @include vwplusemmb('width', 600, $f)

    .messenger-info
      @include vwplusemmb('padding-top', 120)
      @include vwplusemmb('padding-bottom', 120)
      .side-menu
        display: none

      .main
        @include vwplusemmb('padding-left', 0)
        .main-paragraph
          @include vwplusemmb('margin-bottom', 200)
          p
            $f: 30
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 40, $f)
            @include vwplusemmb('margin-bottom', 50, $f)
        .info-block
          @include vwplusemmb('margin-bottom', 135)
          h5
            $f: 40
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 40, $f)
            @include vwplusemmb('margin-bottom', 50, $f)
          &__services
            &--block
              @include vwplusemmb('height', 300)
              @include vwplusemmb('width', 290)
              @include vwplusemmb('padding-left', 40)
              @include vwplusemmb('padding-top', 50)
              .icon
                @include vwplusemmb('width', 70)
                @include vwplusemmb('height', 70)
                @include vwplusemmb('margin-bottom', 25)
              p
                $f: 26
                @include vwplusemmb('font-size', $f)
                @include vwplusemmb('line-height', 34, $f)
                @include vwplusemmb('width', 170, $f)

        .addition
          h6
            $f: 30
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 26, $f)
            @include vwplusemmb('margin-bottom', 30, $f)
          p
            $f: 28
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 36, $f)

    .request
      @include vwplusemmb('padding-top', 58)
      @include vwplusemmb('padding-bottom', 58)
      .wrapper
        justify-content: center
      p
        $f: 40
        @include vwplusemmb('font-size', $f)
        @include vwplusemmb('line-height', 45, $f)
        width: 100%


    .next-service
      @include vwplusemmb('height', 800)
      .text
        span
          $f: 22
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('margin-bottom', 40, $f)
        h6
          $f: 50
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('line-height', 80, $f)
        .link
          @include vwplusemmb('width', 330)
          @include vwplusemmb('height', 100)
          @include vwplusemmb('margin-top', 90)
          @include vwplusemmb('border-radius', 50)
          @include vwplusemmb('padding-right', 50)
          span
            $f: 30
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('line-height', 94, $f)
            &:after, &:before
              @include vwplusemmb('height', 4, $f)
              @include vwplusemmb('width', 26, $f)
              @include vwplusemmb('right', 0, $f)