footer.footer
    .container
        .footer__wrapper
            .slide-count
                ul
                    li.active 01
                    li 02
                    li 03
                    li 04
                    li 05
                    li 06
                span / 06
            .copyright
                a(href='#') goodcall.com 2018 ©
                a(href='#') POLYARIX

footer.footer-other
    .social
        a(href='#' data-hover='Facebook') Facebook
        a(href='#' data-hover='instagram') instagram
        a(href='#' data-hover='linkedin') linkedin
    .info
        a(href='#' data-hover='goodcall.com 2018 ©') goodcall.com 2018 ©
        a(href='#' data-hover='POLYARIX') POLYARIX
.request-form
    .wrapper
        h2 Остались вопросы? Напишите нам!
        form(autocomplete="off")
            .left
                label
                    span Имя
                    input.field-js(name='name')
                label
                    span Телефон
                    input.field-js(type='number')
            .right
                label
                    span Сообщение
                    textarea.field-js
            button.main-btn
                span Отправить сообщение
        .close-popup-form