header.header
    .container
        a(href='#').logo
            svg: use(xlink:href='img/sprite-inline.svg#logo-white')
        a(href='#').logo-color
            svg: use(xlink:href='img/sprite-inline.svg#logo')

        a(href='#').tel.header-text
            svg: use(xlink:href='img/sprite-inline.svg#phone')
            span 8 (495) 647-70-57
        a(href='#').mail.header-text
            svg: use(xlink:href='img/sprite-inline.svg#mail')
            span frdo@ivscompany.com
        a(href='#').location.header-text
            svg: use(xlink:href='img/sprite-inline.svg#location')
            span 49000, Украина, г. Днепр, ул. Вознесенская, 108

        a(href='#').menu
            span меню
            .menu-burger
                .line
                .line
                .line

