.main-menu
    ul
        li
            a(href='#') О нас
        li
            a(href='#') Услуги
            .sub-menu
                a(href='#1' data-hover='Входящие звонки') Входящие звонки
                a(href='#2' data-hover='Исходящие звонки') Исходящие звонки
                a(href='#3' data-hover='Мессенджер') Мессенджер
        li
            a(href='#') Кейсы
        li
            a(href='#') Отзывы
        li
            a(href='#') Блог
        li
            a(href='#') Карьера
        li
            a(href='#') Контакты

    .menu-footer
        .social
            a(href='#' data-hover='Facebook') Facebook
            a(href='#' data-hover='instagram') instagram
            a(href='#' data-hover='linkedin') linkedin
        .languages
            a(href='#' data-hover='Rus').active Rus
            a(href='#' data-hover='Eng') Eng
        .info
            a(href='#').mobile 49000, Украина, г. Днепр, ул. Вознесенская, 108
            span goodcall.com 2018 ©
            a(href='#' data-hover='POLYARIX') POLYARIX