.about
  overflow: auto
  header.header
    a.header-text
      svg
        fill: $text-black
      span
        color: $text-black
      div
        background-color: $text-black
        &.menu-burger
          background-color: transparent!important
        &:before, &:after
          background-color: $text-black
    .menu
      span
        color: $text-black
    .menu-burger
      .line
        background-color: $text-black
      &:before, &:after
        background-color: $text-black
    .logo
      display: none
    .logo-color
      display: inline-block
  .footer-other
    z-index: 9
  .request-form
    position: fixed

  &-main
    background-color: #ffffff
    @include vwplusem('padding-top', 290)
    @include vwplusem('padding-bottom', 290)
    &__text
      @include vwplusem('width', 440)
      display: inline-block
      vertical-align: middle
      h1
        $f: 68
        @include vwplusem('margin-bottom', 50, $f)
        opacity: 0
        animation: header 0.7s ease 3.7s forwards
      p
        $f: 18
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 30, $f)
        @include vwplusem('margin-bottom', 45, $f)
        color: $text-black
        opacity: 0
        animation: paragraph 0.7s ease 4s forwards
      .main-btn
        border-color: $color-pink-main
        background-color: $color-pink-main
        opacity: 0
        animation: paragraph 0.7s ease 4.05s forwards
        span
          color: #ffffff
        &:before
          z-index: 0
          @include vwplusem('border-radius', 30)
        &:hover
          background-color: transparent
          span
            color: $color-pink-main

    &__image
      display: inline-block
      vertical-align: middle
      position: absolute
      right: 0
      @include vwplusem('top', 120)
      @include vwplusem('width', 960)
      @include vwplusem('height', 690)
      img
        width: 100%
        height: 100%
        object-fit: cover

  &-info
    background-color: #f1f2f6
    position: relative
    @include vwplusem('padding-top', 110)
    @include vwplusem('padding-bottom', 100)
    &--image
      margin-left: auto
      @include vwplusem('width', 1230)
      @include vwplusem('height', 700)
      @include vwplusem('margin-bottom', 100)
      position: relative
      @include vwplusem('right', -285)
      img
        width: 100%
        height: 100%
        object-fit: cover

    .wrapper
      position: relative
    .side-menu
      @include vwplusem('width', 130)
      //@include vwplusem('padding-left', 23)
      position: absolute
      top: 0
      &.fixed
        @include vwplusem('top', 80)
        position: fixed
        &.stop
          position: absolute
          left: 0
          @include vwplusem('bottom', 30)
          top: unset
      &:before
        content: ''
        position: absolute
        width: 2px
        height: 100%
        background-color: #d8d8d8
        left: 0
        top: 0
      //&:after
      //  content: ''
      //  position: absolute
      //  width: 2px
      //  @include vwplusem('height', 20)
      //  background-color: $color-pink-main
      //  left: 0
      //  top: 0
      a
        $f: 14
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 21, $f)
        @include vwplusem('margin-bottom', 30, $f)
        @include vwplusem('padding-left', 23, $f)
        color: #999999
        display: block
        @include mainTransition()
        position: relative
        &:before
          opacity: 0
          content: ''
          position: absolute
          width: 2px
          @include vwplusem('height', 20)
          background-color: $color-pink-main
          left: 0
          top: 0
          @include mainTransition()
        &.active
          &:before
            opacity: 1
        &:last-child
          margin-bottom: 0
        &.active, &:hover
          color: $color-pink-main
    .main
      @include vwplusem('padding-left', 285)
      .info-block
        display: block
        @include vwplusem('margin-bottom', 100)
        h5
          $f: 40
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 50, $f)
          display: block
          color: $text-black
          font-weight: 700
          @include vwplusem('margin-bottom', 30, $f)
        h6
          $f: 20
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 26, $f)
          display: block
          color: $text-black
          font-weight: 700
          @include vwplusem('margin-bottom', 10, $f)

        p
          $f: 16
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 26, $f)
          display: block
          color: $text-black
          @include vwplusem('margin-bottom', 36, $f)





  .work
    position: relative
    .image
      display: block
      @include vwplusem('height', 675)
      position: relative
      img
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
    .text
      width: 100%
      @include absCenter
      text-align: center
      h5
        display: block
        $f: 68
        @include vwplusem('font-size', $f)
        color: #ffffff
        font-weight: 700
        @include vwplusem('margin-bottom', 60, $f)
      .main-btn
        background-color: transparent
        border-color: #ffffff
        @include vwplusem('width', 200)
        &:before
          background-color: #ffffff
        &:hover
          border-color: transparent
          span
            color: $text-black

    footer.footer-other
      a
        color: #ffffff
        &:before
          color: #ffffff

@media screen and (max-width: 1280px)
  .about-info--image
    width: 86em
