.blog
  header.header
    a.header-text
      span
        color: $text-black
      div
        background-color: $text-black
        &.menu-burger
          background-color: transparent!important
        &:before, &:after
          background-color: $text-black
    .menu
      span
        color: $text-black
    .menu-burger
      .line
        background-color: $text-black
      &:before, &:after
        background-color: $text-black
    .logo
      display: none
    .logo-color
      display: inline-block

.blog-main
  @include vwplusem('padding-top', 120)
  .breadcrumbs
    @include vwplusem('margin-bottom', 40)
  &__inner
    display: flex
  .blog-main--left
    display: inline-block
    vertical-align: top
    width: 50%
    h1
      $f: 68
      @include vwplusem('margin-bottom', 30, $f)
    .blog-slider
      @include vwplusem('padding-left', 0)
      @include vwplusem('padding-right', 60)
      @include vwplusem('height', 375)
      width: 100%
      display: block
      .slide
        display: block
        @include vwplusem('height', 375)
        img
          height: 100%
          width: 100%
          object-fit: cover
      .slick-dots
        display: none!important
      .slider-arrow
        position: absolute
        @include vwplusem('bottom', -118)
        border-color: rgba(34,35, 47, 0.15)
        @include mainTransition()
        &.arrow-left
          left: 0
          &:hover
            border-color: $color-pink-main
        &.arrow-right
          @include vwplusem('left', 80)
        svg
          circle#shape
            stroke: $color-pink-main
        &:before
          border-right-color: rgba(34,35, 47, 0.15)
          border-top-color: rgba(34,35, 47, 0.15)
          @include mainTransition()
        &:hover
          &:before
            border-right-color: $color-pink-main
            border-top-color: $color-pink-main

  .blog-main--right
    display: inline-block
    vertical-align: top
    width: 50%
    @include vwplusem('padding-top', 55)
    a
      $f: 14
      @include vwplusem('font-size', $f)
      font-weight: 500
      color: $color-pink-main
      @include mainTransition()
      position: relative
      @include vwplusem('padding-left', 20, $f)
      @include vwplusem('margin-bottom', 20, $f)
      display: inline-block
      cursor: pointer
      &:hover
        color: $color-pink-light
        &:before
          border-right: 2px solid $color-pink-light
          border-top: 2px solid $color-pink-light

      &:before
        content: ""
        position: absolute
        left: 0
        @include vwplusem('top', 3, $f)
        @include vwplusem('width', 8, $f)
        @include vwplusem('height', 8, $f)
        border-left: transparent
        border-bottom: transparent
        border-right: 2px solid $color-pink-main
        border-top: 2px solid $color-pink-main
        transform: rotate(-135deg)
        @include mainTransition()


    .blog__article
      .date
        p
          $f: 14
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 45, $f)
          @include vwplusem('margin-bottom', 0, $f)
          font-weight: 500
          color: $text-black
          opacity: .5
          display: block
      h5
        display: block
        $f: 40
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 50, $f)
        @include vwplusem('margin-bottom', 20, $f)
        font-weight: 700
        color: $text-black
      .text
        @include vwplusem('max-height', 370)
        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
          background-color: $color-pink-main

        .mCSB_scrollTools .mCSB_draggerRail
          background-color: #dddddd
        p
          $f: 16
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 26, $f)
          @include vwplusem('margin-bottom', 25, $f)
          color: $text-black
