.blogs-all
  header.header
    a.header-text
      span
        color: $text-black
      div
        background-color: $text-black
        &.menu-burger
          background-color: transparent!important
        &:before, &:after
          background-color: $text-black
    .menu
      span
        color: $text-black
    .menu-burger
      .line
        background-color: $text-black
      &:before, &:after
        background-color: $text-black
    .logo
      display: none
    .logo-color
      display: inline-block
  &__main
    @include vwplusem('padding-top', 120)
    .breadcrumbs
      @include vwplusem('margin-bottom', 40)
    .blogs-header
      display: flex
      justify-content: space-between
      @include vwplusem('margin-bottom', 30)
      .sorting
        display: inline-flex
        align-self: flex-end
        align-items: center
        @include vwplusem('margin-bottom', 5)
        @include vwplusem('padding-right', 20)
        p, a
          display: inline-block
          vertical-align: middle
          $f: 14
          @include vwplusem('font-size', $f)
          font-weight: 500
          color: $text-black
        p
          opacity: 0.5
          margin-right: 4px

        .select-items
          height: auto
          padding: 0
          border: none
          @include vwplusem('width', 130)
          &:after
            @include vwplusem('right', -10)
            border-bottom: 2px solid $text-black
            border-right: 2px solid $text-black
          span.current
            display: inline-block
            vertical-align: middle
            $f: 14
            @include vwplusem('font-size', $f)
            font-weight: 500
            color: $text-black
          .list
            @include vwplusem('width', 160)
            box-shadow: 0 6px 30px 0 rgba(34, 35, 48, 0.2)
            border-radius: 0
            &:hover
              li.selected
                background-color: $color-pink-main!important
                color: #ffffff
            li
              $f: 14
              @include vwplusem('font-size', $f)
              @include vwplusem('line-height', 45, $f)
              font-weight: 500
              color: $text-black
              &.selected
                background-color: $color-pink-main
                color: #ffffff


  &__articles
    display: flex
    .last-blog, .list-blog
      display: inline-flex
      width: 50%
      flex-wrap: wrap
    .last-blog
      @include vwplusem('padding-right', 125)
      flex-direction: column
      .date
        display: block
        @include vwplusem('margin-bottom', 10)
        p
          $f: 14
          @include vwplusem('font-size', $f)
          font-weight: 500
          color: $text-black
          opacity: 0.5
          margin-bottom: 0
      a.head
        $f: 40
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 50, $f)
        color: $text-black
        font-weight: 700
        display: block
        opacity: 1
        @include vwplusem('margin-bottom', 20, $f)
      p
        display: block
        $f: 16
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 26, $f)
        color: $text-black
        font-weight: 400
        @include vwplusem('margin-bottom', 37, $f)
      a
        $f: 14
        @include vwplusem('font-size', $f)
        color: $text-black
        font-weight: 700
        @include mainTransition()
        opacity: 0.6
        &:hover
          opacity: 1

    .list-blog
      @include vwplusem('max-height', 540)
      .mCSB_container
        @include vwplusem('padding-bottom', 30)
        @include vwplusem('padding-left', 20)
        @include vwplusem('padding-right', 20)
      .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
        background-color: $color-pink-main

        .mCSB_scrollTools .mCSB_draggerRail
          background-color: #dddddd
      .blog-article
        width: 100%
        @include vwplusem('height', 200)
        @include vwplusem('padding', 40)
        background-color: #ffffff
        position: relative
        z-index: 1
        @include mainTransition(0.4s)
        &:first-child
          @include vwplusem('margin-top', -40)
        &:hover
          box-shadow: 0 7px 30px 0 rgba(39, 43, 50, 0.12)
          z-index: 9
          &:before, &:after
            transform: rotate(1turn)
        .date
          display: block
          @include vwplusem('margin-bottom', 10)
          p
            $f: 14
            @include vwplusem('font-size', $f)
            font-weight: 500
            color: $text-black
            opacity: 0.5
            margin-bottom: 0
        a
          position: relative
          display: block
          $f: 20
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 28, $f)
          font-weight: 700
          color: $text-black
          &:before, &:after
            content: ''
            position: absolute
            @include vwplusem('height', 2, $f)
            @include vwplusem('width', 14, $f)
            left: 0
            @include vwplusem('bottom', -25, $f)
            background-color: $color-pink-main
            @include mainTransition()
          &:before
            transform: rotate(0)
          &:after
            transform: rotate(90deg)
          &:hover
            &:before
              transform: rotate(180deg)
            &:after
              transform: rotate(270deg)





