.careers
  overflow: auto
  header.header
    a.header-text
      svg
        fill: $text-black
      span
        color: $text-black
      div
        background-color: $text-black
        &.menu-burger
          background-color: transparent!important
        &:before, &:after
          background-color: $text-black
    .menu
      span
        color: $text-black
    .menu-burger
      .line
        background-color: $text-black
      &:before, &:after
        background-color: $text-black
    .logo
      display: none
    .logo-color
      display: inline-block
  .footer-other
    z-index: 9
  .request-form
    position: fixed

  .careers-main
    position: relative
    background-color: #ffffff
    @include vwplusem('padding-top', 290)
    @include vwplusem('padding-bottom', 220)
    min-height: 100vh
    height: auto
    &__text
      @include vwplusem('width', 420)
      display: inline-block
      vertical-align: middle
      h1
        $f: 68
        @include vwplusem('margin-bottom', 50, $f)
        opacity: 0
        animation: paragraph 0.7s ease 3.3s forwards
      p
        $f: 18
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 30, $f)
        color: $text-black
        opacity: 0
        animation: paragraph 0.7s ease 3.7s forwards
    &__image
      display: inline-block
      vertical-align: middle
      position: absolute
      right: 0
      @include vwplusem('top', 120)
      @include vwplusem('width', 960)
      @include vwplusem('height', 690)
      img
        width: 100%
        height: 100%
        object-fit: cover

  &-offers
    display: block
    @include vwplusem('padding-top', 175)
    @include vwplusem('padding-bottom', 145)
    position: relative
    background-color: #f1f2f6
    h2
      $f: 40
      @include vwplusem('font-size', $f)
      font-weight: 700
      color: $text-black
      @include vwplusem('margin-bottom', 20, $f)
    p
      $f: 16
      @include vwplusem('font-size', $f)
      color: $text-black

    &__image
      display: inline-block
      vertical-align: top
      @include vwplusem('width', 158)
      @include vwplusem('height', 158)
      cursor: pointer
      position: absolute
      top: 0
      transform: translateY(-50%)
      &:hover
        //.eye
        //  background-image: url('../img/pages/elems/icon-hireus.gif')
      @keyframes text-anim
        0%
          transform: rotate(0)
        to
          transform: rotate(1turn)
      .text
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        animation: text-anim 14s linear infinite
      .eye, #eye
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        transition: 0.5s ease
        cursor: pointer
        @include vwplusem('width', 60)
        @include vwplusem('height', 60)
        z-index: 99
        //background-image: url('../img/pages/elems/icon-hireus.png')
        //background-position: center
        //background-size: cover


        @keyframes eye-anim
          0%
            transform: translate(-50%, -50%) scaleY(1)
          50%
            transform: translate(-50%, -50%) scaleY(0)
          100%
            transform: translate(-50%, -50%) scaleY(1)

      img
        width: 100%
        height: 100%
        object-fit: cover

    &__inner
      display: flex
      justify-content: space-between

    &__info
      display: block
      @include vwplusem('width', 855)
      margin-left: auto

    .main-btn
      border-color: $color-pink-main
      @include vwplusem('margin-top', 60)
      &:before
        background-color: $color-pink-main
      &:hover
        span
          color: #ffffff
      span
        color: $color-pink-main


    &__table
      display: block
      @include vwplusem('margin-top', 90)

      &--row
        display: flex
        justify-content: space-between
        @include vwplusem('padding-bottom', 15)
        @include vwplusem('padding-top', 15)
        border-bottom: 1px solid #c7c8ce


        .number
          position: relative
          @include vwplusem('padding-left', 50)
          p
            $f: 18
            @include vwplusem('font-size', $f)

            color: $text-black
            opacity: .4
            font-weight: 700
            position: relative
          &:before
            content: ''
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            @include vwplusem('width', 35)
            height: 2px
            background-color: #20222e

        .text
          p
            $f: 20
            @include vwplusem('font-size', $f)
            @include vwplusem('padding-left', 40, $f)
            color: $text-black
            font-weight: 700
            text-align: right