.careers-all
  header.header
    a.header-text
      svg
        fill: $text-black!important
      span
        color: $text-black
      div
        background-color: $text-black
        &.menu-burger
          background-color: transparent!important
        &:before, &:after
          background-color: $text-black
    .menu
      span
        color: $text-black
    .menu-burger
      .line
        background-color: $text-black
      &:before, &:after
        background-color: $text-black
    .logo
      display: none
    .logo-color
      display: inline-block

  &__main
    @include vwplusem('padding-top', 100)
    .breadcrumbs
      @include vwplusem('margin-bottom', 40)
    &--inner
      display: flex
      justify-content: space-between
      .left
        @include vwplusem('width', 440)
        .careers-header
          @include vwplusem('margin-bottom', 30)
          position: relative
          display: inline-block
          span
            position: absolute
            $f: 14
            @include vwplusem('font-size', $f)
            @include vwplusem('line-height', 25, $f)
            @include vwplusem('width', 25, $f)
            @include vwplusem('right', -20, $f)
            top: 0
            text-align: center
            color: $text-black
            border-radius: 50%
            background-color: #e8e8ea
            font-weight: 500

        .info
          @include vwplusem('padding-top', 120)
          @include vwplusem('padding-left', 40)
          @include vwplusem('padding-right', 40)
          @include vwplusem('padding-bottom', 80)
          @include vwplusem('height', 440)
          width: 100%
          position: relative
          display: flex
          flex-direction: column
          justify-content: space-between
          img
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            object-fit: cover
          &--main
            display: flex
            justify-content: space-between
            position: relative
            .block
              p
                $f: 40
                @include vwplusem('font-size', $f)
                @include vwplusem('margin-bottom', 15, $f)
                line-height: 1
                color: #ffffff
                font-weight: 700
                display: block
              span
                $f: 16
                @include vwplusem('font-size', $f)
                @include vwplusem('line-height', 20, $f)
                color: #fff
          &--description
            position: relative
            p
              $f: 16
              @include vwplusem('font-size', $f)
              @include vwplusem('line-height', 26, $f)
              font-weight: 500
              color: #ffffff
              display: block

      .right
        @include vwplusem('width', 580)
        @include vwplusem('padding-top', 45)
        a.back
          $f: 14
          @include vwplusem('font-size', $f)
          font-weight: 500
          color: $color-pink-main
          @include mainTransition()
          position: relative
          @include vwplusem('padding-left', 20, $f)
          @include vwplusem('margin-left', 40, $f)
          @include vwplusem('margin-bottom', 40, $f)
          display: inline-block
          &:hover
            color: $color-pink-light
            &:before
              border-right: 2px solid $color-pink-light
              border-top: 2px solid $color-pink-light
          &:before
            content: ""
            position: absolute
            left: 0
            @include vwplusem('top', 3, $f)
            @include vwplusem('width', 8, $f)
            @include vwplusem('height', 8, $f)
            border-left: transparent
            border-bottom: transparent
            border-right: 2px solid $color-pink-main
            border-top: 2px solid $color-pink-main
            transform: rotate(-135deg)
            @include mainTransition()

        .list-vacancies
          @include vwplusem('max-height', 540)
          .mCSB_container
            @include vwplusem('padding-bottom', 30)
            @include vwplusem('padding-left', 20)
            @include vwplusem('padding-right', 20)
          .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
            background-color: $color-pink-main
            .mCSB_scrollTools .mCSB_draggerRail
              background-color: #dddddd

          .career-article
            width: 100%
            @include vwplusem('height', 200)
            @include vwplusem('padding', 40)
            background-color: #ffffff
            position: relative
            z-index: 1
            @include mainTransition(0.4s)
            &:first-child
              @include vwplusem('margin-top', -40)
            &:hover
              box-shadow: 0 10px 30px 0 rgba(39, 43, 50, 0.12)
              z-index: 9
              &:before, &:after
                transform: rotate(1turn)
            .date
              display: block
              @include vwplusem('margin-bottom', 10)
              p
                $f: 14
                @include vwplusem('font-size', $f)
                font-weight: 500
                color: $text-black
                opacity: 0.5
                margin-bottom: 0
            a
              position: relative
              $f: 20
              @include vwplusem('font-size', $f)
              @include vwplusem('line-height', 28, $f)
              font-weight: 700
              color: $text-black
              &:before, &:after
                content: ''
                position: absolute
                @include vwplusem('height', 2, $f)
                @include vwplusem('width', 14, $f)
                left: 0
                @include vwplusem('bottom', -25, $f)
                background-color: $color-pink-main
                @include mainTransition()
              &:before
                transform: rotate(0)
              &:after
                transform: rotate(90deg)





