.vacancie
  overflow: auto
  header.header
    a.header-text
      svg
        fill: $text-black
      span
        color: $text-black
      div
        background-color: $text-black
        &.menu-burger
          background-color: transparent!important
        &:before, &:after
          background-color: $text-black
    .menu
      span
        color: $text-black
    .menu-burger
      .line
        background-color: $text-black
      &:before, &:after
        background-color: $text-black
    .logo
      display: none
    .logo-color
      display: inline-block
  footer.footer-other
    position: fixed

  .request-form
    position: fixed

  &__main
    @include vwplusem('padding-top', 100)
    @include vwplusem('padding-bottom', 0)
    .breadcrumbs
      @include vwplusem('margin-bottom', 40)
    &--inner
      display: flex
      justify-content: space-between
      .left
        @include vwplusem('width', 500)
        .careers-header
          @include vwplusem('margin-bottom', 30)
        .image
          display: block
          width: 100%
          @include vwplusem('height', 440)
          position: relative
          img
            width: 100%
            height: 100%
            display: block
            object-fit: cover
            left: 0

      .right
        @include vwplusem('width', 570)
        @include vwplusem('padding-top', 45)
        a.back
          $f: 14
          @include vwplusem('font-size', $f)
          font-weight: 500
          color: $color-pink-main
          @include mainTransition()
          position: relative
          @include vwplusem('padding-left', 20, $f)
          @include vwplusem('margin-bottom', 40, $f)
          display: inline-block
          &:hover
            color: $color-pink-light
            &:before
              border-right: 2px solid $color-pink-light
              border-top: 2px solid $color-pink-light
          &:before
            content: ""
            position: absolute
            left: 0
            @include vwplusem('top', 3, $f)
            @include vwplusem('width', 8, $f)
            @include vwplusem('height', 8, $f)
            border-left: transparent
            border-bottom: transparent
            border-right: 2px solid $color-pink-main
            border-top: 2px solid $color-pink-main
            transform: rotate(-135deg)
            @include mainTransition()


        .vacancie__info
          @include vwplusem('max-height', 540)
          .mCSB_container
            @include vwplusem('padding-bottom', 30)
          .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
            background-color: $color-pink-main
            .mCSB_scrollTools .mCSB_draggerRail
              background-color: #dddddd
          .date
            display: block
            @include vwplusem('margin-bottom', 15)
            p
              $f: 14
              @include vwplusem('font-size', $f)
              font-weight: 500
              color: #9ba9bb
          h3
            display: block
            $f: 40
            @include vwplusem('font-size', $f)
            @include vwplusem('line-height', 50, $f)
            font-weight: 700
            color: $text-black
            @include vwplusem('margin-bottom', 40, $f)

          &--block
            display: block
            &:first-of-type
              @include vwplusem('margin-bottom', 25)
            h5
              display: block
              $f: 20
              @include vwplusem('font-size', $f)
              @include vwplusem('line-height', 26, $f)
              color: $text-black
              font-weight: 700
              @include vwplusem('margin-bottom', 20, $f)
            ul
              padding-left: 0
              li
                $f: 16
                @include vwplusem('font-size', $f)
                @include vwplusem('line-height', 26, $f)
                color: $text-black
                @include vwplusem('margin-bottom', 20, $f)
                @include vwplusem('padding-left', 25, $f)
                position: relative
                &:before
                  content: ''
                  position: absolute
                  @include vwplusem('width', 7, $f)
                  @include vwplusem('height', 7, $f)
                  background-color: #6535f0
                  border-radius: 50%
                  left: 0
                  @include vwplusem('top', 10, $f)
          .main-btn
            border-color: $color-pink-main
            @include vwplusem('margin-top', 75)
            span
              color: $color-pink-main
            &:before
              background-color: $color-pink-main
            &:hover
              span
                color: #ffffff





