.cases
  overflow: auto
  header.header
    a.header-text
      svg
        fill: $text-black
      span
        color: $text-black
      div
        background-color: $text-black
        &.menu-burger
          background-color: transparent!important
        &:before, &:after
          background-color: $text-black
    .menu
      span
        color: $text-black
    .menu-burger
      .line
        background-color: $text-black
      &:before, &:after
        background-color: $text-black
    .logo
      display: none
    .logo-color
      display: inline-block
  footer.footer-other
    a
      color: #ffffff
  .request-form
    position: fixed

  &__main
    @include vwplusem('padding-top', 120)
    &--inner
      position: relative
      @include vwplusem('height', 800)
      overflow: hidden
      &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(57, 51, 142, 0.75)
        z-index: 0
      img, video
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        object-fit: cover


      h1
        color: #ffffff
        @include absCenter
        z-index: 1

  &__info
    @include vwplusem('padding-top', 85)
    @include vwplusem('padding-bottom', 70)
    &--row
      display: flex
      justify-content: space-between
      @include vwplusem('margin-bottom', 100)
      //@include vwplusem('min-height', 600)
      //&:nth-child(-n+2)
      //  padding-top: 0
      &:nth-child(odd)
        .text
          order: -1
      &.short
        min-height: unset
        .text
          display: inline-block
          vertical-align: top
          @include vwplusem('width', 720)
          p
            $f: 20
            @include vwplusem('font-size', $f)
            @include vwplusem('line-height', 28, $f)
            padding-right: 0
            font-weight: 700
            color: $text-black
        .image
          cursor: pointer
          display: inline-block
          vertical-align: top
          position: relative
          @include vwplusem('width', 158)
          @include vwplusem('height', 158)
          .eye, #eye
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            transition: 0.5s ease
            cursor: pointer
            @include vwplusem('width', 60)
            @include vwplusem('height', 60)
            z-index: 99
            border-radius: 100%
            background-color: #7532f5
            overflow: hidden
          &:hover
            &:before, &:after
              transform: scale(1.1)  translate(-50%, -50%)
          &:before
            content: ''
            @include absCenter
            @include vwplusem('width', 50)
            @include vwplusem('height', 50)
            border-radius: 50%
            background-color: #6737f6
            @include mainTransition(0.3s)
            z-index: 0
            transform-origin: 0% 0%
          &:after
            content: '+'
            @include absCenter
            color: #ffffff
            $f: 16
            @include vwplusem('font-size', $f)
            font-weight: 500
            @include mainTransition(0.3s)
            transform-origin: 0% 0%

          .request-form-active
            animation: cases-text-anim 14s linear infinite
          @keyframes cases-text-anim
            from
              transform: rotate(0)
            to
              transform: rotate(1turn)
          img
            width: 100%
            height: 100%
            display: block

      .image
        display: inline-flex
        align-self: center
        @include vwplusem('width', 500)
        @include vwplusem('height', 400)
        cursor: url("../img/pages/elems/cursor-case.png"), auto

        img
          width: 100%
          height: 100%
          object-fit: cover
          @include mainTransition(0.25s)
      .text
        display: inline-flex
        align-self: center
        flex-wrap: wrap
        @include vwplusem('width', 570)
        //@include vwplusem('padding-right', 170)
        a.head
          display: block
          $f: 40
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 50, $f)
          font-weight: 700
          @include vwplusem('margin-bottom', 20, $f)
          color: $text-black
        span
          $f: 16
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 26, $f)
          width: 100%
          display: block
          opacity: .5
          @include vwplusem('margin-bottom', 20, $f)
        p
          display: block
          $f: 16
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 26, $f)
          @include vwplusem('padding-right', 100, $f)
          @include vwplusem('margin-bottom', 34, $f)
          color: $text-black
        a
          $f: 14
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 26, $f)
          font-weight: 600
          color: $color-pink-main
          width: 100%
          display: block

  .work
    position: relative
    .image
      display: block
      @include vwplusem('height', 675)
      position: relative
      img
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
    .text
      width: 100%
      @include absCenter
      text-align: center
      h5
        display: block
        $f: 68
        @include vwplusem('font-size', $f)
        color: #ffffff
        font-weight: 700
        @include vwplusem('margin-bottom', 60, $f)
      .main-btn
        background-color: transparent
        border-color: #ffffff
        @include vwplusem('width', 200)
        &:before
          background-color: #ffffff
        &:hover
          span
            color: $text-black
        span
          color: #ffffff
    .footer-other
      a
        color: #ffffff
        &:before
          color: #ffffff



