.contact
  overflow: auto
  header.header
    &.header--light
      a.header-text
        span
          color: #fff
        div
          background-color: #fff!important
          &.menu-burger
            background-color: transparent!important
          &:before, &:after
            background-color: #fff!important
      .menu
        span
          color: #fff
      .menu-burger
        .line
          background-color: #fff
        &:before, &:after
          background-color: #fff


    a.header-text
      svg
        fill: $text-black
      span
        color: $text-black
      div
        background-color: $text-black
        &.menu-burger
          background-color: transparent!important
        &:before, &:after
          background-color: $text-black
    .menu
      span
        color: $text-black
    .menu-burger
      .line
        background-color: $text-black
      &:before, &:after
        background-color: $text-black
    .logo
      display: none
    .logo-color
      display: inline-block
  .footer-other
    z-index: 9
    a
      color: #757689



  &-main
    background-color: #ffffff
    @include vwplusem('padding-top', 120)
    @include vwplusem('padding-bottom', 200)
    position: relative
    .contact-link
      position: absolute
      bottom: 0
      @include vwplusem('right', 390)
      @include vwplusem('width', 158)
      @include vwplusem('height', 158)
      transform: translateY(50%)
      @include mainTransition(0.3s)
      &:before
        content: ''
        display: none
        @include absCenter
        @include vwplusem('width', 44)
        @include vwplusem('height', 44)
        background-color: $color-pink-main
        border-radius: 50%
      &:hover
        img
          transform: rotate(1turn)
        .eye
          img
            transform: none
      img
        @include mainTransition(0.5s)
        display: block
        position: absolute
        width: 100%
        height: 100%
      .eye, #eye
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        transition: 0.5s ease
        cursor: pointer
        @include vwplusem('width', 60)
        @include vwplusem('height', 60)
        z-index: 99
    &__inner
      display: block
      @include vwplusem('width', 490)
      h1
        $f: 68
        @include vwplusem('margin-bottom', 90, $f)
        opacity: 0
        animation: header 0.7s ease 3.3s forwards

      table
        display: block
        width: 100%
        opacity: 0
        animation: paragraph 0.7s ease 3.6s forwards
        td
          $f: 16
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 26, $f)
          @include vwplusem('padding-bottom', 40, $f)
          color: $text-black
          width: 50%
          vertical-align: top
          span
            display: block
          &:first-child
            opacity: 0.5
            font-weight: 700
          &:last-child
            font-weight: 500

    #map
      position: absolute
      right: 0
      top: 0
      background-color: #eeeeee
      @include vwplusem('width', 900)
      @include vwplusem('height', 500)

  &-form
    background-color: #222330
    @include vwplusem('padding-top', 180)
    @include vwplusem('padding-bottom', 180)
    h2
      $f: 40
      @include vwplusem('font-size', $f)
      @include vwplusem('line-height', 54, $f)
      color: #ffffff
      font-weight: 700
      display: block
      @include vwplusem('width', 420, $f)
      @include vwplusem('margin-bottom', 90, $f)
    form
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      @include vwplusem('padding-left', 138)
      @include vwplusem('padding-right', 138)
      .left, .right
        display: inline-flex
        flex-wrap: wrap
        @include vwplusem('width', 405)
      .left
        label
          display: block
          width: 100%
          position: relative
          &:after
            content: ''
            position: absolute
            width: 100%
            height: 2px
            bottom: 0
            left: 0
            z-index: 1
            background: rgba(255, 255, 255, 0.3)
          &:before
            content: ''
            position: absolute
            width: 0%
            height: 2px
            z-index: 2
            bottom: 0
            left: 0
            background: #ffffff
            @include mainTransition(0.3s)

          &:first-child
            @include vwplusem('margin-bottom', 45)
          &.focus
            &:before
              width: 100%
            span
              $f: 14
              @include vwplusem('font-size', $f)
              opacity: .3
              transform: translateY(-50%)
          span
            position: absolute
            top: 0
            left: 0
            display: block
            width: 100%
            $f: 16
            @include vwplusem('font-size', $f)
            @include vwplusem('padding-top', 20, $f)
            @include vwplusem('padding-bottom', 20, $f)
            color: #ffffff
            @include mainTransition(0.2s)
          input
            display: block
            width: 100%
            background-color: transparent
            $f: 16
            @include vwplusem('font-size', $f)
            @include vwplusem('padding-top', 20, $f)
            @include vwplusem('padding-bottom', 20, $f)
            color: #ffffff
            @include mainTransition()

      .right
        label
          display: block
          width: 100%
          position: relative
          &:after
            content: ''
            position: absolute
            width: 100%
            height: 2px
            bottom: 0
            left: 0
            z-index: 1
            background: rgba(255, 255, 255, 0.3)
          &:before
            content: ''
            position: absolute
            width: 0%
            height: 2px
            z-index: 2
            bottom: 0
            left: 0
            background: #ffffff
            @include mainTransition(0.3s)
          &.focus
            &:before
              width: 100%
            span
              $f: 14
              @include vwplusem('font-size', $f)
              opacity: .3
              transform: translateY(-50%)
          span
            position: absolute
            top: 0
            left: 0
            display: block
            width: 100%
            $f: 16
            @include vwplusem('font-size', $f)
            @include vwplusem('padding-top', 20, $f)
            @include vwplusem('padding-bottom', 20, $f)
            color: #ffffff
            @include mainTransition(0.2s)
          textarea
            display: block
            width: 100%
            height: 100%
            background-color: transparent
            resize: none
            border: none
            $f: 16
            @include vwplusem('font-size', $f)
            @include vwplusem('padding-top', 20, $f)
            @include vwplusem('padding-bottom', 20, $f)
            color: #ffffff
      .main-btn
        background-color: $color-pink-main
        border-color: $color-pink-main
        @include vwplusem('margin-top', 80)
        &:before
          background-color: #4a26ad

        &:hover
          border-color: #4a26ad
          span
            color: #ffffff