.error-page
  .header
    .header-text
      &.location
        svg
          fill: $text-black
        span
          color: $text-black
    .menu
      span
        color: $text-black
      &-burger
        &:before, &:after, .line
          background-color: $text-black
  .footer-other
    .social
      a
        color: #ffffff

  &__main
    position: absolute
    height: 100%
    width: 100%
    left: 0
    top: 0
    &--bg
      position: absolute
      width: 50%
      height: 100%
      left: 0
      top: 0
      background-color: #22232f
      z-index: -1
    &--image
      position: absolute
      width: 50%
      height: 100%
      right: 0
      top: 0
      background-color: #ffffff
      img
        position: absolute
        width: 100%
        height: auto
        right: 0
        top: 50%
        transform: translateY(-50%)

    .wrapper
      position: absolute
      top: 50%
      transform: translateY(-50%)
      display: flex
      justify-content: space-between
      max-width: 100%
      width: 100%
      @include vwplusem('padding-left', 390)
      @include vwplusem('padding-right', 390)
      h1
        $f: 200
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 200, $f)
        color: #ffffff
        font-weight: 700
        display: inline-flex
        flex-wrap: wrap
        align-self: center
      .text
        @include vwplusem('width', 430)
        @include vwplusem('padding-right', 100)
        display: inline-flex
        flex-wrap: wrap
        align-self: center
        p
          $f: 20
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 26, $f)
          @include vwplusem('margin-bottom', 60, $f)
          color: $text-black
          font-weight: 700
        a
          $f: 14
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 36, $f)
          font-weight: 700
          color: $color-pink-main
          @include mainTransition()
          &:hover
            color: $color-pink-light
