.index
  .footer
    display: block
  .footer-other
    display: none
  .main-section
    .container
      height: 100%

    .show-scroll
      &.animate
        &:after
          animation: move 6s ease-out infinite
      &:after
        background-color: #ffffff

    .bg-left, .bg-right
      position: absolute
      width: 50%
      height: 100%
      top: 0
      z-index: -1
      img
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
    .bg-right
      right: 0
    .bg-left
      left: 0
      //opacity: 0.3
    &__info
      display: inline-flex
      @include vwplusem('width', 780)
      height: 100%
      flex-wrap: wrap
      align-self: center
      flex-direction: column
      justify-content: center
      h1
        display: block
        $f: 64
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 70, $f)
        @include vwplusem('margin-bottom', 26, $f)
        font-weight: 700
        color: #ffffff
        svg
          display: inline-block
          @include vwplusem('height', 52, $f)
          @include vwplusem('width', 275, $f)
      p
        $f: 20
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 30, $f)
        @include vwplusem('margin-bottom', 60, $f)
        @include vwplusem('width', 445, $f)
        color: #ffffff

    &__services
      bottom: 0
      position: absolute
      left: 50%
      transform: translateX(-50%)
      display: flex
      align-items: flex-end
      &--card
        display: inline-block
        vertical-align: bottom
        @include vwplusem('width', 380)
        @include vwplusem('height', 180)
        background-color: #ffffff
        @include vwplusem('padding-left', 38)
        @include vwplusem('padding-right', 30)
        @include vwplusem('padding-bottom', 30)
        @include vwplusem('padding-top', 43)
        @include mainTransition(0.25s)
        position: relative
        z-index: 1
        &:nth-of-type(2)
          border-left: 1px solid #cccdd2
          border-right: 1px solid #cccdd2
        &:hover
          @include vwplusem('height', 185)
          @include vwplusem('padding-top', 48)
          box-shadow: 0 10px 40px 0 rgba(2, 43, 70, 0.52)
          z-index: 4
        span
          display: block
          $f: 10
          @include vwplusem('font-size', $f)
          @include vwplusem('margin-bottom', 13, $f)
          font-weight: 700
          text-transform: uppercase
          color: #9fa3b2
        span.head
          display: block
          $f: 20
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 26, $f)
          @include vwplusem('margin-bottom', 20, $f)
          font-weight: 700
          text-transform: none
          color: $text-black
          &:hover
            color: $text-black
        span.more
          display: block
          $f: 14
          @include vwplusem('font-size', $f)
          @include vwplusem('margin-bottom', 3, $f)
          font-weight: 700
          color: $text-black
          text-transform: none
          @include mainTransition()
          &:hover
            color: $color-pink-main
        .number
          display: block
          text-align: right
          $f: 18
          @include vwplusem('font-size', $f)
          margin-bottom: 0
          font-weight: 700
          color: #b6bacc
          text-transform: none

    &__menu
      .header-text.location
        span
          color: $text-black
      .menu
        span
          color: $text-black
        .menu-burger
          .line
            background-color: #484343

          &:before
            background-color: #484343

          &:after
            background-color: #484343
    &__footer
      .copyright
        a
          color: $text-black

  .service
    h2
      position: absolute
      $f: 68
      @include vwplusem('font-size', $f)
      font-weight: 700
      @include vwplusem('top', 165, $f)
      @include vwplusem('left', 53, $f)
      z-index: 1
      color: #ffffff
    &__inner
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 0
    &__slider
      display: block
      width: 100%
      height: 100%
      .slick-arrow
        position: absolute
        &.arrow-left
          right: 42%
        &.arrow-right
          right: 38%

      .slick-dots
        position: absolute
        @include vwplusem('bottom', 227)
        //@include vwplusem('left', 806)
        left: 40%
        li
          display: inline-block
          @include vwplusem('margin-right', 19)
          @include vwplusem('width', 10)
          @include vwplusem('height', 10)
          cursor: pointer
          button
            opacity: 0
          &.slick-active
            &:after
              border: 2px solid #fff
          &:after
            content: ''
            position: absolute
            @include vwplusem('width', 6)
            @include vwplusem('height', 6)
            border: 2px solid rgba(255, 255, 255, 0.3)
            border-radius: 100%
            @include mainTransition()

      &--bg
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: -1
        img
          position: absolute
          width: 100%
          height: 100%
          object-fit: cover

      &--slide
        position: relative
        height: 100vh

      &--wrapper
        display: flex
        height: 100%
        @include vwplusem('padding-top', 118)
        @include vwplusem('padding-bottom', 140)
        .left
          width: 50%
          display: inline-flex
          flex-direction: column
          flex-wrap: wrap
          background-color: rgba(57, 51, 142, 0.8)
          @include vwplusem('padding-top', 60)
          @include vwplusem('padding-bottom', 70)
          @include vwplusem('padding-left', 80)
          @include vwplusem('padding-right', 80)
          position: relative
          @include mainTransition()
          &:hover
            background-color: rgba(57, 51, 142, 1)
          h5
            display: block
            $f: 34
            @include vwplusem('font-size', $f)
            @include vwplusem('line-height', 46, $f)
            @include vwplusem('margin-bottom', 30, $f)
            @include vwplusem('width', 200, $f)
            font-weight: 700
            color: #ffffff
          p
            display: block
            $f: 16
            @include vwplusem('font-size', $f)
            @include vwplusem('line-height', 26, $f)
            @include vwplusem('width', 425, $f)
            color: #ffffff
          a
            display: block
            position: absolute
            $f: 16
            @include vwplusem('font-size', $f)
            @include vwplusem('line-height', 30, $f)
            @include vwplusem('bottom', 80, $f)
            @include vwplusem('padding-right', 25, $f)
            font-weight: 500
            color: #ffffff
            &:after, &:before
              content: ''
              position: absolute
              background-color: #ffffff
              right: 0
              @include vwplusem('height', 2, $f)
              @include vwplusem('width', 14, $f)
              @include vwplusem('bottom', 14, $f)
              @include mainTransition(0.3s)
            &:after
              transform: rotate(90deg)
            &:hover
              &:before
                transform: rotate(180deg)
              &:after
                transform: rotate(270deg)
        .right
          width: 50%
          display: inline-flex
          background-color: rgba(0, 0, 0, 0.4)
          @include vwplusem('padding-top', 66)
          @include vwplusem('padding-bottom', 70)
          @include vwplusem('padding-left', 80)
          @include vwplusem('padding-right', 80)
          cursor: url("../img/pages/elems/cursor.png"), auto
          ul
            li
              $f: 16
              @include vwplusem('font-size', $f)
              @include vwplusem('line-height', 20, $f)
              @include vwplusem('margin-bottom', 20, $f)
              color: #ffffff

  .needs
    background-color: #ffffff
    .pp-tableCell
      &:before
        content: ''
        position: absolute
        width: 50%
        height: 100%
        background-color: #f1f2f6
        z-index: -1
        top: 0
        left: 0
    &__bg
      position: absolute
      top: 0
      right: 0
      width: 50%
      height: 50%
      z-index: -1
      img
        width: 100%
        height: 100%
        object-fit: cover
    &__inner
      display: flex
      flex-wrap: wrap
      &--left,&--right
        width: 50%
        display: inline-flex
        flex-wrap: wrap
      &--left
        @include vwplusem('padding-right', 110)
        h4
          $f: 68
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 80, $f)
          @include vwplusem('width', 520, $f)
          @include vwplusem('margin-bottom', 65, $f)
          font-weight: 700
          display: block
        ul
          display: block
          li
            $f: 16
            @include vwplusem('font-size', $f)
            @include vwplusem('line-height', 24, $f)
            @include vwplusem('margin-bottom', 20, $f)
            @include vwplusem('padding-left', 20, $f)
            font-weight: 500
            display: block
            position: relative
            &:before
              content: ''
              position: absolute
              left: 0
              @include vwplusem('top', 9, $f)
              @include vwplusem('width', 7, $f)
              @include vwplusem('height', 7, $f)
              border-radius: 50%
              background-color: $color-pink-main

      &--right
        @include vwplusem('padding-left', 78)
        @include vwplusem('margin-top', 208)
        .tabs
          ul
            display: flex
            @include vwplusem('margin-bottom', 170)
            li
              display: inline-block
              vertical-align: middle
              @include vwplusem('width', 126)
              @include vwplusem('margin-right', 53)
              &:last-child
                margin-right: 0
              a
                $f: 16
                @include vwplusem('font-size', $f)
                @include vwplusem('line-height', 26, $f)
                color: #ffffff
                font-weight: 700
                opacity: 0.6
                display: block
                &.active
                  opacity: 1
          &-content
            &>div
              display: none
              @include vwplusem('padding-left', 80)
              &.active
                display: block
              p
                $f: 16
                @include vwplusem('font-size', $f)
                @include vwplusem('line-height', 26, $f)
                font-weight: 500
                display: block
                position: relative
                color: $text-black
                &:before
                  content: ''
                  position: absolute
                  left: 0
                  @include vwplusem('top', -38, $f)
                  @include vwplusem('width', 56, $f)
                  @include vwplusem('height', 2, $f)
                  background-color: $color-pink-main

  .advantages
    background-color: #ffffff
    .pp-tableCell
      &:before
        content: ''
        position: absolute
        width: 50%
        height: 50%
        top: 0
        left: 0
        background-color: #f1f2f6
        z-index: -1
    h2
      $f: 68
      @include vwplusem('font-size', $f)
      @include vwplusem('line-height', 76, $f)
      @include vwplusem('width', 570, $f)
      @include vwplusem('margin-bottom', 250, $f)
      color: $text-black
      font-weight: 700
      //background: linear-gradient(to right, rgba(255,255,255, 1) 0%, rgba(255, 255, 255, 0.6) 85%, rgba(255, 255, 255, 0) 100%)
      //background: linear-gradient(90deg,#fff 0,hsla(0,0%,100%, 1) 60%,hsla(0,0%,100%,0.5) 100%)

    .mCSB_container
      height: 100%
      padding-left: 20px
      //&:before
      //  content: ''
      //  position: absolute
      //  left: 0
      //  top: 0
      //  height: 40%
      //  width: 100%
      //  background: linear-gradient(to right, #fff, rgba(255,255,255,0))

    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
      background-color: $color-pink-main

    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail
      background-color: #dddddd

    .mCSB_scrollTools.mCSB_scrollTools_horizontal
      margin-left: 20px

    .mCSB_buttonRight
      //@include vwplusem('left', -280)
      //@include vwplusem('top', -160)
      @include vwplusem('width', 64)
      @include vwplusem('height', 64)
      @include vwplusem('margin-top', 15)
      @include vwplusem('margin-top', -60)
      .slider-arrow.arrow-right
        position: relative
        top: 0
        left: 0
        right: 0
        border-color: #dedede
        @include mainTransition(0.3s)
        &:hover
          border-color: $color-pink-main
          &:before
            border-color: $color-pink-main
        &:before
          border-color: #dedede

    .mCSB_buttonLeft
      //@include vwplusem('left', -280)
      //@include vwplusem('top', -240)
      @include vwplusem('width', 64)
      @include vwplusem('height', 64)
      @include vwplusem('margin-top', 10)
      .slider-arrow.arrow-left
        position: relative
        top: 0
        left: 0
        right: 0
        border-color: #dedede
        @include mainTransition(0.3s)
        &:hover
          border-color: $color-pink-main
          &:before
            border-color: $color-pink-main
        &:before
          border-color: #dedede

    &__bg
      position: absolute
      right: 0
      top: 0
      width: 100%
      height: 50%
      z-index: -2
      img
        width: 50%
        height: 100%
        object-fit: cover
        position: absolute
        right: 0
        top: 0
      &:before
        position: absolute
        top: 0
        left: 0
        width: 50%
        height: 100%
        background-color: #f1f2f6

    &__view
      position: absolute
      overflow-x: auto
      white-space: nowrap
      right: 0
      top: 50%
      transform: translateY(-50%)
      z-index: -1
      @include vwplusem('width', 1245)
      @include vwplusem('height', 500)

      &--block
        display: inline-block
        vertical-align: top
        background-color: rgb(255, 255, 255)
        box-shadow: 0 10px 40px 0 rgba(23, 28, 31, 0.15)
        @include vwplusem('width', 570)
        @include vwplusem('height', 440)
        @include vwplusem('margin-right', 30)
        @include vwplusem('padding-top', 250)
        @include vwplusem('padding-left', 60)
        @include vwplusem('padding-right', 60)
        position: relative
        white-space: normal
        .icon
          @include vwplusem('width', 75)
          @include vwplusem('height', 85)
          position: absolute
          @include vwplusem('right', 60)
          @include vwplusem('top', 60)
          svg, img
            display: block
            width: 100%
            height: 100%
        h6
          $f: 34
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 40, $f)
          font-weight: 700
          color: $text-black
          @include vwplusem('margin-bottom', 26, $f)
          display: block
          color: $color-pink-main
        p
          display: block
          $f: 16
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 28, $f)
          font-weight: 400
          color: $text-black

  .reviews
    background-color: #ffffff
    h3
      $f: 68
      @include vwplusem('font-size', $f)
      @include vwplusem('line-height', 76, $f)
      @include vwplusem('margin-bottom', 65, $f)
      @include vwplusem('padding-left', 15, $f)
      color: $text-black
      font-weight: 700

    .wrapper
      position: relative
      overflow: hidden

    &__bg
      position: absolute
      width: 100%
      bottom: 0
      left: 0
      z-index: -2
      background-color: #f1f2f6
      @include vwplusem('height', 350)

    &-slider
      display: block
      position: relative
      @include vwplusem('padding-left', 15)
      @include vwplusem('padding-bottom', 165)
      z-index: 3
      .slick-list
        overflow: visible
      .slider-arrow
        position: absolute
        border: 2px solid #dadada
        @include vwplusem('bottom', 30)
        z-index: 1
        background-color: #ffffff
        &:hover
          &:before
            border-color: $color-pink-main
        &:before
          content: ''
          position: absolute
          top: 50%
          left: 50%
          @include vwplusem('width', 8)
          @include vwplusem('height', 8)
          border-left: transparent
          border-bottom: transparent
          border-right: 2px solid #dadada
          border-top: 2px solid #dadada
          @include mainTransition()

        &.arrow-left
          @include vwplusem('left', 0)
          &:before
            transform: translate(-50%, -50%) rotate(-135deg)

        &.arrow-right
          @include vwplusem('left', 75)
          &:before
            transform: translate(-50%, -50%) rotate(45deg)
          svg
            stroke: $color-pink-main
            #shape
              fill: none
              stroke: $color-pink-main
              stroke-dashoffset: -300
              &.animate
                animation: circle 4.2s linear forwards
            @keyframes circle
              0%
                stroke-dashoffset: -300
              100%
                stroke-dashoffset: -500


      &--slide
        display: block
        position: relative
        &.slick-current
          .content
            .company, .text
              opacity: 1
              transform: translateY(0%)
          .image
            box-shadow: 0 22px 30px 0 rgba(43, 50, 66, 0.12)
            @include vwplusem('right', 150)
            opacity: 1

        .content
          display: inline-block
          vertical-align: top
          @include vwplusem('width', 490)
          .company
            display: block
            @include vwplusem('margin-bottom', 34)
            opacity: 0
            transform: translateY(20%)
            transition: 0.2s linear
            transition-delay: 0.6s
            h6
              display: block
              $f: 30
              @include vwplusem('font-size', $f)
              @include vwplusem('line-height', 40, $f)
              color: $text-black
              @include vwplusem('margin-bottom', 15, $f)
            span
              display: block
              $f: 14
              @include vwplusem('font-size', $f)
              color: $text-black
              opacity: 0.5
          .text
            position: relative
            transform: translateY(20%)
            opacity: 0
            transition: 0.2s ease-out
            transition-delay: 0.8s
            p
              $f: 16
              @include vwplusem('font-size', $f)
              @include vwplusem('line-height', 26, $f)
              color: $text-black
              @include vwplusem('max-height', 100, $f)
              overflow: hidden
            &:hover
              .text__hover
                opacity: 0.9
            &__hover
              position: absolute
              opacity: 0
              background-color: #ffffff
              @include mainTransition(0.3s)
              width: 100%
              height: 100%
              top: 0
              left: 0
              a
                $f: 14
                @include vwplusem('font-size', $f)
                text-decoration: none
                color: $color-pink-main
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
        .image
          display: block
          position: absolute
          @include vwplusem('top', -120)
          @include vwplusem('right', 60)
          @include vwplusem('width', 420)
          @include vwplusem('height', 580)
          opacity: 0
          transition: 0.3s ease-out
          transition-delay: 0.4s
          img
            display: block
            max-width: 100%
            height: auto

    &-slider-nav
      position: relative
      background-color: transparent
      bottom: 0
      z-index: 1
      //@include vwplusem('width', 650)
      width: 100%
      .slick-list
        @include vwplusem('padding-left', 15)
      .reviews-image
        @include vwplusem('width', 80)
        @include vwplusem('height', 80)
        background-color: #ffffff
        position: relative
        @include vwplusem('margin-right', 60)
        @include vwplusem('margin-bottom', 35)
        @include vwplusem('margin-left', 5)
        cursor: pointer
        &.slick-current
          box-shadow: 0 10px 30px 0 rgba(43, 50, 66, 0.15)
        img
          max-width: 100%
          max-height: 100%
          height: auto
          width: auto
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)

  .geography
    background-color: #ffffff
    .to-top-slide
      position: absolute
      display: block
      bottom: 0
      @include vwplusem('right', 100)
      cursor: pointer
      z-index: 99
      &:hover
        box-shadow: none
        .icon
          &:after
            width: 100%
            left: 0
            z-index: -1
          &:before
            border-right: 2px solid #fff
            border-top: 2px solid #fff
      span
        display: inline-block
        vertical-align: middle
        $f: 14
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 26, $f)
        color: $text-black
        font-weight: 500
        @include vwplusem('margin-right', 15, $f)
      .icon
        display: inline-block
        vertical-align: middle
        border: 2px solid $text-black
        position: relative
        @include vwplusem('width', 50)
        @include vwplusem('height', 50)
        border-radius: 50%
        overflow: hidden
        &:before
          content: ""
          position: absolute
          @include absCenter
          @include vwplusem('width', 8)
          top: 55%
          @include vwplusem('height', 8)
          border-left: transparent
          border-bottom: transparent
          border-right: 2px solid $text-black
          border-top: 2px solid $text-black
          transform: rotate(-45deg) translate(-50%, -50%)
          transform-origin: left top
          @include mainTransition()
          transition: all 0.3s ease
        &:after
          content: ''
          position: absolute
          width: 0
          height: 100%
          background: $text-black
          top: 0
          right: 0
          transition: width 0.5s cubic-bezier(0.81, 0.16, 0.19, 0.9)
          border-radius: 50%
          //transform: scale3d(0,1,1)
          transform-origin: left center




    &__wrapper
      display: inline-block
      vertical-align: top
      @include vwplusem('width', 470)
      @include vwplusem('margin-right', 80)
      h5
        display: block
        $f: 68
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 76, $f)
        font-weight: 700
        color: $text-black
        @include vwplusem('margin-bottom', 65, $f)
      p
        $f: 18
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 26, $f)
        @include vwplusem('margin-bottom', 40, $f)
        color: $text-black
      .main-btn
        background-color: #6535f0
        border-color: #6535f0
        @include mainTransition()
        &:before
          background-color: #4a26ad
          z-index: -1
        &:hover
          border-color: #4a26ad
          span
            color: #fff

    &__image
      @include vwplusem('width', 960)
      @include vwplusem('height', 565)
      display: inline-block
      vertical-align: top
      position: relative
      .point
        @include vwplusem('width', 8)
        @include vwplusem('height', 8)
        background-color: $color-pink-main
        position: absolute
        border-radius: 50%
        display: block
        @keyframes point-anim
          from
            transform: scale(1) translate(-50%, -50%)
            opacity: 0.6
          to
            transform: scale(7) translate(-50%, -50%)
            opacity: 0
        &.location-1
          //@include vwplusem('top', 203)
          top: 36%
          @include vwplusem('left', 232)
          transform: scale(0)
        &.location-2
          //@include vwplusem('top', 110)
          top: 20%
          @include vwplusem('left', 195)
          transform: scale(0)
        &.location-3
          //@include vwplusem('top', 152)
          top: 26%
          @include vwplusem('right', 267)
          transform: scale(0)
        @keyframes location
          from
            transform: scale(0)
          to
            transform: scale(1)

        &:after, &:before
          content: ''
          position: absolute
          @include vwplusem('width', 8)
          @include vwplusem('height', 8)
          background-color: $color-pink-main
          border-radius: 50%
          display: block
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          transform-origin: left top
          opacity: .8

      #map-shadow
        width: 100%
        height: auto
        position: absolute
        opacity: 0.4
        @include vwplusem('bottom', -100)
      @keyframes map-anim
        0%
          opacity: .4
          transform: translateY(18%)
        100%
          transform: translateY(0%)
          opacity: 0.5
      #map-main
        width: 100%
        height: 100%
        opacity: 0.4
        transform: translateY(18%)
        display: block
      @keyframes map-anim
        0%
          opacity: .4
          transform: translateY(18%)
        100%
          transform: translateY(0%)
          opacity: 1
      #start-icon
        position: absolute
        @include vwplusem('left', 540)
        @include vwplusem('top', 200)
        @include vwplusem('width', 20)
        @include vwplusem('height', 18)
        transform: scale(0)
      @keyframes cc-icon
        0%
          opacity: .4
          transform: scale(0)
        100%
          transform: scale(1)
          opacity: 1
      #line-first
        position: absolute
        //@include vwplusem('top', 150)
        top: 27%
        @include vwplusem('left', 240)
        @include vwplusem('width', 296)
        &-inner
          fill: none
          stroke: #b5b7bc
          stroke-width: 1px
          stroke-dasharray: 450
          fill-rule: evenodd
          stroke-dashoffset: 450
      @keyframes line-first
        from
          stroke-dashoffset: 450
        to
          stroke-dashoffset: 0
      #line-second
        position: absolute
        //@include vwplusem('top', 71)
        top: 12%
        @include vwplusem('left', 203)
        @include vwplusem('width', 345)
        &-inner
          fill: none
          stroke: #b5b7bc
          stroke-width: 1px
          stroke-dasharray: 450
          fill-rule: evenodd
          stroke-dashoffset: 450
      @keyframes line-second
        from
          stroke-dashoffset: 450
        to
          stroke-dashoffset: 0
      #line-third
        position: absolute
        //@include vwplusem('top', 145)
        top: 25%
        @include vwplusem('right', 279)
        @include vwplusem('width', 123)
        &-inner
          fill: none
          stroke: #b5b7bc
          stroke-width: 1px
          fill-rule: evenodd
          stroke-dasharray: 450
          stroke-dashoffset: 450
      @keyframes line-third
        from
          stroke-dashoffset: 450
        to
          stroke-dashoffset: 0

    &.active
      .geography__image.animate
        #map-main, #map-shadow
          animation: map-anim 0.5s ease-in 0.5s forwards
        #start-icon
          animation: cc-icon 0.2s ease-out 1s forwards
        #line-first-inner
          animation: line-first 0.7s linear 1.2s forwards
        .location-1
          animation: location 0.3s linear 1.8s forwards
        #line-second-inner
          animation: line-second 0.7s linear 2.0s forwards
        .location-2
          animation: location 0.3s linear 2.6s forwards
        #line-third-inner
          animation: line-third 0.6s linear 2.8s forwards
        .location-3
          animation: location 0.3s linear 3.1s forwards
        .point
          &:after
            animation: point-anim 2s linear 0.5s infinite
          &:before
            animation: point-anim 2s linear 1.5s infinite


@media screen and (max-width: 1280px)
  .index
    .geography
      &__image
        #line-first
          top: 25%
        #line-second
          top: 9%
        #line-third
          top: 23%



