.reviews-page
  overflow: auto
  header.header
    a.header-text
      svg
        fill: $text-black
      span
        color: $text-black
      div
        background-color: $text-black
        &.menu-burger
          background-color: transparent!important
        &:before, &:after
          background-color: $text-black
    .menu
      span
        color: $text-black
    .menu-burger
      .line
        background-color: $text-black
      &:before, &:after
        background-color: $text-black
    .logo
      display: none
    .logo-color
      display: inline-block
  footer.footer-other
    position: fixed

  &__main
    @include vwplusem('padding-top', 120)
    @include vwplusem('padding-bottom', 100)
    h1
      $f: 68
      @include vwplusem('margin-bottom', 90, $f)
  &__blocks
    display: block
    &--article
      display: flex
      justify-content: space-between
      @include vwplusem('padding-bottom', 20)
      @include vwplusem('padding-right', 20)
      @include vwplusem('margin-bottom', 30)
      .number
        position: relative
        @include vwplusem('margin-top', 30)
        @include vwplusem('padding-left', 55)
        &:before
          content: ''
          position: absolute
          @include vwplusem('width', 35)
          height: 2px
          background-color: #20222d
          left: 0
          @include vwplusem('top', 8)
          opacity: 1
          display: block
        span
          $f: 18
          @include vwplusem('font-size', $f)
          line-height: 1
          font-weight: 700
          color: $text-black
          opacity: .4
      .review
        display: inline-flex
        justify-content: space-between
        @include vwplusem('width', 855)
        .image
          display: inline-block
          vertical-align: top
          background-color: #cccccc
          @include vwplusem('width', 80)
          @include vwplusem('height', 80)
          @include vwplusem('margin-right', 40)
          box-shadow: 0 30px 30px 0 rgba(44, 50, 67, 0.2)
          img
            width: 100%
            height: 100%
            object-fit: cover
        .info
          display: inline-block
          vertical-align: top
          @include vwplusem('width', 735)
          .author
            display: block
            @include vwplusem('margin-bottom', 20)
            h6
              $f: 30
              @include vwplusem('font-size', $f)
              @include vwplusem('line-height', 40, $f)
              color: $text-black
              font-weight: 700

          .company
            display: block
            @include vwplusem('margin-bottom', 35)
            span
              $f: 14
              @include vwplusem('font-size', $f)
              color: $text-black
              opacity: .5
          .text
            display: block
            @include vwplusem('margin-bottom', 35)
            p
              $f: 16
              @include vwplusem('font-size', $f)
              @include vwplusem('line-height', 26, $f)
              color: $text-black
          a
            $f: 14
            @include vwplusem('font-size', $f)
            color: $text-black
            opacity: .7
            font-weight: 700
            @include mainTransition()
            &:hover
              opacity: 1





