.service-page
  overflow: auto
  header.header
    a.header-text
      span
        color: #fff
      div
        background-color: #fff
        &.menu-burger
          background-color: transparent!important
        &:before, &:after
          background-color: #fff
    .menu
      span
        color: #fff
    .menu-burger
      .line
        background-color: #ffffff
      &:before, &:after
        background-color: #ffffff
    .logo
      display: inline-block
    .logo-color
      display: none
  .footer-other
    z-index: 9
    a
      color: #ffffff

  .outgoing-main
    position: relative
    //@include vwplusem('height', 930)
    height: 100vh
    img
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: -2
      object-fit: cover

    .wrapper
      position: relative
      height: 100%

    &__text
      @include vwplusem('width', 930)
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      h1
        color: #ffffff
        opacity: 0
        animation: header 0.7s ease 3.3s forwards
      p
        $f: 18
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 30, $f)
        color: #ffffff
        @include vwplusem('margin-top', 40, $f)
        display: block
        @include vwplusem('width', 600, $f)
        opacity: 0
        animation: paragraph 0.7s ease 3.6s forwards

  .outgoing-info
    @include vwplusem('padding-top', 120)
    @include vwplusem('padding-bottom', 120)
    .wrapper
      position: relative
    .side-menu
      @include vwplusem('width', 110)
      //@include vwplusem('padding-left', 23)
      position: absolute
      top: 0
      &.fixed
        @include vwplusem('top', 80)
        position: fixed
        &.stop
          position: absolute
          left: 0
          @include vwplusem('bottom', 30)
          top: unset
      &:before
        content: ''
        position: absolute
        width: 2px
        height: 100%
        background-color: #d8d8d8
        left: 0
        top: 0
      //&:after
      //  content: ''
      //  position: absolute
      //  width: 2px
      //  @include vwplusem('height', 20)
      //  background-color: $color-pink-main
      //  left: 0
      //  top: 0
      a
        $f: 14
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 21, $f)
        @include vwplusem('margin-bottom', 30, $f)
        @include vwplusem('padding-left', 23, $f)
        color: #999999
        display: block
        @include mainTransition()
        position: relative
        &:before
          opacity: 0
          content: ''
          position: absolute
          width: 2px
          height: 100%
          background-color: $color-pink-main
          left: 0
          top: 0
          @include mainTransition()
        &.active
          &:before
            opacity: 1
        &:last-child
          margin-bottom: 0
        &.active, &:hover
          color: $color-pink-main

    .main
      @include vwplusem('padding-left', 285)
      &-paragraph
        @include vwplusem('margin-bottom', 150)
        //.inner
        //  @include vwplusem('max-height', 280)
        //  overflow: hidden
        //  @include mainTransition(0.4s)
        //  &.opened
        //    height: auto
        //    max-height: none
        p
          $f: 20
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 30, $f)
          color: $text-black
          font-weight: 500
          display: block
          @include vwplusem('margin-bottom', 275, $f)


        .open-text
          display: none
          cursor: pointer
          &.opened
            .icon
              &:before
                transform: rotate(-45deg)
                @include vwplusem('top', 19)
          &:hover
            .icon
              &:after
                width: 105%
                background: $color-pink-main
                top: 0
                left: -1px
                right: 0
                z-index: -1
              &:before
                border-right: 2px solid #fff
                border-top: 2px solid #fff
          .icon
            position: relative
            display: inline-block
            vertical-align: middle
            @include vwplusem('width', 50)
            @include vwplusem('height', 50)
            @include vwplusem('margin-right', 10)
            border: 2px solid $color-pink-main
            border-radius: 50%
            background-color: transparent
            &:before
              content: ''
              position: absolute
              @include vwplusem('top', 16)
              @include vwplusem('left', 18)
              @include vwplusem('width', 8)
              @include vwplusem('height', 8)
              border-left: transparent
              border-bottom: transparent
              border-right: 2px solid $color-pink-main
              border-top: 2px solid $color-pink-main
              transform: rotate(135deg)
              transform-origin: center center

            &:after
              position: absolute
              content: ''
              width: 0
              height: 105%
              background: transparent
              top: -1px
              left: auto
              right: 0
              z-index: 1
              transition: all 500ms ease
              border-radius: 50%
              overflow: hidden

          span
            display: inline-block
            vertical-align: middle
            $f: 16
            @include vwplusem('font-size', $f)
            @include vwplusem('line-height', 30, $f)
            color: $color-pink-main
            font-weight: 500


      .info-block
        @include vwplusem('margin-bottom', 45)
        &.one-article
          @include vwplusem('margin-bottom', 180)
      h4
        $f: 38
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 40, $f)
        color: $text-black
        font-weight: 700
        display: block
        @include vwplusem('margin-bottom', 45, $f)
      h5
        $f: 30
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 30, $f)
        color: $text-black
        font-weight: 700
        display: block
        @include vwplusem('margin-bottom', 40, $f)
      h6
        $f: 18
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 26, $f)
        color: $text-black
        font-weight: 700
        display: block
        @include vwplusem('margin-bottom', 20, $f)
      ul
        padding-left: 0
        li
          $f: 16
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 26, $f)
          color: $text-black
          @include vwplusem('margin-bottom', 20, $f)
          @include vwplusem('padding-left', 25, $f)
          position: relative
          &:before
            content: ''
            position: absolute
            @include vwplusem('width', 7, $f)
            @include vwplusem('height', 7, $f)
            background-color: #6535f0
            border-radius: 50%
            left: 0
            @include vwplusem('top', 10, $f)

      p
        $f: 16
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 26, $f)
        color: $text-black
        font-weight: 400
        display: block
        @include vwplusem('margin-bottom', 30, $f)
      .image
        display: block
        width: 100%
        img
          width: 100%
          height: auto

  .request
    position: relative
    background-color: #20222e
    @include vwplusem('padding-top', 58)
    @include vwplusem('padding-bottom', 58)

    .wrapper
      display: flex
      justify-content: space-between

    p
      $f: 24
      @include vwplusem('font-size', $f)
      @include vwplusem('line-height', 34, $f)
      color: #ffffff
      font-weight: 700
      @include vwplusem('width', 795, $f)
      display: inline-flex
      align-self: center

    .main-btn
      background-color: $color-pink-main
      border: none
      span
        color: #ffffff
      &:before
        z-index: 0
        @include mainTransition(0.4s)
      &:hover
        span
          color: $color-pink-main

  .next-service
    @include vwplusem('height', 700)
    position: relative
    img
      position: absolute
      width: 100%
      height: 100%
      object-fit: cover
      left: 0
      top: 0
    .text
      text-align: center
      @include absCenter
      span
        $f: 14
        @include vwplusem('font-size', $f)
        color: #ffffff
        opacity: .6
        font-weight: 500
        display: block
        @include vwplusem('margin-bottom', 20, $f)
        text-transform: uppercase
      h6
        display: block
        position: relative
        $f: 68
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 80, $f)
        color: #ffffff
        font-weight: 700
      .link
        @include vwplusem('width', 200)
        @include vwplusem('height', 64)
        border: 2px solid #fff
        text-align: center
        display: inline-block
        @include vwplusem('margin-top', 50)
        position: relative
        @include vwplusem('border-radius', 32)
        @include vwplusem('padding-right', 25)
        span
          display: block
          position: relative
          $f: 16
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 60, $f)
          font-weight: 500
          opacity: 1
          &:after, &:before
            content: ''
            position: absolute
            @include vwplusem('height', 2, $f)
            @include vwplusem('width', 14, $f)
            background-color: #ffffff
            @include vwplusem('right', 7, $f)
            bottom: 50%
            @include mainTransition(0.3s)
          &:after
            transform: rotate(90deg)
          &:hover
            &:before
              transform: rotate(180deg)
            &:after
              transform: rotate(270deg)

