.service-page
  overflow: auto
  .show-scroll
    position: absolute
    @include vwplusem('right', 60)
    top: 50%
    transform: translateY(-50%)
    @include vwplusem('height', 175)
    &:before
      content: ''
      position: absolute
      width: 2px
      height: 100%
      background-color: #cccdd2
      opacity: 0.2
      top: 0
      transform: translate(-50%, 0%)
      left: 50%
      z-index: -1
      display: block
    &:after
      content: ''
      position: absolute
      @include vwplusem('width', 20)
      @include vwplusem('height', 32)
      @include vwplusem('border-radius', 10)
      @include vwplusem('top', 30)
      background-color: transparent
      border: 2px solid #fff
      animation: move 6s ease-out infinite
      display: block
      transform: translate(-50%, -50%)
      left: 50%
  header.header
    a.header-text
      svg
        fill: #fff
      span
        color: #fff
      div
        background-color: #fff
        &.menu-burger
          background-color: transparent!important
        &:before, &:after
          background-color: #fff
    .menu
      span
        color: #fff
    .menu-burger
      .line
        background-color: #ffffff
      &:before, &:after
        background-color: #ffffff
    .logo
      display: inline-block
    .logo-color
      display: none
  .footer-other
    z-index: 9
    a
      color: #ffffff
      &:before
        color: #ffffff
  .request-form
    position: fixed

  .incoming-main
    position: relative
    height: 100vh
    img
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: -2

    .wrapper
      position: relative
      height: 100%

    &__text
      @include vwplusem('width', 930)
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)

      h1
        color: #ffffff
        opacity: 0
        animation: header 0.7s ease 3.3s forwards

      p
        $f: 18
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 30, $f)
        color: #ffffff
        @include vwplusem('margin-top', 40, $f)
        display: block
        @include vwplusem('width', 600, $f)
        opacity: 0
        animation: paragraph 0.7s ease 3.6s forwards



  .incoming-info
    @include vwplusem('padding-top', 120)
    @include vwplusem('padding-bottom', 120)
    .wrapper
      position: relative
    .side-menu
      @include vwplusem('width', 110)
      //@include vwplusem('padding-left', 23)
      position: absolute
      top: 0
      &.fixed
        @include vwplusem('top', 80)
        position: fixed
        left: unset

        &.stop
          position: absolute
          left: 0
          @include vwplusem('bottom', 30)
          top: unset
      &:before
        content: ''
        position: absolute
        width: 2px
        height: 100%
        background-color: #d8d8d8
        left: 0
        top: 0
      //&:after
      //  content: ''
      //  position: absolute
      //  width: 2px
      //  @include vwplusem('height', 20)
      //  background-color: $color-pink-main
      //  left: 0
      //  top: 0
      a
        $f: 14
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 21, $f)
        @include vwplusem('margin-bottom', 30, $f)
        @include vwplusem('padding-left', 23, $f)
        color: #999999
        display: block
        @include mainTransition()
        position: relative
        &:before
          opacity: 0
          content: ''
          position: absolute
          width: 2px
          //@include vwplusem('height', 20)
          height: 100%
          background-color: $color-pink-main
          left: 0
          top: 0
          @include mainTransition()
        &.active
          &:before
            opacity: 1
        &:last-child
          margin-bottom: 0
        &.active, &:hover
          color: $color-pink-main

    .main
      @include vwplusem('padding-left', 285)
      &-paragraph
        p
          $f: 20
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 30, $f)
          color: $text-black
          font-weight: 500
          display: block
          @include vwplusem('margin-bottom', 275, $f)
      .info-block
        @include vwplusem('margin-bottom', 45)
        &.one-article
          @include vwplusem('margin-bottom', 100)
      h4
        $f: 38
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 40, $f)
        color: $text-black
        font-weight: 700
        display: block
        @include vwplusem('margin-bottom', 45, $f)
      h5
        $f: 30
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 30, $f)
        color: $text-black
        font-weight: 700
        display: block
        @include vwplusem('margin-bottom', 40, $f)
      p
        $f: 16
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 26, $f)
        color: $text-black
        font-weight: 400
        display: block
        @include vwplusem('margin-bottom', 30, $f)
      .image
        display: block
        width: 100%
        position: relative
        @include vwplusem('height', 500)
        img
          width: 100%
          height: 100%
          object-fit: cover

  .request
    position: relative
    background-color: #20222e
    @include vwplusem('padding-top', 58)
    @include vwplusem('padding-bottom', 58)

    .wrapper
      display: flex
      justify-content: space-between

    p
      $f: 24
      @include vwplusem('font-size', $f)
      @include vwplusem('line-height', 34, $f)
      color: #ffffff
      font-weight: 700
      @include vwplusem('width', 795, $f)
      display: inline-flex
      align-self: center

    .main-btn
      background-color: $color-pink-main
      border: none
      span
        color: #ffffff
      &:before
        z-index: 0
        @include mainTransition(0.4s)
      &:hover
        span
          color: $color-pink-main

  .next-service
    @include vwplusem('height', 700)
    position: relative
    img
      position: absolute
      width: 100%
      height: 100%
      object-fit: cover
      left: 0
      top: 0
    .text
      text-align: center
      @include absCenter
      span
        $f: 14
        @include vwplusem('font-size', $f)
        color: #ffffff
        opacity: .6
        font-weight: 500
        display: block
        @include vwplusem('margin-bottom', 20, $f)
        text-transform: uppercase
      h6
        display: block
        position: relative
        $f: 68
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 80, $f)
        color: #ffffff
        font-weight: 700
      .link
        @include vwplusem('width', 200)
        @include vwplusem('height', 64)
        border: 2px solid #fff
        text-align: center
        display: inline-block
        @include vwplusem('margin-top', 50)
        position: relative
        @include vwplusem('border-radius', 32)
        @include vwplusem('padding-right', 25)
        span
          display: block
          position: relative
          $f: 16
          @include vwplusem('font-size', $f)
          @include vwplusem('line-height', 60, $f)
          font-weight: 500
          opacity: 1
          &:after, &:before
            content: ''
            position: absolute
            @include vwplusem('height', 2, $f)
            @include vwplusem('width', 14, $f)
            background-color: #ffffff
            @include vwplusem('right', 7, $f)
            bottom: 50%
            @include mainTransition(0.3s)
          &:after
            transform: rotate(90deg)
          &:hover
            &:before
              transform: rotate(180deg)
            &:after
              transform: rotate(270deg)

