doctype html
html(lang="ru").error-page
    include ./partials/head
    body
        include ./partials/header
        include ./partials/menu
        section.error-page__main
            .error-page__main--bg
            .error-page__main--image
                img(src='img/pages/example/error-page.jpg')
            .wrapper
                h1 404
                .text
                    p К сожалению, запрашиваемая Вами страница не найдена.
                    a(href='index.html') Перейти на главную


            include ./partials/footer


        include ./partials/scripts
