doctype html
html(lang="ru").about
    include ./partials/head
    body
        .preloader
            .count 100%
        include ./partials/header
        include ./partials/menu
        section.about-main
            //include ./partials/breadcrumbs
            .container
                .wrapper
                    .about-main__text
                        h1 О компании
                        p GoodCall — многофункциональный аутсорсинговый контакт-центр, с уникальной продуктовой линейкой и омниканальной моделью обслуживания, направленной на все виды коммуникаций с клиентами.
                        .main-btn.request-form-active
                            span Заказать консультацию
            .about-main__image.animate-image
                img(src='img/pages/example/about-main.jpg')

            include ./partials/footer

        section.about-info
            .wrapper.sidemenu-wrapper
                .side-menu
                    .bar
                        .indicator
                    a(href='#company').active О компании
                    a(href='#mission') Миссия
                    a(href='#worth') Ценности
                    a(href='#strategy') Стратегия
                .main
                    .info-block#company
                        h5 Работаем на результат
                        p Уникальность нашей компании в возможности увеличения мощности контактного центра в несколько раз за минимально сжатые сроки.
                        p Мы обслуживаем различные сегменты бизнеса. Упрощаем работу компании, помогаем нашим заказчикам осуществлять качественное обслуживание клиентов, что помогает сделать их более лояльными.
                        p Самый ценный ресурс компании – это квалифицированные кадры. Наша команда состоит из профессионалов своего дела, ТОП менеджеры имеют многолетнюю практику в сфере продаж и обслуживании клиентов. Маркетологи, аналитики и продавцы, имеют опыт работы и навыки в различных сферах бизнеса (начиная от продажи физических товаров, заканчивая информационными продуктами и бизнес услугами). Мы знаем как сделать клиентов Вашими навсегда.
                    .info-block#mission
                        h5 Миссия
                        p Компания GoodCall стремится обеспечить постоянную ценность для наших клиентов. Мы используем инновационные технологии и внедряем передовые методы, предоставляя ряд высококачественных и экономически эффективных решений в области коммуникаций и информационных технологий.
            .about-info--image.animate-image
                img(src='img/pages/example/about-example.jpg')
            .wrapper
                .main
                    .info-block#worth
                        h5 Ценности
                        h6 Люди
                        p Самый ценный ресурс нашей компании. Мы дорожим своими людьми, стремимся к их постоянному развитию и совершенствованию.
                        h6 Идея
                        p Мы уважаем и ценим любую идею которая приходит к нам от сотрудников и клиентов, воплощая в жизнь самые лучшие и перспективные.
                        h6 Доверие
                        p Быть честными, доступными и открытыми. Мы уверены, что люди работают лучше если их отношения основаны на доверии. Мы уважаем своих коллег, партнеров и клиентов и относимся к ним так, как бы хотели мы, чтобы другие относились к нам самим. Развитие - мы постоянно развиваем наши услуги и сервисы, помогая нашим клиентам, быть лидерами в своей сфере. А так же заботимся о профессиональном развитии наших сотрудников.
                    .info-block#strategy
                        h5 Стратегия
                        p Обеспечение качественными и высокоэффективными омниканальными решениями для бизнеса, в сервисном обслуживании и привлечении клиентов.



        section.work
            .image
                img(src='img/pages/example/cases-foot.jpg')
            .text
                h5 Хотите работать с нами?
                .main-btn.request-form-active
                    span Начать проект

            include ./partials/footer


        include ./partials/scripts
