doctype html
html(lang="ru")
    include ./partials/head
    body.blog
        .preloader
            img(alt="" src='img/pages/elems/logo.png')
        include ./partials/header
        include ./partials/menu
        section.blog-main
            include ./partials/breadcrumbs
            .wrapper
                .blog-main__inner
                    .blog-main--left
                        h1 Блог
                        .slider.blog-slider
                            .slide
                                img(src='img/pages/example/blog.jpg')
                            .slide
                                img(src='img/pages/example/blog.jpg')
                            .slide
                                img(src='img/pages/example/blog.jpg')

                    .blog-main--right
                        a(onclick="javascript:history.back(); return false;") Назад
                        .blog__article
                            .date
                                p 17.05.2018

                            h5 Goodcall на тренинге реального волка с Уолл Стрит

                            .text.vertical-scroll
                                p У меня как-то вышел спор с одним религиозным деятелем по поводу того, позволительно ли любому религиозному анклаву принимать деньги, полученные криминальным путем. Он утверждал, что позволительно, потому что средства в конечном счете идут во благо. Но как же так? Получается, деньги не пахнут? Ведь, по сути, речь идет о модели, сходной с продажей индульгенций. Заплатил – и грехи как бы списаны, можно дальше грешить.

                                p Вопрос о том, оправдывает ли благородная цель сомнительные средства, вообще из разряда вечных. Он занимает одно из ключевых мест во всей мировой литературе. Наиболее яркий пример – творчество Достоевского. Впрочем, за иллюстрациями совсем не обязательно обращаться к литературным произведениям, потому что их вполне хватает в реальной жизни. Скажем, скандальная история с арестом режиссера Кирилла Серебренникова, вызвавшая столь бурный резонанс, на мой взгляд, прямо касается данной темы.

                                p К сожалению, я не театрал и не могу давать оценки творчеству Серебренникова – просто соглашусь с мнением авторитетнейших деятелей культуры, что он очень талантливый режиссер, заслуженно получивший мировую известность. Но в том-то и дело, что эта история имеет весьма отдаленное отношение к проблемам театрального искусства. И она точно не о противостоянии творца с тоталитарным государством. Скорее, речь идет о союзе, правда, не с государством, а с конкретными чиновниками, представляющими государство. По сути, это сделка, которую можно и нужно оценивать. В том числе с точки зрения уголовного кодекса.

                                p Лично для меня ситуация выглядит абсолютно понятной. Если анализировать те условия, на которых Серебренников получал деньги, легко заметить, что у него была полная свобода действий. Твори, развивайся, двигай свои проекты – ничто не мешает. Нужно рассчитаться с актерами – пожалуйста, составляй список, то есть ведомость, заплати подоходный налог и официально получай наличные в банке. Можно обойтись и без наличных – сегодня у всех есть карточки. Требуются декорации и нет фирм, способных выполнить заказ? Оформляй привлеченных специалистов как временный творческий коллектив, составляй подрядный договор и плати по нему, как платили бригадам шабашников в советские времена. Легально все это сделать гораздо проще и безопасней, чем нелегально.

        include ./partials/footer
        include ./partials/scripts