doctype html
html(lang="ru")
    include ./partials/head
    body.blogs-all
        .preloader
            .count 100%
        include ./partials/header
        include ./partials/menu
        section.blogs-all__main
            include ./partials/breadcrumbs
            .wrapper
                .blogs-header
                    h1 Блог
                    .sorting
                        p Сортировать по:
                        select.select-items#select-items
                            option(value="test2") Дате добавления
                            option(value="test1") Все
                            option(value="test3") Прошедшие
                .blogs-all__articles
                    .last-blog
                        .date
                            p 17.05.2018
                        a(href='#').head Goodcall на тренинге реального волка с Уолл Стрит
                        p 8 февраля в конференц-зале библиотеки им. Пушкина прошло собрание научной общественности в честь Дня российской науки. Сорок омских ученых были отмечены грамотами и благодарностями городской администрации и регионального правительства. На трибуну со словами признательности омской высшей школе выходили именитые коллеги и гости. Было отмечено, что в Омской области трудятся 50 тысяч ученых.
                        a(href='#') Читать дальше

                    .list-blog.blog-scroll.vertical-scroll
                        .blog-article
                            .date
                                p 16.05.2018
                            a(href='#') Итоги участия Goodcall Групп в работе выставки в Турции
                        .blog-article
                            .date
                                p 15.05.2018
                            a(href='#') Валерий Каплунат ответил на вопросы Киевских тележурналистов
                        .blog-article
                            .date
                                p 14.05.2018
                            a(href='#') Европейские представительства Coodcall отметили первый юбилей

                        .blog-article
                            .date
                                p 13.05.2018
                            a(href='#') Валерий КАПЛУНАТ: «Не стоит заключать сделки с дьяволом»





        include ./partials/footer
        include ./partials/scripts