doctype html
html(lang="ru")
    include ./partials/head
    body.careers-all
        .preloader
            .count 100%
        include ./partials/header
        include ./partials/menu
        section.careers-all__main
            include ./partials/breadcrumbs
            .wrapper
                .careers-all__main--inner
                    .left
                        .careers-header
                            h1 Вакансии
                            span.careers-count  5
                        .info.animate-image
                            img(src='img/pages/example/careers1.jpg')
                            .info--main
                                .block
                                    p 15
                                    span лет опыта
                                .block
                                    p 100+
                                    span проектов
                                .block
                                    p 350+
                                    span операторов
                            .info--description
                                p Что может быть более удивительным, чем работать над интересными проектами с талантливыми людьми, которые знают и любят то, что они делают? Пожалуйста, найдите открытые позиции сбоку.

                    .right
                        a(href='#').back Назад

                        .list-vacancies.vertical-scroll
                            .career-article
                                .date
                                    p 16.05.2018
                                a(href='#') Продавец-консультант на телефон (горячая база)
                            .career-article
                                .date
                                    p 15.05.2018
                                a(href='#') Менеджер клиентской поддержки авиакомпании
                            .career-article
                                .date
                                    p 14.05.2018
                                a(href='#') Менеджер клиентской поддержки авиакомпании (Американский проект
                            .career-article
                                .date
                                    p 16.05.2018
                                a(href='#') Продавец-консультант на телефон (горячая база)
                            .career-article
                                .date
                                    p 15.05.2018
                                a(href='#') Менеджер клиентской поддержки авиакомпании


        include ./partials/footer
        include ./partials/scripts