doctype html
html(lang="ru").vacancie
    include ./partials/head
    body
        .preloader
            .count 100%
        include ./partials/header
        include ./partials/menu
        section.vacancie__main
            include ./partials/breadcrumbs
            .wrapper
                .vacancie__main--inner
                    .left
                        .careers-header
                            h1 Вакансии
                        .image.animate-image
                            img(src='img/pages/example/careers2.jpg')

                    .right
                        a(href='#').back Назад

                        .vacancie__info.vertical-scroll
                            .date
                                p 17.05.2018
                            h3 Менеджер клиентской поддержки авиакомпании (Американский проект)

                            .vacancie__info--block
                                h5 Обязанности
                                ul
                                    li Поиск новых клиентов;
                                    li Предоставление клиентам информации по услугам и продукции компании (IT-услуги, комплексные решения);
                                    li Продажа корпоративным клиентам специализированных IT-решений;
                                    li Подготовка коммерческих предложений;
                                    li Построение долгосрочных партнерских отношений;
                                    li Проведение переговоров, презентаций;

                            .vacancie__info--block
                                h5 Требования
                                ul
                                    li Поиск новых клиентов;
                                    li Предоставление клиентам информации по услугам и продукции компании (IT-услуги, комплексные решения);
                                    li Продажа корпоративным клиентам специализированных IT-решений;
                                    li Подготовка коммерческих предложений;
                                    li Построение долгосрочных партнерских отношений;
                                    li Проведение переговоров, презентаций;

                            .main-btn.request-form-active
                                span Откликнуться на вакансию


        include ./partials/footer
        include ./partials/scripts