doctype html
html(lang="ru").careers
    include ./partials/head
    body.careers
        .preloader
            .count 100%
        include ./partials/header
        include ./partials/menu
        section.careers-main
            .container
                .wrapper
                    .careers-main__text
                        h1 Вакансии и карьера
                        p GoodCall уникальная возможность начать свою карьеру в первоклассном аутсорсинговом контакт центре. Вы будете работать в дружном, молодом, креативном и перспективном коллективе. У Вас будет возможность расти и развиваться.
            .careers-main__image.animate-image
                img(src='img/pages/example/car1_bg.jpg')
        section.careers-offers
            .wrapper
                .careers-offers__inner
                    .careers-offers__image
                        //img.eye(src='img/pages/elems/icon-career-eye.png')
                        .eye#eye
                            img(src='img/pages/elems/icon-hireus.png')
                        img.text(src='img/pages/elems/icon-career-text.png')
                    .careers-offers__info
                        h2 Мы предлагаем
                        p Более 70% персонала пришли работать к нам по совету родных и др

                        .careers-offers__table
                            .careers-offers__table--row
                                .number
                                    p 01
                                .text
                                    p Гибкий график работы
                            .careers-offers__table--row
                                .number
                                    p 02
                                .text
                                    p Официальное трудоустройство
                            .careers-offers__table--row
                                .number
                                    p 03
                                .text
                                    p Обучение и мастер-классы
                            .careers-offers__table--row
                                .number
                                    p 04
                                .text
                                    p Карьерный рост
                            .careers-offers__table--row
                                .number
                                    p 05
                                .text
                                    p Корпоративная библиотека
                            .careers-offers__table--row
                                .number
                                    p 06
                                .text
                                    p Комфортный, современный офис, в центральной части города
                            .careers-offers__table--row
                                .number
                                    p 07
                                .text
                                    p Конкурентная заработная плата

                        .main-btn
                            span Смотреть вакансии



            include ./partials/footer
    include ./partials/scripts
