doctype html
html(lang="ru").cases
    include ./partials/head
    body
        .preloader
            .count 100%
        include ./partials/header
        include ./partials/menu
        section.cases__main
            //include ./partials/breadcrumbs
            .container
                .cases__main--inner
                    video(loop preload autoplay src='img/pages/video.mp4')
                    h1 Кейсы
        section.cases__info
            .wrapper
                .cases__info--row.short
                    .image
                        .eye#eye
                            img(src='img/pages/elems/icon-hireus.png')
                        .request-form-active
                            img(src='img/pages/elems/cases-link-text.png')

                    .text
                        p Высокий уровень экспертизы в области телекоммуникаций, финансовых услуг, авиации, электронной коммерции и розничной торговли позволяет нам выполнять проекты любой сложности.

                .cases__info--row
                    a(href='').image.parallax-image
                        img(src='img/pages/example/cases1.jpg')
                    .text
                        a(href='').head Международные авиалинии
                        span Задача:
                        p Обеспечить не менее 30% продаж авиабилетов на входящей линии.
                        a(href='') Смотреть кейс

                .cases__info--row
                    a(href='').image.parallax-image
                        img(src='img/pages/example/cases2.jpg')
                    .text(data-rellax-speed="-1")
                        a(href='').head Продажа косметики по телефону в интернете
                        span Задача:
                        p Ежемесячное повышение плана продаж на 10%.
                        a(href='') Смотреть кейс

                .cases__info--row
                    a(href='').image.parallax-image
                        img(src='img/pages/example/cases3.jpg')
                    .text
                        a(href='').head Логистическая компания
                        span Задача:
                        p Выполнение жестких SLA: обслуживание 96% обращений в первые 20 секунд после звонка.
                        a(href='') Смотреть кейс

        section.work
            .image
                img(src='img/pages/example/cases-foot.jpg')
            .text
                h5 Хотите работать с нами?
                .main-btn
                    span Начать проект

            include ./partials/footer


        include ./partials/scripts