doctype html
html(lang="ru").contact
    include ./partials/head
    body.contact
        .preloader
            .count 100%
        include ./partials/header
        include ./partials/menu
        #pagepilling-contact
            section.contact-main
                include ./partials/breadcrumbs
                .container
                    .wrapper
                        .contact-main__inner
                            h1 Контакты
                            table
                                tr
                                    td Адрес:
                                    td 49000, Украина, г. Днепр,  ул. Вознесенская, 108
                                tr
                                    td Почта:
                                    td #[span hello@mygoodcalls.com] #[span info@mygoodcalls.com]
                                tr
                                    td Телефон:
                                    td
                                        span +38 044 777 55 66
                                        span +1 124 777 55 66
                                        span +7 495 777 55 66
                                tr
                                    td Время работы:
                                    td Пн - пт с 9:00 до 18:00
                    #map(data-lat='48.462994' data-lng='35.051575')
                a(href='#').contact-link
                    img(src='img/pages/elems/contact-link.png')
                    .eye#eye
                        img(src='img/pages/elems/icon-hireus.png')
            section.contact-form
                .wrapper
                    h2 Остались вопросы? Напишите нам!
                    form(autocomplete="off")
                        .left
                            label
                                span Имя
                                input.field-js(name='name')
                            label
                                span Телефон
                                input.field-js(type='number')
                        .right
                            label
                                span Сообщение
                                textarea.field-js
                        button.main-btn
                            span Отправить сообщение

        include ./partials/footer
    include ./partials/scripts
    script.
        function initMap() {
            let lat = $('#map').data('lat');
            let lng = $('#map').data('lng');
            // console.log(typeof(lat), typeof(lng));
            let coordinate = {lat: lat, lng: lng};
            // coordinateCenter = {lat: lat + 0.002, lng: lng + 0.005};

            let mapOptions = {
                disableDefaultUI: false,
                scrollwheel: false,
                zoom: 15, // initialize zoom level - the max value is 21
                center: coordinate
            };

            let map = new google.maps.Map(document.getElementById('map'),
                mapOptions);

            let marker = new google.maps.Marker({
                position: coordinate,
                map: map,
                animation: google.maps.Animation.DROP
            });

        }
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxdV34-e8A4CanCHpROFVFPVS4nmJp-oo&callback=initMap")