doctype html
html(lang="ru").index
  include ./partials/head
  body.index.active
    .preloader
      .count
    include ./partials/header
    include ./partials/menu
    #pagepiling
      section.main-section
        .bg-left
          img(alt="" src='img/pages/example/bg1.jpg')
        .bg-right
          img(alt=""  src='img/pages/example/bg2.jpg')
        .container
          .main-section__info
            h1  #[svg: use(xlink:href='img/sprite-inline.svg#logo-white')] - будьте ближе к своим клиентам
            p Наши клиенты доверяют нам и поэтому зарабатывают вместе с нами
            .main-btn.request-form-active
              span Заказать консультацию
          .main-section__services
            a(href='#').main-section__services--card
              span Услуги
              span.head Входящие звонки
              span.more Подробнее
              span.number 01
            a(href='#').main-section__services--card
              span Услуги
              span.head Исходящие звонки
              span.more Подробнее
              span.number 02
            a(href='#').main-section__services--card
              span Услуги
              span.head Мессенджеры
              span.more Подробнее
              span.number 03
          .show-scroll

      section.service
        .service__inner
          h2 Услуги
          .service__slider.slider
            .service__slider--slide
              .service__slider--bg
                img(alt="" src='img/pages/example/section2-bg.jpg')
              .service__slider--wrapper.wrapper
                .left
                  h5 Входящие звонки
                  p Экономное и выгодное решение такой задачи. Данная услуга обеспечивает
                    | максимальный уровень доступности всех входящих звонков от клиентов Вашей компании.
                  a(href='#') Подробнее
                .right
                  ul
                    li - Горячая линия (0800)
                    li - Виртуальный секретарь
                    li - Прием и обработка заказов
                    li - Техническая поддержка
                    li - IVR
            .service__slider--slide
              .service__slider--bg
                img(alt="" src='img/pages/example/section2-bg.jpg')
              .service__slider--wrapper.wrapper
                .left
                  h5 Входящие звонки
                  p Экономное и выгодное решение такой задачи. Данная услуга обеспечивает
                    | максимальный уровень доступности всех входящих звонков от клиентов Вашей компании.
                  a(href='#') Подробнее
                .right
                  ul
                    li - Горячая линия (0800)
                    li - Виртуальный секретарь
                    li - Прием и обработка заказов
                    li - Техническая поддержка
                    li - IVR
            .service__slider--slide
              .service__slider--bg
                img(alt="" src='img/pages/example/section2-bg.jpg')
              .service__slider--wrapper.wrapper
                .left
                  h5 Входящие звонки
                  p Экономное и выгодное решение такой задачи. Данная услуга обеспечивает
                    | максимальный уровень доступности всех входящих звонков от клиентов Вашей компании.
                  a(href='#') Подробнее
                .right
                  ul
                    li - Горячая линия (0800)
                    li - Виртуальный секретарь
                    li - Прием и обработка заказов
                    li - Техническая поддержка
                    li - IVR

      section.needs
        .needs__bg
          img(alt="" src='img/pages/example/bg3.jpg')
        .container
          .wrapper
            .needs__inner
              .needs__inner--left
                h4 Call центр нужен если:
                ul
                  li Вы хотите повысить объем продаваемых услуг и товаров используя call-центр
                  li Вы не знаете, сколько у вас потерянных клиентов из-за непринятых звонков
                  li Ваши сотрудники перегружены ответами на вопросы общего характера по телефону
                  li Вы хотите существенно повысить качество обслуживания абонентов и контролировать этот процесс
                  li Вам необходимо круглосуточное обслуживание абонентов call-центром
                  li Нуждаетесь в получении обратной связи от клиентов
              .needs__inner--right
                .tabs
                  ul
                    li
                      a(href='#tabs-1').active Контакт-центр «GOODCALL»
                    li
                      a(href='#tabs-2') Основная цель компании
                    li
                      a(href='#tabs-3') Наши клиенты
                  .tabs-content
                    .active#tabs-1
                      p это современная аутсорсинговая компания, созданная профессионалами в сфере информационно-коммуникационных услуг. Компания оказывает  услуги в области продвижения товаров и услуг с использованием современных электронных коммуникационных технологий.
                    #tabs-2
                      p это современная аутсорсинговая компания, созданная профессионалами в сфере информационно-коммуникационных услуг. Компания оказывает  услуги в области продвижения товаров и услуг с использованием современных электронных коммуникационных технологий.
                    #tabs-3
                      p это современная аутсорсинговая компания, созданная профессионалами в сфере информационно-коммуникационных услуг. Компания оказывает  услуги в области продвижения товаров и услуг с использованием современных электронных коммуникационных технологий.
      section.advantages
        .advantages__bg
          img(alt="" src='img/pages/example/bg4.jpg')
        .wrapper
          h2 В чём наши преимущества
        .custom-scroll.advantages__view
          .advantages__view--block
            .icon
              svg: use(xlink:href='img/sprite-inline.svg#shield')
            h6 Надежность
            p Высококачественная инфраструктура GoodCall гарантирует, что вероятность сбоев системы почти равна нулю

          .advantages__view--block
            .icon
              svg: use(xlink:href='img/sprite-inline.svg#hours')
            h6 Экономия
            p Вы не оплачиваете аренду, оборудование, интернет и телефонию, ЗП персоналу контакт-центра

          .advantages__view--block
            .icon
              svg: use(xlink:href='img/sprite-inline.svg#shield')
            h6 Надежность
            p Высококачественная инфраструктура GoodCall гарантирует, что вероятность сбоев системы почти равна нулю

          .advantages__view--block
            .icon
              svg: use(xlink:href='img/sprite-inline.svg#hours')
            h6 Экономия
            p Вы не оплачиваете аренду, оборудование, интернет и телефонию, ЗП персоналу контакт-центра
      section.reviews
        .reviews__bg
        .wrapper
          h3 Отзывы
          .reviews-slider
            .reviews-slider--slide
              .content
                .company
                  h6 Марина Волошина
                  span Yves Rocher
                .text
                  p Мы сотрудничали с  GoodCall с 2014 года. С самого начала GoodCall был профессиональным и надежным. Они реализуют конкретные ключевые показатели эффективности, обеспечиваемые высочайшим качеством обслуживания клиентов. Амбициозные цели GoodCall реализуют инновационные и эффективные схемы мотивации.  Ив Рошер рекомендует GoodCall в качестве квалифицированного партнера в области обслуживания клиентов.
                  .text__hover
                    a(href='https://polyarix.com/wp-content/uploads/2018/03/scan_moroz_dp.jpg').popup-js Смотреть оригинал
              .image
                img(alt="" src='img/pages/example/review1.jpg')
            .reviews-slider--slide
              .content
                .company
                  h6 Марина Волошина
                  span Yves Rocher
                .text
                  p Мы сотрудничали с  GoodCall с 2014 года. С самого начала GoodCall был профессиональным и надежным. Они реализуют конкретные ключевые показатели эффективности, обеспечиваемые высочайшим качеством обслуживания клиентов. Амбициозные цели GoodCall реализуют инновационные и эффективные схемы мотивации.  Ив Рошер рекомендует GoodCall в качестве квалифицированного партнера в области обслуживания клиентов.
                  .text__hover
                    a(href='https://polyarix.com/wp-content/uploads/2018/03/scan_moroz_dp.jpg').popup-js Смотреть оригинал
              .image
                img(alt="" src='img/pages/example/review1.jpg')
            .reviews-slider--slide
              .content
                .company
                  h6 Марина Волошина
                  span Yves Rocher
                .text
                  p Мы сотрудничали с  GoodCall с 2014 года. С самого начала GoodCall был профессиональным и надежным. Они реализуют конкретные ключевые показатели эффективности, обеспечиваемые высочайшим качеством обслуживания клиентов. Амбициозные цели GoodCall реализуют инновационные и эффективные схемы мотивации.  Ив Рошер рекомендует GoodCall в качестве квалифицированного партнера в области обслуживания клиентов.
                  .text__hover
                    a(href='https://polyarix.com/wp-content/uploads/2018/03/scan_moroz_dp.jpg').popup-js Смотреть оригинал
              .image
                img(alt="" src='img/pages/example/review1.jpg')
            .reviews-slider--slide
              .content
                .company
                  h6 Марина Волошина
                  span Yves Rocher
                .text
                  p Мы сотрудничали с  GoodCall с 2014 года. С самого начала GoodCall был профессиональным и надежным. Они реализуют конкретные ключевые показатели эффективности, обеспечиваемые высочайшим качеством обслуживания клиентов. Амбициозные цели GoodCall реализуют инновационные и эффективные схемы мотивации.  Ив Рошер рекомендует GoodCall в качестве квалифицированного партнера в области обслуживания клиентов.
                  .text__hover
                    a(href='https://polyarix.com/wp-content/uploads/2018/03/scan_moroz_dp.jpg').popup-js Смотреть оригинал
              .image
                img(alt="" src='img/pages/example/review1.jpg')
            .reviews-slider--slide
              .content
                .company
                  h6 Марина Волошина
                  span Yves Rocher
                .text
                  p Мы сотрудничали с  GoodCall с 2014 года. С самого начала GoodCall был профессиональным и надежным. Они реализуют конкретные ключевые показатели эффективности, обеспечиваемые высочайшим качеством обслуживания клиентов. Амбициозные цели GoodCall реализуют инновационные и эффективные схемы мотивации.  Ив Рошер рекомендует GoodCall в качестве квалифицированного партнера в области обслуживания клиентов.
                  .text__hover
                    a(href='https://polyarix.com/wp-content/uploads/2018/03/scan_moroz_dp.jpg').popup-js Смотреть оригинал
              .image
                img(alt="" src='img/pages/example/review1.jpg')
          .reviews-slider-nav
            .reviews-image
              img(alt="" src='img/pages/elems/logo1.png')
            .reviews-image
              img(alt="" src='img/pages/elems/logo2.png')
            .reviews-image
              img(alt="" src='img/pages/elems/logo3.png')
            .reviews-image
              img(alt="" src='img/pages/elems/logo4.png')
            .reviews-image
              img(alt="" src='img/pages/elems/logo5.png')
      section.geography
        .container
          .geography__wrapper
            h5 География клиентов
            p Операторы обучаются для досконального знания вашего продукта и повышают навыки продаж на тренингах. Также они должны быстро перестраиваться к новым продуктам, быть грамотными в письме, с обширным кругозором.
            .main-btn.request-form-active
              span Получить консультацию
          .geography__image
            .mobile
              img(src='img/pages/example/geography_bg.jpg')
            include ../img/pages/svg/map.svg
            img#map-shadow(src='img/pages/elems/shadow.png')
            include ../img/pages/svg/mes-ic.svg
            include ../img/pages/svg/map-line.svg
            .point.location-1
            include ../img/pages/svg/map-line-2.svg
            .point.location-2
            include ../img/pages/svg/map-line-3.svg
            .point.location-3
          .to-top-slide
            span Наверх
            .icon






    include ./partials/footer
    include ./partials/scripts