doctype html
html(lang="ru").about
    include ./partials/head
    body
        #pages
            a(href='404.html') 404 (t)
            a(href='about.html') about (t)
            a(href='blog.html') blog (t)
            a(href='blogs-all.html') blogs-all (t)
            a(href='careers.html') careers (t)
            a(href='careers-1.html') careers-1 (t)
            a(href='careers-2.html') careers-2 (t)
            a(href='cases.html') cases (t)
            a(href='contact.html') contact (t)
            a(href='index.html') index (t)
            a(href='reviews.html') reviews (t)
            a(href='service-1.html') service-1 (t)
            a(href='service-2.html') service-2 (t)
            a(href='service-3.html') service-3 (t)
