doctype html
html(lang="ru").reviews-page
    include ./partials/head
    body
        .preloader
            img(alt="" src='img/pages/elems/logo.png')
        include ./partials/header
        include ./partials/menu
        section.reviews-page__main
            include ./partials/breadcrumbs
            .wrapper
                h1 Отзывы
                .reviews-page__blocks
                    .reviews-page__blocks--article
                        .number
                            span 01
                        .review
                            .image
                                img(src='img/pages/example/review1.jpg')
                            .info
                                .author
                                    h6 Марина Волошина
                                .company
                                    span Yves Rocher
                                .text
                                    p Мы сотрудничали с  GoodCall с 2014 года. С самого начала GoodCall был профессиональным и надежным. Они реализуют конкретные ключевые показатели эффективности, обеспечиваемые высочайшим качеством обслуживания клиентов. Амбициозные цели GoodCall реализуют инновационные и эффективные схемы мотивации.  Ив Рошер рекомендует GoodCall в качестве квалифицированного партнера в области обслуживания клиентов.
                                a(href='https://polyarix.com/wp-content/uploads/2018/03/scan_moroz_dp.jpg').popup-js Смотреть оригинал
                    .reviews-page__blocks--article
                        .number
                            span 02
                        .review
                            .image
                                img(src='img/pages/example/review1.jpg')
                            .info
                                .author
                                    h6 Марина Волошина
                                .company
                                    span Yves Rocher
                                .text
                                    p Мы сотрудничали с  GoodCall с 2014 года. С самого начала GoodCall был профессиональным и надежным. Они реализуют конкретные ключевые показатели эффективности, обеспечиваемые высочайшим качеством обслуживания клиентов. Амбициозные цели GoodCall реализуют инновационные и эффективные схемы мотивации.  Ив Рошер рекомендует GoodCall в качестве квалифицированного партнера в области обслуживания клиентов.
                                a(href='https://polyarix.com/wp-content/uploads/2018/03/scan_moroz_dp.jpg').popup-js Смотреть оригинал
                    .reviews-page__blocks--article
                        .number
                            span 03
                        .review
                            .image
                                img(src='img/pages/example/review1.jpg')
                            .info
                                .author
                                    h6 Марина Волошина
                                .company
                                    span Yves Rocher
                                .text
                                    p Мы сотрудничали с  GoodCall с 2014 года. С самого начала GoodCall был профессиональным и надежным. Они реализуют конкретные ключевые показатели эффективности, обеспечиваемые высочайшим качеством обслуживания клиентов. Амбициозные цели GoodCall реализуют инновационные и эффективные схемы мотивации.  Ив Рошер рекомендует GoodCall в качестве квалифицированного партнера в области обслуживания клиентов.
                                a(href='https://polyarix.com/wp-content/uploads/2018/03/scan_moroz_dp.jpg').popup-js Смотреть оригинал
                    .reviews-page__blocks--article
                        .number
                            span 04
                        .review
                            .image
                                img(src='img/pages/example/review1.jpg')
                            .info
                                .author
                                    h6 Марина Волошина
                                .company
                                    span Yves Rocher
                                .text
                                    p Мы сотрудничали с  GoodCall с 2014 года. С самого начала GoodCall был профессиональным и надежным. Они реализуют конкретные ключевые показатели эффективности, обеспечиваемые высочайшим качеством обслуживания клиентов. Амбициозные цели GoodCall реализуют инновационные и эффективные схемы мотивации.  Ив Рошер рекомендует GoodCall в качестве квалифицированного партнера в области обслуживания клиентов.
                                a(href='https://polyarix.com/wp-content/uploads/2018/03/scan_moroz_dp.jpg').popup-js Смотреть оригинал
                    .reviews-page__blocks--article
                        .number
                            span 05
                        .review
                            .image
                                img(src='img/pages/example/review1.jpg')
                            .info
                                .author
                                    h6 Марина Волошина
                                .company
                                    span Yves Rocher
                                .text
                                    p Мы сотрудничали с  GoodCall с 2014 года. С самого начала GoodCall был профессиональным и надежным. Они реализуют конкретные ключевые показатели эффективности, обеспечиваемые высочайшим качеством обслуживания клиентов. Амбициозные цели GoodCall реализуют инновационные и эффективные схемы мотивации.  Ив Рошер рекомендует GoodCall в качестве квалифицированного партнера в области обслуживания клиентов.
                                a(href='https://polyarix.com/wp-content/uploads/2018/03/scan_moroz_dp.jpg').popup-js Смотреть оригинал


        include ./partials/footer
        include ./partials/scripts