doctype html
html(lang="ru").messenger.service-page
    include ./partials/head
    body
        .preloader
            .count 100%
        include ./partials/header
        include ./partials/menu
        section.messenger-main
            img(src='img/pages/example/messenger.jpg')
            .wrapper
                .messenger-main__text
                    h1 Мессенджеры
                    p GoodCall предоставляет набор инструментов для омниканального, интерактивного взаимодействия с вашей аудиторией через мессенджеры
            .show-scroll
        section.messenger-info
            .wrapper.sidemenu-wrapper
                .side-menu
                    .bar
                        .indicator
                    a(href='#service').active О сервисе
                    a(href='#proposition') Предложения
                    a(href='#messenger') Мессенджеры

                .main
                    .main-paragraph#service
                        p С использованием мессенджера ваша коммуникация с клиентом превращается в диалог в реальном времени.
                        p Станьте первыми, внедрив мессенджеры в свой бизнес и получите больше новых клиентов.

                    .info-block#proposition
                        h5 Мы предлагаем Вашему бизнесу:
                        .info-block__services
                            .info-block__services--block
                                .icon
                                    svg: use(xlink:href='img/sprite-inline.svg#science')
                                p Настроить чат-боты
                            .info-block__services--block
                                .icon
                                    svg: use(xlink:href='img/sprite-inline.svg#hand-shake')
                                p Запустить клиентскую поддержку
                            .info-block__services--block
                                .icon
                                    svg: use(xlink:href='img/sprite-inline.svg#chat')
                                p Осуществлять продажи в мессенджерах
                            .info-block__services--block
                                .icon
                                    svg: use(xlink:href='img/sprite-inline.svg#operator')
                                p Проводить консультации и опросы

                    .info-block#messenger
                        h5 Работаем с такими мессенджерами:
                        .info-block__services.expanded
                            .info-block__services--block
                                .icon
                                    svg: use(xlink:href='img/sprite-inline.svg#vk')
                                p В Контакте  диалогисправка
                            .info-block__services--block
                                .icon
                                    svg: use(xlink:href='img/sprite-inline.svg#telegram')
                                p Telegram
                            .info-block__services--block
                                .icon
                                    svg: use(xlink:href='img/sprite-inline.svg#fb')
                                p Facebook Messenger
                            .info-block__services--block
                                .icon
                                    svg: use(xlink:href='img/sprite-inline.svg#skype')
                                p Skype
                            .info-block__services--block
                                .icon
                                    svg: use(xlink:href='img/sprite-inline.svg#viber')
                                p Viber
                            .info-block__services--block
                                .icon
                                    svg: use(xlink:href='img/sprite-inline.svg#whatsapp')
                                p WhatsApp
                            .info-block__services--block
                                .icon
                                    svg: use(xlink:href='img/sprite-inline.svg#instagram')
                                p Instagram
                    .addition
                        h6 Все просто
                        p Напишите нашему Telegram-боту #[a(href='') GoodCall_bot], на страницу #[a(href='') Facebook] или в любой из мессенджеров #[a(href='') Viber] или #[a(href='') WhatsApp] на номер +38066000000.



        section.request
            .wrapper
                p Получите бесплатную консультацию или поговорите с нашей командой продаж, чтобы узнать больше о решениях Goodcall
                .main-btn.request-form-active
                    span Свяжитесь с нами



        section.next-service
            img(src='img/pages/example/incoming.jpg')
            .text
                span следующая услуга
                h6 Входящие вызовы
                a(href='#').link
                    span Подробнее

            include ./partials/footer


        include ./partials/scripts
