doctype html
html(lang="ru").outgoing.service-page
    include ./partials/head
    body
        .preloader
            .count 100%
        include ./partials/header
        include ./partials/menu
        section.outgoing-main
            img(src='img/pages/example/outgoing.jpg')
            .wrapper
                .outgoing-main__text
                    h1 Исходящие Вызовы
                    p В GoodCall мы обслуживаем наших клиентов первоклассными исходящими услугами call-центра, и наша квалификация заработала нашу глобальную клиентуру.
            .show-scroll
        section.outgoing-info

            .wrapper.sidemenu-wrapper
                .side-menu
                    .bar
                        .indicator
                    a(href='#outgoing').active Исходящие Вызовы
                    a(href='#tele') Телемаркетинг
                    a(href='#client') Привлечение потенциальных клиентов
                    a(href='#sale') Продажи и презентации по телефону
                    a(href='#appointment') Назначение встреч
                    a(href='#interview') Анкетирование и опросы
                    a(href='#restoring') Восстановление связи
                .main
                    .main-paragraph#outgoing
                        .inner
                            p Мы постоянно следим за проверенным процессом, ориентированным на результат, с гарантированным соотношением цены и качества. И дело не только в деньгах - наши исходящие услуги аутсорсинга функционировали как расширения наших клиентских компаний и дали замечательные результаты.

                            p Перед началом работы все наши операторы проходят предварительное обучение характеристикам товарам или услугам Вашей компании. Совместно с Вами специалисты нашего колл центра разрабатывают модель разговора, учитывая каждое слово, специфику продукта. Этот этап является одним из важных, потому что именно по разработанному сценарию операторы и будут представлять Вашу фирму!

                            p Следующим этапом является составление базы данных, по которой и будет совершаться обзвон. Базу данных Вы можете предоставить свою или же аналитики GoodCall разработают ее специально для Вас. Операторы нашего колл центра будут совершать холодные звонки по телефону, продавая Ваш товар (услугу), используя составленную базу клиентов и статистику, полученную в результате телефонного обзвона.

                        .open-text
                            .icon
                            span Показать больше

                    h4 Услуги исходящего колл-центра которые мы предоставляем:
                    .info-block#tele
                        h5 Телемаркетинг
                        h6 Зачем нужен телемаркетинг?
                        ul
                            li своевременно информировать клиентов о товаре или услуге
                            li поиск и привлечение новых клиентов и формирование базы лояльных клиентов
                            li увеличение эффективности маркетинговых сегментов
                            li сегментация рынка потребителей, заинтересованных в продукте или услуге
                            li предоставление отчетности, которая необходима Вам в планировании последующей деятельности: рекламных кампаний, прогноза закупок и продаж и т. д.
                        p При заказе услуги телемаркетинг, телефонные продажи Вашей компании вырастут в несколько раз и Вы выведите свою компанию в число лидеров, не отвлекаясь на обзвон и поиск клиентов!


                    .info-block#client
                        h5 Привлечение потенциальных клиентов
                        p Наш опыт доказывает, что если обзвонить достаточное количество потенциальных клиентов, то среди них обязательно найдутся те, кто будет готов рассмотреть Ваше предложение. Простая математика нам говорит, что чем больше Ваша целевая аудитория, тем легче найти в ней Ваших клиентов.

                        p Наш контакт-центр имеет успешный опыт реализации проектов по поиску и привлечению клиентов практически во всех сферах, агентства недвижимости и службы такси, банковские и страховые услуги, интернет-провайдеры и операторы связи, рекламные и интернет-агентства, юридические и IT- компании, ведение бухучета и консалтинг, автодилеры и ритэйл, производственные предприятия и многие другие.

                    .info-block#sale
                        h5 Телемаркетинг
                        h6 Данная услуга предоставляет следующие возможности для заказчиков:
                        ul
                            li увеличение продаж компании;
                            li повышение доверительного отношения к продукту компании;
                            li пополнение клиентской базы;
                            li создание базы людей, потенциально заинтересованных в покупке товаров/услуг;
                            li экономия ваших затрат на проведении презентации в телефонном режиме;
                            li информирование клиентов о проводимых акциях, новых скидках, обновлениях;

                    .info-block#appointment
                        h5 Назначение встреч
                        p Операторы нашего контакт-центра занимаются приглашением на различные мероприятия, бизнес встречи, собрания и т.п. Назначают встречи потенциальным клиентам, до и после рассылки коммерческого предложения потенциальным клиентам Вашей компании.
                        p После назначения встречи, вы получаете “теплого” клиента, с которым могут работать менеджеры Вашей компании. Данная услуга от нашей компании, показывает качественную и прозрачную схему в которой оптимизированы все  бизнес-процессы и это поможет в значительной степени разгрузить ваших менеджеров, делая процесс работы простым и продуктивным. Воспользовавшись данной услугой вы будете на шаг вперед от своих конкурентов, позволив прогнозировать и обеспечивать загрузку ваших менеджеров.

                    .info-block#interview
                        h5 Анкетирование и опросы
                        p Услуга предоставляемая нашим контакт-центром позволяет взаимодействовать вашей компании с потребителем для понимания его потребностей и возможных путей их удовлетворения. Наши интервьюеры связываются с респондентами любым выбранным вами способом, телефон, мессенджер либо настраивается IVR опрос.  Задаются заранее подготовленные и  согласованные вопросы. Эффективность таких опросов в несколько раз выше, чем обыкновенный опрос на улице.
                        h6 С какой целью компании заказывают данную услугу
                        ul
                            li Выявление спроса на товар или услугу.
                            li Определение уровня клиентской лояльности к услугам или товарам компании.
                            li Оценка уровня удовлетворенности услугой или продуктом компании.
                            li Сбор информации о конкурентах в целевых сегментах рынка.
                        h6 Главные преимущества опросов с компанией «Гудколл»
                        ul
                            li Качество полученных данных, позволяющих Вам строить правильную стратегию.
                            li Высокая скорость опросов и исследований.
                            li Обученные профессиональные интервьюеры.


                    .info-block#restoring
                        h5 Восстановление связи
                        p Мы восстанавливаем отношения с вашими клиентами, будь-то “спящий” клиент или потерявший доверие к продукту или услуге предоставляемой компанией. Наши консультанты мотивируют клиента воспользоваться продуктом или услугой, указывая на конкурентные преимущества вашей продукции.
                        p Если у вас есть уникальное требование для исходящих звонков, мы готовы обсуждать любые ваши пожелания. Мы можем настроить наши исходящие решения для клиентов, чтобы они соответствовали вашим бизнес-требованиям. Мы верим в общую прозрачность и позволяем нашим клиентам принимать обоснованные бизнес-решения.
                        p Ваши преимущества в аутсорсинге исходящих услуг от GoodCall. Вы можете сэкономить 60% от эксплуатационных расходов, что существенно повлияет на ваш бюджет.
                        p Вы получаете специальную команду операторов исходящего call-центра, которые работают в режиме 24x7x365
                        p Все вызовы контролируются и записываются. Качество звонков обеспечивается нашим отделом Quality Management, и вы можете прослушивать их в режиме реального времени. Высококачественная инфраструктура GoodCall гарантирует, что вероятность сбоев системы почти равна нулю.
                        p Выберите GoodCall для исходящих услуг call-центра. Будучи надежным центром аутсорсинга в Украине, GoodCall обслуживает множество клиентов по всему миру. Мы уверены, что наше сотрудничество можем удовлетворить ваши ожидания и превзойти их.

        section.request
            .wrapper
                p Получите бесплатную консультацию или поговорите с нашей командой продаж, чтобы узнать больше о решениях Goodcall
                .main-btn.request-form-active
                    span Свяжитесь с нами



        section.next-service
            img(src='img/pages/example/messenger.jpg')
            .text
                span следующая услуга
                h6 Мессенджеры
                a(href='#').link
                    span Подробнее

            include ./partials/footer


        include ./partials/scripts
