doctype html
html(lang="ru").incoming.service-page
    include ./partials/head
    body
        .preloader
            .count 100%
        include ./partials/header
        include ./partials/menu
        section.incoming-main
            img(src='img/pages/example/incoming.jpg')
            .wrapper
                .incoming-main__text
                    h1 Входящие вызовы и дополнительные сервисы
                    p Экономное и выгодное решение такой задачи. Данная услуга обеспечивает максимальный уровень доступности всех входящих звонков от клиентов Вашей компании.
            .show-scroll


        section.incoming-info
            .wrapper.sidemenu-wrapper
                .side-menu
                    .bar
                        .indicator
                    a(href='#incoming').active Входящие вызовы
                    a(href='#hot') Горячая линия (0800)
                    a(href='#virtual') Виртуальный секретарь
                    a(href='#reception ') Прием и обработка заказов
                    a(href='#ivr') IVR
                    a(href='#tech') Техническая поддержка



                .main
                    .main-paragraph
                        p Эффективность бизнеса напрямую зависит от качества организации работы с потенциальными и существующими клиентами, а также их удовлетворенности. Качественная и своевременная обработка всех входящих звонков требует привлечения большого количества ресурсов, это - персонал, применение дорогостоящего оборудования и программного обеспечения, затраты на телекоммуникационные и коммунальные услуги.
                    .info-block.one-article#incoming
                        h5 Услуга входящие вызовы
                        p Экономное и выгодное решение такой задачи. Данная услуга обеспечивает максимальный уровень доступности всех входящих звонков от клиентов Вашей компании. Главное ее преимущество – высокая скорость ответа клиенту без потери количества обращений.
                        p Данный сервис поможет максимально оптимизировать расходы, увеличит лояльность к Вашей компании. Это не только один из наиболее эффективных способов коммуникации с потребителями, но и отличный инструмент, который может 24 часа в сутки работать на продажи.
                        p #[b Обработка входящих вызовов] в несколько раз повысит качество обслуживания клиентов, а также уровень их информирования и снизит затраты на содержание вашего бизнеса. Услуга входящие вызовы в колл центре “GoodCall” подходит и для предприятий, которые не имеют офиса для сотрудников, а их менеджеры по продажам, часто находятся в командировках. Заказав услугу входящие вызовы у профессионалов в аутсорсинговом контакт-центре, компания может получить своего виртуального секретаря, который способен работать не хуже рядового сотрудника. Такой секретарь поможет сэкономить, но получить желаемый результат за минимальное количество времени.
                        .image.animate-image
                            img(src='img/pages/example/incoming-example.jpg')
                    h4 Комплекс входящие вызовы делится на:
                    .info-block#hot
                        h5 Горячая линия (0800)
                        p Данная услуга обеспечивает максимальный уровень доступности всех входящих звонков от клиентов вашей компании. Главное преимущество данного сервиса, это многоканальная телефония. Все обращения будут обработаны и зарегистрированы, что непременно качественно скажется на лояльности клиентов, а также финансовой составляющей вашего бизнеса. Заказ бесплатной линии 0-800, пользуется особой популярностью у 90% современных организаций, у которых есть огромный штат работников и ежедневное общение с большим количеством потребителей.

                    .info-block#virtual
                        h5 Виртуальный секретарь
                        p Теперь ваш офис не привязан к месту регистрации компании. Все входящие звонки будут моментально переадресовываться на ответственного сотрудника. При необходимости, наши операторы проведут консультации по основным вопросам, запишут и передадут всю важную информацию. Преимущества виртуального секретаря - это круглосуточная поддержка Вашего офиса в телефонном режиме.


                    .info-block#reception
                        h5 Прием и обработка заказов
                        p Операторы call центра “GoodCall”, закрепленные за Вашим проектом, принимают заказы от лица Вашей компании. Клиенты всегда получат подробную консультацию по выбору услуги или продукта, информацию о цене, наличии, способах оплаты и времени доставки. Примут заказ и передадут его далее ответственному менеджеру для формирования заказа. Благодаря нашему контакт-центру вы экономите время и ресурсы на обработку обращений с большим числом заказов, получая оформленный и готовый к формированию заказ.


                    .info-block#ivr
                        h5 IVR
                        p Мы предлагаем создание статического или динамического многоуровневого голосового меню. Которые позволят вашим клиентам ознакомиться с товарами и услугами, получить рекламную информацию, а также при необходимости соединиться с необходимым сотрудником или отделом организации. Интерактивная навигация выгодный вариант для снижения затрат при оформлении покупателем заказа или подаче рекламации. В режиме реального времени абонент имеет возможность самостоятельно получить необходимую информацию.


                    .info-block#tech
                        h5 Техническая поддержка
                        p Наши специалисты окажут профессиональную и оперативную помощь в решении вопросов, которые будут возникать у клиентов при работе с вашим продуктом или услугой.
                        p Услуга входящие вызовы (аутсорсинг) от компании “GoodCall” включает в себя тщательную подготовку проекта, его дальнейшую реализацию в установленные сроки, а также отправку отчета о проделанной работе.
                        p Служба поддержки клиентов может помочь вам наилучшим образом связаться с вашими клиентами. Благодаря службам автоответчика 24x7, отчетности в режиме реального времени и 100% -ным средствам записи звонков из GoodCall, вы можете увеличить продажи и повысить коэффициент конверсии. Наши услуги многоканальных колл-центров помогли многим мелким, средним и крупным компаниям удовлетворить их организационные потребности. С нами, как с поставщиком услуг колл-центров, вы можете быть уверены в превосходных услугах по очень доступным ценам.



        section.request
            .wrapper
                p Получите бесплатную консультацию или поговорите с нашей командой продаж, чтобы узнать больше о решениях Goodcall
                .main-btn.request-form-active
                    span Свяжитесь с нами



        section.next-service.last-section
            img(src='img/pages/example/outgoing.jpg')
            .text
                span следующая услуга
                h6 Исходящие звонки
                a(href='#').link
                    span Подробнее

            include ./partials/footer


        include ./partials/scripts
