@media screen and (max-width: 991px)
  .about
    &-main
      background-color: #ffffff
      @include vwplusemtb('padding-top', 120)
      @include vwplusemtb('padding-bottom', 0)
      display: flex
      flex-wrap: wrap
      .footer-other
        @include vwplusemtb('bottom', -50)
      .container
        .wrapper
          padding: 0
      &__text
        width: 100%
        display: block
        @include vwplusemtb('margin-bottom', 70)
        h1
          $f: 50
          @include vwplusemtb('margin-bottom', 35, $f)
        p
          $f: 18
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('line-height', 30, $f)
          @include vwplusemtb('margin-bottom', 45, $f)
          @include vwplusemtb('padding-right', 160, $f)
          color: $text-black
      &__image
        display: block
        width: 100%
        position: relative
        top: 0
        order: -1
        @include vwplusemtb('margin-right', 40)
        @include vwplusemtb('margin-left', 40)
        @include vwplusemtb('margin-bottom', 60)
        @include vwplusemtb('height', 418)


    &-info
      @include vwplusemtb('padding-top', 80)
      @include vwplusemtb('padding-bottom', 100)
      &--image
        display: block
        width: 100%
        @include vwplusemtb('height', 700)
        @include vwplusemtb('margin-bottom', 100)
      .side-menu
        display: none

      .main
        padding-left: 0
        .info-block
          @include vwplusemtb('margin-bottom', 100)
          h5
            $f: 40
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 50, $f)
            @include vwplusemtb('margin-bottom', 30, $f)
          h6
            $f: 20
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 26, $f)
            @include vwplusemtb('margin-bottom', 10, $f)
          p
            $f: 16
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 26, $f)
            @include vwplusemtb('margin-bottom', 36, $f)


    .work
      .image
        @include vwplusemtb('height', 500)
      .text
        h5
          $f: 50
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('margin-bottom', 60, $f)
        .main-btn
          @include vwplusemtb('width', 200)

      .footer-other
        display: none
