@media screen and (max-width: 991px)
  .blogs-all
    .footer-other
      position: fixed
      background-color: #ffffff


    &__main
      @include vwplusemtb('padding-top', 120)
      .blogs-header
        justify-content: flex-start
        @include vwplusemtb('margin-bottom', 60)
        h1
          $f: 50
          @include vwplusem('margin-right', 50, $f)
        .sorting
          @include vwplusemtb('margin-bottom', 10)
          p, a
            $f: 14
            @include vwplusemtb('font-size', $f)

    &__articles
      flex-wrap: wrap
      @include vwplusem('padding-right', 172)
      width: 100%
      .last-blog, .list-blog
        width: 100%
      .last-blog
        @include vwplusemtb('padding-right', 125)
        @include vwplusemtb('height', 200)
        display: block
        .date
          @include vwplusemtb('margin-bottom', 10)
          p
            $f: 14
            @include vwplusemtb('font-size', $f)
        a.head
          $f: 30
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('line-height', 40, $f)
          @include vwplusemtb('margin-bottom', 20, $f)

        p
          display: none
        a
          $f: 14
          @include vwplusemtb('font-size', $f)

      .list-blog
        max-height: none

        .blog-article
          width: 100%
          @include vwplusemtb('height', 180)
          @include vwplusemtb('padding', 0)
          @include vwplusemtb('margin-bottom', 40)
          &:first-child
            @include vwplusemtb('margin-top', 0)
          .date
            @include vwplusemtb('margin-bottom', 10)
            p
              $f: 14
              @include vwplusemtb('font-size', $f)

          a
            $f: 20
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 28, $f)

            &:before, &:after
              @include vwplusemtb('height', 2, $f)
              @include vwplusemtb('width', 14, $f)
              @include vwplusemtb('bottom', -25, $f)