@media screen and (max-width: 991px)
  .blog
    .footer-other
      position: fixed
      background-color: #ffffff

  .blog-main
    @include vwplusemtb('padding-top', 120)
    .breadcrumbs
      @include vwplusemtb('margin-bottom', 50)
    .wrapper
      position: relative
    &__inner
      flex-wrap: wrap
    .blog-main--left
      display: block
      width: 100%
      @include vwplusemtb('margin-bottom', 40)
      h1
        $f: 50
        @include vwplusemtb('margin-bottom', 50, $f)
      h5
        $f: 24
        @include vwplusemtb('font-size', $f)
        @include vwplusemtb('line-height', 32, $f)
        @include vwplusemtb('margin-bottom', 20, $f)
        @include vwplusemtb('padding-right', 190, $f)
        font-weight: 700
        color: $text-black

      .date
        p
          $f: 14
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('line-height', 45, $f)
          @include vwplusemtb('margin-bottom', 15, $f)
          font-weight: 500
          color: $text-black
          opacity: .5
          display: block
      .blog-slider
        @include vwplusemtb('padding-left', 0)
        @include vwplusemtb('padding-right', 170)
        height: auto
        width: 100%
        display: block
        .slider-arrow
          bottom: unset
          @include vwplusem('top', 100)
          &.arrow-left
            left: unset
            @include vwplusemtb('right', 80)
          &.arrow-right
            left: unset
            right: 0
  
    .blog-main--right
      display: block
      width: 100%
      @include vwplusem('padding-bottom', 110)
      a
        $f: 14
        @include vwplusemtb('font-size', $f)
        position: absolute
        @include vwplusemtb('padding-left', 20, $f)
        @include vwplusemtb('margin-bottom', 60, $f)
        display: inline-block
        @include vwplusemtb('top', 38)
        @include vwplusemtb('left', 210)
        &:before
          @include vwplusemtb('top', 3, $f)
          @include vwplusemtb('width', 8, $f)
          @include vwplusemtb('height', 8, $f)

      .blog__article
        .date
          p
            $f: 14
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 45, $f)
            @include vwplusemtb('margin-bottom', 15, $f)
            font-weight: 500


        .text
          max-height: none
          p
            $f: 16
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 26, $f)
            @include vwplusemtb('margin-bottom', 25, $f)
