@media screen and (max-width: 991px)
  .careers-all
    .footer-other
      position: fixed
      background-color: #ffffff
    &__main
      @include vwplusemtb('padding-top', 120)
      .wrapper
        position: relative
      &--inner
        flex-wrap: wrap
        .left
          display: block
          width: 100%
          .careers-header
            @include vwplusemtb('margin-bottom', 60)
            span
              $f: 14
              @include vwplusemtb('font-size', $f)
              @include vwplusemtb('line-height', 25, $f)
              @include vwplusemtb('width', 25, $f)
              @include vwplusemtb('right', -20, $f)

          .info
            background-color: $color-pink-light
            @include vwplusemtb('padding-top', 120)
            @include vwplusemtb('padding-left', 40)
            @include vwplusemtb('padding-right', 40)
            @include vwplusemtb('padding-bottom', 80)
            @include vwplusemtb('height', 420)
            position: relative
            display: flex
            flex-direction: column
            justify-content: space-between
            &--main
              display: flex
              justify-content: space-between
              .block
                p
                  $f: 40
                  @include vwplusemtb('font-size', $f)
                  @include vwplusemtb('margin-bottom', 15, $f)
                  line-height: 1
                  color: #ffffff
                  font-weight: 700
                  display: block
                span
                  $f: 16
                  @include vwplusemtb('font-size', $f)
                  @include vwplusemtb('line-height', 20, $f)
                  color: #fff
            &--description
              p
                $f: 16
                @include vwplusemtb('font-size', $f)
                @include vwplusemtb('line-height', 26, $f)
                font-weight: 500
                color: #ffffff
                display: block

        .right
          display: block
          width: 100%
          @include vwplusemtb('padding-top', 45)
          @include vwplusemtb('padding-bottom', 100)
          a.back
            $f: 14
            @include vwplusemtb('font-size', $f)
            position: absolute
            @include vwplusemtb('left', 330, $f)
            @include vwplusemtb('top', 38, $f)
            @include vwplusemtb('padding-left', 20, $f)
            @include vwplusemtb('margin-left', 40, $f)
            @include vwplusemtb('margin-bottom', 60, $f)

            &:before
              @include vwplusemtb('top', 3, $f)
              @include vwplusemtb('width', 8, $f)
              @include vwplusemtb('height', 8, $f)


          .list-vacancies
            max-height: none
            .mCSB_container
              @include vwplusemtb('padding-bottom', 30)

            .career-article
              width: 100%
              @include vwplusemtb('height', 200)
              @include vwplusemtb('padding-top', 40)
              @include vwplusemtb('padding-bottom', 40)
              padding-left: 0
              &:first-child
                @include vwplusemtb('margin-top', -40)
              .date
                @include vwplusemtb('margin-bottom', 10)
                p
                  $f: 14
                  @include vwplusemtb('font-size', $f)

              a
                $f: 20
                @include vwplusemtb('font-size', $f)
                @include vwplusemtb('line-height', 28, $f)

                &:before, &:after
                  @include vwplusemtb('height', 2, $f)
                  @include vwplusemtb('width', 14, $f)
                  @include vwplusemtb('bottom', -25, $f)