@media screen and (max-width: 991px)
  .careers
    .footer-other
      position: fixed
      background-color: #ffffff
    .careers-main
      @include vwplusemtb('padding-top', 95)
      @include vwplusemtb('padding-bottom', 0)
      display: flex
      flex-wrap: wrap
      &>.careers-main__image
        order: -1
      .container
        .wrapper
          padding: 0
      &__text
        width: 100%
        display: block
        @include vwplusemtb('padding-right', 100)
        h1
          $f: 50
          @include vwplusemtb('margin-bottom', 30, $f)

        p
          $f: 18
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('line-height', 30, $f)

      &__image
        display: block
        position: relative
        right: 0
        top: 0
        width: 100%
        @include vwplusemtb('height', 420)
        @include vwplusem('margin-bottom', 70)
        @include vwplusem('margin-left', 40)
        @include vwplusem('margin-right', 40)

    &-offers
      display: block
      @include vwplusemtb('padding-top', 160)
      @include vwplusemtb('padding-bottom', 145)
      h2
        $f: 40
        @include vwplusemtb('font-size', $f)
        @include vwplusemtb('margin-bottom', 20, $f)
      p
        $f: 16
        @include vwplusemtb('font-size', $f)

      &__image
        display: inline-flex
        position: absolute
        top: 0
        right: 0
        @include vwplusemtb('width', 158)
        @include vwplusemtb('height', 158)
        .eye, #eye
          @include vwplusemtb('width', 60)
          @include vwplusemtb('height', 60)

      &__inner
        display: flex
        justify-content: space-between
        position: relative

      &__info
        display: inline-flex
        flex-wrap: wrap
        order: -1
        @include vwplusemtb('padding-top', 55)
        @include vwplusemtb('width', 855)
        &>p
          $f: 16
          @include vwplusemtb('padding-right', 330, $f)


      &__table
        display: block
        @include vwplusemtb('margin-top', 90)

        &--row
          display: flex
          justify-content: space-between
          @include vwplusemtb('padding-bottom', 15)
          @include vwplusemtb('padding-top', 15)
          border-bottom: 1px solid #c7c8ce
          .number
            @include vwplusemtb('padding-left', 50)
            p
              $f: 18
              @include vwplusemtb('font-size', $f)
              align-items: center
              display: flex
              height: 100%
            &:before
              @include vwplusemtb('width', 35)

          .text
            p
              $f: 20
              @include vwplusemtb('font-size', $f)
              @include vwplusemtb('padding-left', 60, $f)
              text-align: right
      .main-btn
        &:hover
          span
            color: $color-pink-main
        &:before
          display: none