@media screen and (max-width: 991px)
  .vacancie
    footer.footer-other
      position: fixed
      background-color: #ffffff

    &__main
      @include vwplusemtb('padding-top', 120)
      @include vwplusemtb('padding-bottom', 180)
      .wrapper
        position: relative
      &--inner
        flex-wrap: wrap
        .left
          display: block
          width: 100%
          .careers-header
            @include vwplusemtb('margin-bottom', 60)
          .image
            @include vwplusemtb('height', 500)

        .right
          @include vwplusemtb('width', 570)
          @include vwplusemtb('padding-top', 45)
          a.back
            $f: 14
            @include vwplusemtb('font-size', $f)
            position: absolute
            @include vwplusemtb('padding-left', 20, $f)
            @include vwplusemtb('margin-bottom', 60, $f)
            @include vwplusemtb('left', 338, $f)
            @include vwplusemtb('top', 38, $f)
            &:before
              @include vwplusemtb('top', 3, $f)
              @include vwplusemtb('width', 8, $f)
              @include vwplusemtb('height', 8, $f)


          .vacancie__info
            max-height: none
            width: 100%
            @include vwplusemtb('margin-top', 40)
            .mCSB_draggerContainer
              display: none
            .date
              @include vwplusemtb('margin-bottom', 15)
              p
                $f: 14
                @include vwplusemtb('font-size', $f)

            h3
              $f: 40
              @include vwplusemtb('font-size', $f)
              @include vwplusemtb('line-height', 50, $f)
              @include vwplusemtb('margin-bottom', 40, $f)

            &--block
              &:first-of-type
                @include vwplusemtb('margin-bottom', 25)
              h5
                $f: 20
                @include vwplusemtb('font-size', $f)
                @include vwplusemtb('line-height', 26, $f)
                @include vwplusemtb('margin-bottom', 20, $f)
              ul
                li
                  $f: 16
                  @include vwplusemtb('font-size', $f)
                  @include vwplusemtb('line-height', 26, $f)
                  @include vwplusemtb('margin-bottom', 20, $f)
                  @include vwplusemtb('padding-left', 25, $f)
                  &:before
                    @include vwplusemtb('width', 7, $f)
                    @include vwplusemtb('height', 7, $f)
                    @include vwplusemtb('top', 10, $f)
            .main-btn
              @include vwplusemtb('margin-top', 75)




