@media screen and (max-width: 991px)
  .cases
    &__main
      @include vwplusemtb('padding-top', 120)
      &--inner
        @include vwplusemtb('height', 418)

    &__info
      @include vwplusemtb('padding-top', 85)
      @include vwplusemtb('padding-bottom', 70)
      &--row
        flex-wrap: wrap
        @include vwplusemtb('margin-bottom', 100)
        &.short
          .text
            width: 100%
            display: block
            @include vwplusem('padding-right', 100)
            p
              $f: 20
              @include vwplusemtb('font-size', $f)
              @include vwplusemtb('line-height', 28, $f)
          .image
            display: none

        .image
          order: -1
          width: 100%
          display: flex
          @include vwplusemtb('height', 500)
          @include vwplusemtb('margin-bottom', 50)
        .text
          width: 100%
          @include vwplusemtb('padding-right', 100)
          a.head
            $f: 30
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 40, $f)
            @include vwplusemtb('margin-bottom', 20, $f)

          span
            $f: 16
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 26, $f)
            @include vwplusemtb('margin-bottom', 20, $f)
          p
            $f: 16
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 26, $f)
            @include vwplusemtb('padding-right', 0)
          a
            $f: 14
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 26, $f)

    .work
      .image
        @include vwplusemtb('height', 500)
      .text
        h5
          $f: 50
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('margin-bottom', 40, $f)
        .main-btn
          @include vwplusemtb('width', 200)