@media screen and (max-width: 991px)
  .contact
    position: relative
    .footer-other
      z-index: 9

    &-main
      @include vwplusemtb('padding-top', 120)
      @include vwplusemtb('padding-bottom', 0)
      .contact-link
        display: none

      &__inner
        @include vwplusemtb('width', 490)
        h1
          $f: 50
          @include vwplusemtb('margin-bottom', 50, $f)
        table
          td
            $f: 16
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 26, $f)
            @include vwplusemtb('padding-bottom', 40, $f)
      #map
        position: relative
        width: 100%
        @include vwplusemtb('height', 480)

    &-form
      @include vwplusemtb('padding-top', 180)
      @include vwplusemtb('padding-bottom', 180)
      h2
        $f: 40
        @include vwplusemtb('font-size', $f)
        @include vwplusemtb('line-height', 54, $f)
        @include vwplusemtb('width', 420, $f)
        @include vwplusemtb('margin-bottom', 90, $f)
      form
        @include vwplusemtb('padding-left', 0)
        @include vwplusemtb('padding-right', 0)
        .left, .right
          @include vwplusemtb('width', 325)
        .left
          label
            &:first-child
              @include vwplusemtb('margin-bottom', 14, 16)
            span
              $f: 16
              @include vwplusemtb('font-size', $f)
              @include vwplusemtb('padding-top', 20, $f)
              @include vwplusemtb('padding-bottom', 20, $f)
            input
              $f: 16
              @include vwplusemtb('font-size', $f)
              @include vwplusemtb('padding-top', 20, $f)
              @include vwplusemtb('padding-bottom', 20, $f)

        .right
          label
            span
              $f: 16
              @include vwplusemtb('font-size', $f)
              @include vwplusemtb('padding-top', 20, $f)
              @include vwplusemtb('padding-bottom', 20, $f)
            textarea
              $f: 16
              @include vwplusemtb('font-size', $f)
              @include vwplusemtb('padding-top', 20, $f)
              @include vwplusemtb('padding-bottom', 20, $f)
        .main-btn
          @include vwplusemtb('margin-top', 80)
