@media screen and (max-width: 991px)
  body, html
    overflow: auto

  .container
    @include vwplusemtb('max-width', 768)
    @include vwplusemtb('padding-left', 40)
    @include vwplusemtb('padding-right', 40)

  .wrapper
    @include vwplusemtb('max-width', 768)
    @include vwplusemtb('padding-left', 40)
    @include vwplusemtb('padding-right', 40)

  //Main text blocks=====================================================================================================>
  h1
    $f: 50
    @include vwplusemtb('font-size', $f)
    @include vwplusemtb('line-height', 76, $f)

  p
    $f: 18
    @include vwplusemtb('font-size', $f)
    @include vwplusemtb('line-height', 27, $f)


  //Breadcrumbs
  .breadcrumbs
    @include vwplusemtb('margin-bottom', 50)
    &-list
      a
        $f: 14
        @include vwplusemtb('font-size', $f)

        &:after
          content: '/'
          @include vwplusemtb('margin-right', 8, $f)
          @include vwplusemtb('margin-left', 8, $f)
      span
        $f: 14
        @include vwplusemtb('font-size', $f)




  //Classes =============================================================================================================>
  .preloader
    .count
      $f: 40
      @include vwplusemtb('font-size', $f)
      @include vwplusemtb('padding-bottom', 40, $f)
      &:after
        @include vwplusemtb('padding-bottom', 20, $f)
  .main-btn
    @include vwplusemtb('width', 275)
    @include vwplusemtb('height', 64)
    @include vwplusemtb('border-radius', 32)
    &:before
      @include vwplusemtb('border-radius', 26)
    span
      $f: 16
      @include vwplusemtb('font-size', $f)
      @include vwplusemtb('line-height', 64, $f)


  .scroll-top
    @include vwplusemtb('width', 64)
    @include vwplusemtb('height', 64)
    border: 2px solid #ccc
    position: fixed
    @include vwplusemtb('right', 60)
    @include vwplusemtb('bottom', 100)
    z-index: 99
    cursor: pointer
    border-radius: 50%
    @include mainTransition()
    &:hover
      border-color: $color-pink-main
      &:before
        border-top-color: $color-pink-main
        border-right-color: $color-pink-main

    &:before
      content: ''
      position: absolute
      top: 50%
      left: 48%
      @include vwplusemtb('width', 8)
      @include vwplusemtb('height', 8)
      border-left: transparent
      border-bottom: transparent
      border-right: 2px solid $text-black
      border-top: 2px solid $text-black
      transform: rotate(-45deg) translate(-1%, -50%)
      transform-origin: center center


  .slider-arrow
    @include vwplusemtb('width', 64)
    @include vwplusemtb('height', 64)
    position: absolute
    background-color: transparent
    border: 2px solid rgba(255, 255, 255, 0.4)
    border-radius: 50%
    @include vwplusemtb('bottom', 200)
    cursor: pointer
    z-index: 1
    &:before
      content: ''
      position: absolute
      top: 56%
      left: 33%
      @include vwplusemtb('width', 8)
      @include vwplusemtb('height', 8)
      border-left: transparent
      border-bottom: transparent
      border-right: 2px solid #ffffff
      border-top: 2px solid #ffffff

    &.arrow-left
      @include vwplusemtb('right', 816)
      &:before
        transform: rotate(-135deg)
        @include vwplusemtb('left', 24)
        @include vwplusemtb('top', 26)

    &.arrow-right
      @include vwplusemtb('right', 741)
      &:before
        transform: rotate(45deg)
        @include vwplusemtb('left', 24)
        @include vwplusemtb('top', 26)
      svg
        @include vwplusemtb('width', 62)
        @include vwplusemtb('height', 62)
        position: absolute
        top: -1px
        left: -1px
        fill: none
        stroke-width: 2px
        stroke: #fff
        stroke-dashoffset: 0
        stroke-dasharray: 0
        transform: rotate(-90deg)
        @keyframes circle
          0%
            stroke-dashoffset: -300
          100%
            stroke-dashoffset: -500
        #shape
          fill: none
          stroke: #fff
          stroke-width: 2
          stroke-dasharray: 300
          stroke-dashoffset: -300
          &.animate
            animation: circle 4.2s linear forwards



  #pages
    @include vwplusemtb('padding-left', 20)
    @include vwplusemtb('padding-top', 20)
    a
      display: block
      $f: 20
      @include vwplusemtb('font-size', $f)
      color: $color-pink-light
      @include mainTransition()
      @include vwplusemtb('margin-bottom', 20, $f)
      &:hover
        color: $color-pink-main



  .show-scroll
    position: absolute
    @include vwplusemtb('right', 60)
    top: 50%
    transform: translateY(-50%)
    @include vwplusemtb('height', 175)

    @keyframes move
      0%
        transform: translate(-50%, -50%)
      33%
        transform: translate(-50%, 250%)
      66%
        transform: translate(-50%, 250%)
      100%
        transform: translate(-50%, -50%)
    &:before
      content: ''
      position: absolute
      width: 2px
      height: 100%
      background-color: #cccdd2
      top: 0
      transform: translate(-50%, 0%)
      left: 50%
      z-index: -1
      display: block
    &:after
      content: ''
      position: absolute
      @include vwplusemtb('width', 20)
      @include vwplusemtb('height', 32)
      @include vwplusemtb('border-radius', 10)
      @include vwplusemtb('top', 30)
      background-color: transparent
      border: 2px solid #3b358f
      animation: move 6s ease-out infinite
      display: block
      transform: translate(-50%, -50%)
      left: 50%