@media screen and (max-width: 991px)
  .index
    overflow: hidden!important
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    .header, .header.main-section__menu
      .logo-color
        display: none
      .container>a
        span
          color: #ffffff
      .menu
        .menu-burger
          &:before, &:after, .line
            background-color: #ffffff
    .header.need-header,
    .header.adv-header,
    .header.reviews-header,
    .header.geography-header
      .logo
        display: none
      .logo-color
        display: block
      .container>a
        span
          color: $text-black
      .menu
        .menu-burger
          &:before, &:after, .line
            background-color: $text-black
      .menu
        .menu-burger
          &:before, &:after, .line
            background-color: $text-black

    footer.footer.main-section__footer,
    footer.footer.need-footer,
    footer.footer.adv-footer,
    footer.footer.reviews-footer,
    footer.footer.geography-footer
      position: absolute
      @include vwplusemtb('padding-top', 20)
      @include vwplusemtb('padding-bottom', 20)
      background-color: transparent
      a, p, span, li
        color: $text-black!important

    footer.footer
      position: absolute
      @include vwplusemtb('padding-top', 20)
      @include vwplusemtb('padding-bottom', 20)
      background-color: transparent
      a, p, span
        color: #fff!important

    .pp-section
      overflow: hidden

    .main-section
      @include vwplusemtb('padding-top', 120)
      .bg-left, .bg-right
        width: 100%
        height: 50%
        left: unset
        top: unset
        background-color: #ffffff
      .bg-right
        bottom: 0
        background-color: #f5f6fa
        img
          width: 90%
          height: auto
          max-height: 100%
          @include vwplusemtb('right', -100)
      .bg-left
        top: 0
      .container
        display: flex
        justify-content: space-between
        flex-wrap: wrap
      &__info
        display: inline-flex
        width: 100%
        height: auto
        flex-direction: row
        justify-content: flex-start
        h1
          $f: 50
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('line-height', 60, $f)
          @include vwplusemtb('margin-bottom', 18, $f)
          svg
            @include vwplusemtb('height', 43, $f)
            @include vwplusemtb('width', 225, $f)
        p
          $f: 18
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('line-height', 30, $f)
          @include vwplusemtb('margin-bottom', 35, $f)
          @include vwplusemtb('width', 375, $f)
          @include vwplusemtb('margin-right', 100, $f)

      &__services
        position: relative
        bottom: 0
        left: 0
        transform: translateX(0%)
        display: flex
        flex-wrap: wrap
        flex-direction: column
        @include vwplusemtb('width', 480)
        @include vwplusemtb('padding-top', 100)
        align-items: flex-start
        justify-content: flex-start
        height: 50%
        &--card
          display: inline-block
          vertical-align: bottom
          @include vwplusemtb('width', 380)
          height: auto
          background-color: transparent
          @include vwplusemtb('padding-left', 0)
          @include vwplusemtb('padding-right', 30)
          @include vwplusemtb('padding-bottom', 0)
          @include vwplusemtb('padding-top', 0)
          @include vwplusemtb('margin-bottom', 20)
          &:first-of-type
            span
              &:first-of-type
                display: block
              //@include vwplusemtb('margin-bottom', 40, 10)
          &:nth-of-type(2)
            border-left: none
            border-right: none
          &:hover
            height: auto
            @include vwplusemtb('padding-top', 0)
            box-shadow: none
          span
            display: none
            $f: 14
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('margin-bottom', 13, $f)
          span.head
            display: inline-block
            vertical-align: middle
            $f: 20
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 26, $f)
            @include vwplusemtb('margin-bottom', 20, $f)
          span.more
            display: none
          span.number
            display: inline-block
            vertical-align: middle
            @include vwplusemtb('padding-top', 3)
            text-align: right
            float: left
            $f: 18
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('margin-right', 24, $f)

      &__footer
        a
          color: $text-black
        .copyright
          a
            color: $text-black
      .show-scroll
        display: none



    .service
      h2
        position: relative
        $f: 68
        @include vwplusemtb('font-size', $f)
        @include vwplusemtb('top', 0)
        @include vwplusemtb('left', 0)
      &__inner
        @include vwplusemtb('padding-top', 95)
        @include vwplusemtb('padding-left', 40)
        @include vwplusemtb('padding-right', 40)
      &__slider
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        .slick-arrow
          display: none!important
        .slick-dots
          @include vwplusemtb('bottom', 587)
          @include vwplusemtb('left', 570)
          li
            @include vwplusemtb('margin-right', 19)
            @include vwplusemtb('width', 10)
            @include vwplusemtb('height', 10)
            &:after
              @include vwplusemtb('width', 6)
              @include vwplusemtb('height', 6)
        &--wrapper
          flex-wrap: wrap
          height: 100%
          @include vwplusemtb('padding-top', 210)
          @include vwplusemtb('padding-bottom', 190)
          .left
            width: 100%
            height: 50%
            @include vwplusemtb('padding-top', 60)
            @include vwplusemtb('padding-bottom', 70)
            @include vwplusemtb('padding-left', 50)
            @include vwplusemtb('padding-right', 50)
            h5
              $f: 34
              @include vwplusemtb('font-size', $f)
              @include vwplusemtb('line-height', 46, $f)
              @include vwplusemtb('margin-bottom', 30, $f)
              @include vwplusemtb('width', 200, $f)
            p
              display: none
            a
              $f: 16
              @include vwplusemtb('font-size', $f)
              @include vwplusemtb('line-height', 30, $f)
              @include vwplusemtb('bottom', 80, $f)
              @include vwplusemtb('padding-right', 25, $f)

              &:after, &:before
                @include vwplusemtb('height', 2, $f)
                @include vwplusemtb('width', 14, $f)
                @include vwplusemtb('bottom', 14, $f)

          .right
            width: 100%
            height: auto
            @include vwplusemtb('padding-top', 66)
            @include vwplusemtb('padding-bottom', 70)
            @include vwplusemtb('padding-left', 50)
            @include vwplusemtb('padding-right', 50)
            ul
              li
                $f: 16
                @include vwplusemtb('font-size', $f)
                @include vwplusemtb('line-height', 20, $f)
                @include vwplusemtb('margin-bottom', 20, $f)



    .needs
      .pp-tableCell
        &:before
          width: 100%
          height: 50%
          top: 0
          left: 0

      &__bg
        top: unset
        bottom: 0
      .wrapper
        padding-left: 0
        padding-right: 0
      &__inner
        display: flex
        flex-wrap: wrap
        //@include vwplusemtb('padding-top', 120)
        &--left,&--right
          width: 100%
        &--left
          @include vwplusemtb('padding-right', 0)
          @include vwplusemtb('padding-bottom', 0)
          h4
            $f: 50
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 60, $f)
            @include vwplusemtb('width', 344, $f)
            @include vwplusemtb('margin-bottom', 40, $f)
          ul
            display: flex
            flex-wrap: wrap
            li
              $f: 16
              @include vwplusemtb('font-size', $f)
              @include vwplusemtb('line-height', 24, $f)
              @include vwplusemtb('margin-bottom', 20, $f)
              @include vwplusemtb('padding-left', 20, $f)
              width: 50%
              &:before
                @include vwplusemtb('top', 9, $f)
                @include vwplusemtb('width', 7, $f)
                @include vwplusemtb('height', 7, $f)

        &--right
          @include vwplusemtb('padding-left', 0)
          @include vwplusemtb('padding-top', 140)
          margin-top: 0
          .tabs
            display: flex
            justify-content: space-between
            width: 100%
            ul
              display: inline-flex
              flex-direction: column
              @include vwplusemtb('margin-top', -40)
              @include vwplusemtb('width', 290)
              height: auto
              li
                display: inline-block
                vertical-align: middle
                @include vwplusemtb('width', 126)
                @include vwplusemtb('margin-right', 53)
                @include vwplusemtb('margin-bottom', 40)
                a
                  $f: 14
                  @include vwplusemtb('font-size', $f)
                  @include vwplusemtb('line-height', 26, $f)

            &-content
              order: -1
              &>div
                @include vwplusemtb('padding-left', 0)
                @include vwplusemtb('width', 270)
                p
                  $f: 14
                  @include vwplusemtb('font-size', $f)
                  @include vwplusemtb('line-height', 20, $f)
                  &:before
                    @include vwplusemtb('top', -30, $f)
                    @include vwplusemtb('width', 56, $f)
                    @include vwplusemtb('height', 2, $f)



    .advantages
      .pp-tableCell
        &:before
          display: none
      h2
        $f: 50
        @include vwplusemtb('font-size', $f)
        @include vwplusemtb('line-height', 50, $f)
        @include vwplusemtb('width', 390, $f)
        padding-left: 20px
        @include vwplusemtb('margin-bottom', 520, $f)
      .wrapper
        height: 100%
        @include vwplusemtb('padding-top', 150)

      .mCSB_container
        height: 100%

      .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
        display: none
      .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail
        display: none

      .mCSB_buttonRight
        @include vwplusemtb('left', -280)
        @include vwplusemtb('top', 0)
        @include vwplusemtb('width', 64)
        @include vwplusemtb('height', 64)
        margin-left: 20px

      .mCSB_buttonLeft
        //@include vwplusemtb('left', -280)
        //@include vwplusemtb('top', -240)
        @include vwplusemtb('width', 64)
        @include vwplusemtb('height', 64)
        @include vwplusemtb('margin-top', 10)
        margin-left: 20px

      &__bg
        top: unset
        bottom: 0

      &__view
        position: absolute
        overflow-x: auto
        white-space: nowrap
        right: unset
        top: 50%
        transform: translateY(-50%)
        z-index: -1
        @include vwplusemtb('width', 1245)
        @include vwplusemtb('height', 500)
        @include vwplusemtb('left', 40)

        &--block
          @include vwplusemtb('width', 570)
          @include vwplusemtb('height', 440)
          @include vwplusemtb('margin-right', 30)
          @include vwplusemtb('padding-top', 250)
          @include vwplusemtb('padding-left', 60)
          @include vwplusemtb('padding-right', 60)
          position: relative
          white-space: normal
          .icon
            @include vwplusemtb('width', 75)
            @include vwplusemtb('height', 85)
            position: absolute
            @include vwplusemtb('right', 60)
            @include vwplusemtb('top', 60)
            svg
              display: block
              width: 100%
              height: 100%
          h6
            $f: 34
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 40, $f)
            font-weight: 700
            color: $text-black
            @include vwplusemtb('margin-bottom', 26, $f)
            display: block
          p
            display: block
            $f: 16
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 28, $f)
            font-weight: 400
            color: $text-black


    .reviews
      h3
        $f: 50
        @include vwplusemtb('font-size', $f)
        @include vwplusemtb('line-height', 76, $f)
        @include vwplusemtb('margin-bottom', 65, $f)
        @include vwplusemtb('padding-left', 0, $f)
      &__bg
        @include vwplusemtb('height', 390)

      &-slider
        @include vwplusemtb('padding-left', 0)
        @include vwplusemtb('padding-bottom', 350)
        .slider-arrow
          @include vwplusemtb('bottom', 165)
          &:before
            @include vwplusemtb('width', 8)
            @include vwplusemtb('height', 8)
          &.arrow-right
            @include vwplusemtb('left', 100)


        &--slide
          &.slick-current
            .image
              @include vwplusemtb('right', 20)
              @include vwplusemtb('width', 328)
              height: auto

          .content
            @include vwplusemtb('width', 490)
            .company
              @include vwplusemtb('margin-bottom', 34)
              h6
                $f: 30
                @include vwplusemtb('font-size', $f)
                @include vwplusemtb('line-height', 40, $f)
                @include vwplusemtb('margin-bottom', 15, $f)
              span
                $f: 14
                @include vwplusemtb('font-size', $f)
            .text
              @include vwplusemtb('width', 293)
              p
                $f: 16
                @include vwplusemtb('font-size', $f)
                @include vwplusemtb('line-height', 26, $f)
                @include vwplusemtb('max-height', 202, $f)
              &__hover
                a
                  $f: 14
                  @include vwplusemtb('font-size', $f)
          .image
            display: block
            position: absolute
            @include vwplusemtb('top', -120)
            @include vwplusemtb('right', 0)
            @include vwplusemtb('width', 328)
            height: auto

      &-slider-nav
        position: absolute
        background-color: transparent
        bottom: 0
        z-index: 10
        @include vwplusemtb('width', 650)
        .slick-list
          @include vwplusemtb('padding-left', 15)
        .reviews-image
          @include vwplusemtb('width', 80)
          @include vwplusemtb('height', 80)
          background-color: #ffffff
          position: relative
          @include vwplusemtb('margin-right', 60)
          @include vwplusemtb('margin-bottom', 35)
          @include vwplusemtb('margin-left', 5)
          cursor: pointer
          &.slick-current
            box-shadow: 0 10px 30px 0 rgba(43, 50, 66, 0.15)
          img
            max-width: 100%
            max-height: 100%
            height: auto
            width: auto
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

    .geography
      .to-top-slide
        display: none
      &__wrapper
        @include vwplusemtb('width', 470)
        @include vwplusemtb('margin-right', 80)
        h5
          $f: 50
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('line-height', 50, $f)
          @include vwplusemtb('margin-bottom', 25, $f)
        p
          $f: 14
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('line-height', 24, $f)
          @include vwplusemtb('margin-bottom', 10, $f)
        .main-btn
          background-color: #6535f0
          border-color: #6535f0
          &:before
            display: none
          &:hover
            span
              color: #fff

      &__image
        width: 100%
        @include vwplusemtb('height', 545)
        @include vwplusemtb('margin-top', -55)
        display: inline-block
        vertical-align: top
        position: relative
        .main-btn
          background-color: #6535f0
          border-color: #6535f0
          &:before
            display: none
          &:hover
            span
              color: #fff
        .point
          @include vwplusemtb('width', 8)
          @include vwplusemtb('height', 8)
          background-color: $color-pink-main
          position: absolute
          border-radius: 50%
          display: block
          @keyframes point-anim
            from
              transform: scale(1) translate(-50%, -50%)
              opacity: 0.6
            to
              transform: scale(7) translate(-50%, -50%)
              opacity: 0
          &.location-1
            @include vwplusemtb('top', 203)
            //@include vwplusemtb('left', 232)
            left: 26%
            transform: scale(0)
          @keyframes location-1
            from
              transform: scale(0)
            to
              transform: scale(1)
          &.location-2
            @include vwplusemtb('top', 133)
            @include vwplusemtb('left', 156)
            transform: scale(0)

          &.location-3
            @include vwplusemtb('top', 170)
            //@include vwplusemtb('right', 267)
            right: 26%
            transform: scale(0)

          &:after, &:before
            content: ''
            position: absolute
            @include vwplusemtb('width', 8)
            @include vwplusemtb('height', 8)

        #start-icon
          position: absolute
          //@include vwplusemtb('left', 540)
          left: 60%
          @include vwplusemtb('top', 200)
          @include vwplusemtb('width', 20)
          @include vwplusemtb('height', 18)

        #line-first
          position: absolute
          @include vwplusemtb('top', 150)
          //@include vwplusemtb('left', 240)
          left: 28%
          @include vwplusemtb('width', 220)

        #line-second
          position: absolute
          @include vwplusemtb('top', 83)
          //@include vwplusemtb('left', 203)
          left: 24%
          @include vwplusemtb('width', 252)

        #line-third
          position: absolute
          @include vwplusemtb('top', 152)
          //@include vwplusemtb('right', 279)
          right: 28%
          @include vwplusemtb('width', 70)

        #map-shadow
          bottom: 0
