@media screen and (max-width: 991px)
  .reviews-page
    footer.footer-other
      position: fixed
      background-color: #ffffff

    &__main
      @include vwplusemtb('padding-top', 120)
      @include vwplusemtb('padding-bottom', 100)
      h1
        $f: 50
        @include vwplusemtb('margin-bottom', 90, $f)
    &__blocks
      &--article
        @include vwplusemtb('padding-bottom', 20)
        @include vwplusemtb('padding-right', 20)
        @include vwplusemtb('margin-bottom', 60)
        .number
          display: none
        .review
          display: flex
          justify-content: space-between
          width: 100%
          .image
            @include vwplusemtb('width', 80)
            @include vwplusemtb('height', 80)
            @include vwplusemtb('margin-right', 40)
          .info
            @include vwplusemtb('width', 735)
            .author
              @include vwplusemtb('margin-bottom', 20)
              h6
                $f: 30
                @include vwplusemtb('font-size', $f)
                @include vwplusemtb('line-height', 40, $f)

            .company
              @include vwplusemtb('margin-bottom', 35)
              span
                $f: 14
                @include vwplusemtb('font-size', $f)

            .text
              @include vwplusemtb('margin-bottom', 35)
              p
                $f: 16
                @include vwplusemtb('font-size', $f)
                @include vwplusemtb('line-height', 26, $f)
            a
              $f: 14
              @include vwplusemtb('font-size', $f)