@media screen and (max-width: 991px)
  .service-page
    .show-scroll
      display: none

    .incoming-main
      position: relative
      @include vwplusemtb('height', 1024)
      img
        object-fit: cover

      &__text
        @include vwplusemtb('width', 610)
        @include vwplusemtb('left', 40)
        p
          $f: 18
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('line-height', 30, $f)
          @include vwplusemtb('margin-top', 40, $f)
          @include vwplusemtb('width', 600, $f)


    .incoming-info
      @include vwplusemtb('padding-top', 120)
      @include vwplusemtb('padding-bottom', 120)
      .wrapper
        position: relative
      .side-menu
        display: none

      .main
        @include vwplusemtb('padding-left', 0)
        &-paragraph
          p
            $f: 20
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 30, $f)
            @include vwplusemtb('margin-bottom', 275, $f)
        .info-block
          @include vwplusemtb('margin-bottom', 45)
          &.one-article
            @include vwplusemtb('margin-bottom', 180)
        h4
          $f: 30
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('line-height', 40, $f)
          @include vwplusemtb('margin-bottom', 45, $f)
        h5
          $f: 26
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('line-height', 30, $f)
          @include vwplusemtb('margin-bottom', 40, $f)
        p
          $f: 16
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('line-height', 26, $f)
          @include vwplusemtb('margin-bottom', 30, $f)
          img
            display: none

    .request
      @include vwplusemtb('padding-top', 58)
      @include vwplusemtb('padding-bottom', 58)
      .wrapper
        flex-wrap: wrap
        justify-content: center
      p
        $f: 24
        @include vwplusemtb('font-size', $f)
        @include vwplusemtb('line-height', 34, $f)
        @include vwplusemtb('padding-left', 20, $f)
        @include vwplusemtb('padding-right', 20, $f)
        @include vwplusemtb('margin-bottom', 40, $f)
        width: 100%
        text-align: center

    .next-service
      @include vwplusemtb('height', 640)
      .text
        width: 100%
        span
          $f: 14
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('margin-bottom', 20, $f)
        h6
          $f: 50
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('line-height', 80, $f)
        .link
          @include vwplusemtb('width', 200)
          @include vwplusemtb('height', 64)
          @include vwplusemtb('margin-top', 50)
          @include vwplusemtb('border-radius', 32)
          @include vwplusemtb('padding-right', 25)
          span
            $f: 16
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('line-height', 60, $f)
            &:after, &:before
              @include vwplusemtb('height', 2, $f)
              @include vwplusemtb('width', 14, $f)
              @include vwplusemtb('right', 7, $f)