/** Bold */
@font-face
  font-family: "Gotham Pro"
  font-weight: 700
  src: url("../fonts/GothamPro-Bold.ttf")


/** Regular */
@font-face
  font-family: "Gotham Pro"
  font-weight: 400
  src: url("../fonts/GothamPro.ttf")


/** Semibold */
@font-face
  font-family: "Gotham Pro"
  font-weight: 500
  src: url("../fonts/GothamPro-Medium.ttf")

/** Light */
@font-face
  font-family: "Gotham Pro"
  font-weight: 300
  src: url("../fonts/GothamPro-Light.ttf")
