.footer
  position: absolute
  @include vwplusem('bottom', 60)
  width: 100%
  left: 0
  z-index: 99
  display: none
  &.menu-open
    display: none !important
  &.need-footer, &.adv-footer
    .footer__wrapper
      .slide-count
        ul
          li
            color: $text-black
        span
          color: #3e446a
          opacity: 0.5
      .copyright
        a
          color: $text-black
          opacity: 0.5

  &.reviews-footer, &.geography-footer
    .slide-count
      ul
        li
          color: $text-black
      span
        color: #3e446a
        opacity: 0.5
    .copyright
      a
        color: $text-black
        opacity: 0.5

  &__wrapper
    display: flex
    justify-content: space-between
    .slide-count
      display: inline-flex
      align-self: flex-end
      align-items: baseline
      @include vwplusem('margin-bottom', -4)
      ul
        position: relative
        @include vwplusem('width', 50)
        @include vwplusem('height', 30)
        overflow: hidden
        li
          position: absolute
          $f: 34
          @include vwplusem('font-size', $f)
          @include vwplusem('margin-right', 9, $f)
          line-height: 1
          display: inline-block
          vertical-align: bottom
          color: #ffffff
          font-weight: 700
          transition: all 1s cubic-bezier(.55,.085,0,.99)
          transition-timing-function: cubic-bezier(.55,.085,0,.99)
          transform: translateY(-100%)
          &.active
            transform: translateY(0%)
      span
        $f: 16
        @include vwplusem('font-size', $f)
        display: inline-block
        vertical-align: bottom
        color: #ffffff
        opacity: 0.4
    .copyright
      display: inline-flex
      align-self: flex-end
      a
        $f: 12
        @include vwplusem('font-size', $f)
        color: #ffffff
        font-weight: 500
        display: inline-block
        vertical-align: bottom
        transition-delay: 0.6s
        @include mainTransition()
        &:first-child
          @include vwplusem('margin-right', 30, $f)

.footer-other
  position: absolute
  display: flex
  justify-content: space-between
  width: 100%
  overflow: hidden
  @include vwplusem('bottom', 20)
  @include vwplusem('padding-left', 60)
  @include vwplusem('padding-right', 60)
  .info
    a
      &:first-child
        text-transform: none

  .languages
    a
      $f: 12
      @include vwplusem('margin-right', 10, $f)
  a
    $f: 12
    @include vwplusem('font-size', $f)
    @include vwplusem('margin-right', 30, $f)
    color: $text-black
    opacity: .3
    font-weight: 500
    text-transform: uppercase
    @include mainTransition()
    transform: translateY(0%)
    display: inline-block
    &:before
      position: absolute
      top: 110%
      content: attr(data-hover)
      color:  $text-black
      font-weight: 500
      transform: translate3d(0,0,0)
    &:hover, &.active
      opacity: 1
      transform: translateY(-100%)
    &:last-child
      margin-right: 0
  span
    $f: 12
    @include vwplusem('font-size', $f)
    @include vwplusem('margin-right', 30, $f)
    text-transform: none
    color: #fff
    opacity: .3

@media screen and (max-width: 991px)
  .footer
    @include vwplusemtb('bottom', 0)
    @include vwplusemtb('padding-top', 40)
    @include vwplusemtb('padding-bottom', 40)
    z-index: 10
    &__wrapper
      .slide-count
        @include vwplusemtb('margin-bottom', -4)
        ul
          @include vwplusemtb('width', 60)
          @include vwplusemtb('height', 30)
          li
            $f: 34
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('margin-right', 9, $f)
        span
          $f: 16
          @include vwplusemtb('font-size', $f)

      .copyright
        a
          $f: 12
          @include vwplusemtb('font-size', $f)
          &:first-child
            @include vwplusemtb('margin-right', 30, $f)

  .footer-other
    @include vwplusemtb('bottom', 0)
    @include vwplusemtb('padding', 40)
    z-index: 10
    .social, .info
      overflow: hidden
    .languages
      a
        $f: 12
        @include vwplusemtb('margin-right', 10, $f)
    a
      $f: 12
      @include vwplusemtb('font-size', $f)
      @include vwplusemtb('margin-right', 30, $f)

@media screen and (max-width: 767px)
  .footer
    @include vwplusemmb('bottom', 20)
    @include vwplusemmb('padding-top', 40)
    @include vwplusemmb('padding-bottom', 40)
    z-index: 10
    &__wrapper
      .slide-count
        @include vwplusemmb('margin-bottom', -4)
        ul
          @include vwplusemmb('width', 75)
          @include vwplusemmb('height', 50)
          li
            $f: 50
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('margin-right', 9, $f)
        span
          $f: 24
          @include vwplusemmb('font-size', $f)

      .copyright
        a
          $f: 24
          @include vwplusemmb('font-size', $f)
          &:first-child
            @include vwplusemmb('margin-right', 0, $f)
          &:last-child
            display: none

  .footer-other
    @include vwplusemmb('bottom', 0)
    @include vwplusemmb('padding', 30)
    .social
      display: none
    .info
      display: flex
      width: 100%
      justify-content: space-between
    .languages
      a
        $f: 24
        @include vwplusemmb('margin-right', 10, $f)
    a
      $f: 24
      @include vwplusemmb('font-size', $f)
      @include vwplusemmb('margin-right', 30, $f)
      overflow: hidden

