//Mixins===============================================================================================================>
@function strip-units($value)
  @return $value / ($value * 0 + 1)

@function em($pixels, $font: 10px)
  $newval: $pixels / $font
  @return #{strip-units($newval)}em

@function tovw($pixels, $vpWidth: 640px)
  $newval: ($pixels / $vpWidth) * 100
  @return #{strip-units($newval)}vw

@function tovh($pixels, $vpHeight: 640px)
  $newval: ($pixels / $vpHeight) * 100
  @return #{strip-units($newval)}vh


//Fonts================================================================================================================>
$main-font: 'Gotham Pro', sans-serif
$font-alt:  'Lato', sans-serif

@mixin vwfont($selector, $pixels, $font: 10px, $vpWidth: 1400px)
  //@if($vpWidth >= 1400px)
  //  #{$selector} : em($pixels, $font)
  //  @media (max-width: 1400px)
  //    #{$selector} : tovw($pixels, $vpWidth)
  @if($vpWidth >= 1920px)
    #{$selector} : em($pixels, $font)
    @media (max-width: 1920px)
      #{$selector} : tovw($pixels, $vpWidth)
    @media screen and (max-width: 1600px)
      #{$selector} : tovw($pixels, $vpWidth: 1650px)

@mixin vwplusem($selector, $pixels, $font: 10px, $vpWidth: 1680px)
  @if($vpWidth >= 1680px)
    #{$selector} : em($pixels, $font)
    @media (max-width: 1680px)
      #{$selector} : tovw($pixels, $vpWidth)
@mixin vwplusemtb($selector, $pixels, $font: 10px, $vpWidth: 768px)
  #{$selector} : tovw($pixels, $vpWidth)
@mixin vwplusemmb($selector, $pixels, $font: 10px, $vpWidth: 640px)
  #{$selector} : tovw($pixels, $vpWidth)

@mixin clearfix()
  &:before,
  &:after
    content: ""
    display: table

  &:after
    clear: both

@mixin decBefore($width, $height, $color: #ffffff, $top: auto, $left: auto, $right: auto, $bottom: auto)
  &::before
    content: ''
    position: absolute
    display: inline-block
    width: $width
    height: $height
    top: $top
    left: $left
    right: $right
    bottom: $bottom
    background: $color

@mixin decAfter($width, $height, $color: #ffffff, $top: auto, $left: auto, $right: auto, $bottom: auto)
  &::after
    content: ''
    position: absolute
    display: inline-block
    width: $width
    height: $height
    top: $top
    left: $left
    right: $right
    bottom: $bottom
    background: $color

  &:after
    clear: both

@mixin textStyle($font-size, $font-weight: 400, $color: #000000, $font-family: $main-font)
  font-family: $font-family
  @include vwplusem('font-size', $font-size)
  color: $color
  font-weight: $font-weight

@mixin imageAlign($x: -50%, $y: -50%)
  min-width: 100%
  min-height: 100%
  transform: translate($x, $y)
  position: absolute
  left: 50%
  top: 50%

@mixin justifyAlign
  &:after
    content: ""
    display: inline-block
    width: 100%

@mixin absCenter()
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

@mixin placeholderColor($color)
  &::-webkit-input-placeholder
    color: $color
  &::-moz-placeholder
    color: $color
  &:-moz-placeholder
    color: $color
  &:-ms-input-placeholder
    color: $color
@mixin mainTransition($speed: 0.2s, $property: all)
  transition: $property $speed ease-in

//Colors===============================================================================================================>
$color-pink-light: #9d9eda
$color-pink-main: #6535f0
$color-black: #20222e

$text-black: #222330


//Removing default properties==========================================================================================>
p,div,h1,h2,h3,h4,h5,h6,ul,ol,a,li,form, input, button, fieldset
  margin: 0
  padding: 0
  border: none

//Hide spin-buttons for input(number)
input[type=number]
  -moz-appearance: textfield

input[type=number]::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

input, textarea
  @include placeholderColor(#fff)

*, *:focus
  outline: none

*
  box-sizing: border-box

a:focus
  outline: none

//Main blocks==========================================================================================================>
body
  min-height: 100%
  //position: relative
  font-size: 10px
  min-width: 320px
  box-sizing: border-box
  overflow-x: hidden
  font-family: $main-font
  color: $text-black
  -webkit-font-smoothing: antialiased

  &.active
    overflow: hidden
    position: fixed
    height: 100%
    width: 100%
    top: 0
    left: 0


main
  overflow: hidden

.container
  @include vwplusem('max-width', 1920)
  @include vwplusem('padding-left', 60)
  @include vwplusem('padding-right', 60)
  position: relative
  margin: 0 auto

.wrapper
  @include vwplusem('max-width', 1140)
  margin: 0 auto

#pp-nav
  display: none!important
//Main text blocks=====================================================================================================>
h1
  $f: 68
  @include vwplusem('font-size', $f)
  @include vwplusem('line-height', 76, $f)
  font-weight: 700
  color: $text-black
  display: block

p
  $f: 18
  @include textStyle($f, 400, #004d7a)
  @include vwplusem('line-height', 27, $f)

a
  text-decoration: none

ul
  list-style-type: none
  padding-left: 0

//Breadcrumbs
.breadcrumbs
  @include vwplusem('margin-bottom', 80)
  &-list
    a
      $f: 10
      @include vwplusem('font-size', $f)
      line-height: 1
      font-weight: 600
      color: $text-black
      position: relative
      display: inline-block
      vertical-align: middle
      text-transform: uppercase
      &:after
        content: '/'
        @include vwplusem('margin-right', 8, $f)
        @include vwplusem('margin-left', 8, $f)
    span
      $f: 10
      @include vwplusem('font-size', $f)
      line-height: 1
      display: inline-block
      vertical-align: middle
      font-weight: 600
      color: #9ba9bb
      text-transform: uppercase



//Classes =============================================================================================================>
.preloader
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden
  z-index: 999
  &.none
    display: none
  &:after
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 50%
    background: #f1f2f6
    z-index: 9
    animation: revealBot 0.3s 3s forwards ease-out
  .count
    position: absolute
    width: 100%
    height: 50%
    bottom: 50%
    left: 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    background: #f1f2f6
    font-weight: 700
    animation: revealTop 0.3s 3s forwards ease-out
    z-index: 2
    $f: 40
    @include vwplusem('font-size', $f)
    @include vwplusem('padding-bottom', 40, $f)
    &:after
      content: ''
      width: 100%
      border-bottom: 1px solid
      transform-origin: 0 50%
      transform: scale3d(0,1,1)
      @include vwplusem('padding-bottom', 20, $f)
      animation: count 3s ease-in-out forwards
@keyframes count
  to
    transform: scale3d(1,1,1)
@keyframes revealTop
  to
    transform: translate3d(0,-100%,0)
@keyframes revealBot
  to
    transform: translate3d(0, 100%,0)


.mobile, .hidden

  display: none!important

.main-btn
  display: inline-block
  @include vwplusem('width', 275)
  @include vwplusem('height', 64)
  @include vwplusem('border-radius', 32)
  cursor: pointer
  @include mainTransition(0.5s)
  position: relative
  border: 2px solid #fff
  overflow: hidden
  z-index: 6
  &:before
    position: absolute
    content: ''
    width: 0
    height: 200%
    background: #fff
    top: -30%
    right: 0
    transition: width 0.5s cubic-bezier(0.81, 0.16, 0.19, 0.9)
    //@include vwplusem('border-radius', 26)
    //transform: scale3d(0,1,1)
    transform-origin: left center
  &:hover
    box-shadow: none
    &:before
      width: 100%
      background: #fff
      left: 0
      z-index: -1
      //transform: scale3d(1,1,1)
    span
      color: #3b358f

  span
    display: block
    text-align: center
    width: 100%
    $f: 16
    @include vwplusem('font-size', $f)
    @include vwplusem('line-height', 60, $f)
    font-weight: 500
    position: relative
    color: #ffffff

.scroll-top
  @include vwplusem('width', 64)
  @include vwplusem('height', 64)
  border: 2px solid #ccc
  position: fixed
  @include vwplusem('right', 60)
  @include vwplusem('bottom', 100)
  z-index: 99
  cursor: pointer
  border-radius: 50%
  @include mainTransition()
  &:hover
    border-color: $color-pink-main
    &:before
      border-top-color: $color-pink-main
      border-right-color: $color-pink-main

  &:before
    content: ''
    position: absolute
    top: 50%
    left: 48%
    @include vwplusem('width', 8)
    @include vwplusem('height', 8)
    border-left: transparent
    border-bottom: transparent
    border-right: 2px solid $text-black
    border-top: 2px solid $text-black
    transform: rotate(-45deg) translate(-1%, -50%)
    transform-origin: center center

.slider-arrow
  @include vwplusem('width', 64)
  @include vwplusem('height', 64)
  position: absolute
  background-color: transparent
  border: 2px solid rgba(255, 255, 255, 0.4)
  border-radius: 50%
  @include vwplusem('bottom', 200)
  cursor: pointer
  z-index: 1
  &:before
    content: ''
    position: absolute
    top: 56%
    left: 33%
    @include vwplusem('width', 8)
    @include vwplusem('height', 8)
    border-left: transparent
    border-bottom: transparent
    border-right: 2px solid #ffffff
    border-top: 2px solid #ffffff

  &.arrow-left
    @include vwplusem('right', 816)
    &:before
      transform: rotate(-135deg)
      @include vwplusem('left', 24)
      @include vwplusem('top', 26)

  &.arrow-right
    @include vwplusem('right', 741)
    &:before
      transform: rotate(45deg)
      @include vwplusem('left', 24)
      @include vwplusem('top', 26)
    svg
      @include vwplusem('width', 62)
      @include vwplusem('height', 62)
      position: absolute
      top: -1px
      left: -1px
      fill: none
      stroke-width: 2px
      stroke: #fff
      stroke-dashoffset: 0
      stroke-dasharray: 0
      transform: rotate(-90deg)
      @keyframes circle
        0%
          stroke-dashoffset: -300
        100%
          stroke-dashoffset: -500
      #shape
        fill: none
        stroke: #fff
        stroke-width: 2
        stroke-dasharray: 300
        stroke-dashoffset: -300
        &.animate
          animation: circle 4.2s linear forwards





#pages
  @include vwplusem('padding-left', 20)
  @include vwplusem('padding-top', 20)
  a
    display: block
    $f: 20
    @include vwplusem('font-size', $f)
    color: $color-pink-light
    @include mainTransition()
    @include vwplusem('margin-bottom', 20, $f)
    &:hover
      color: $color-pink-main


@keyframes move
  0%
    transform: translate(-50%, -50%)
  33%
    transform: translate(-50%, 250%)
  66%
    transform: translate(-50%, 250%)
  100%
    transform: translate(-50%, -50%)

.show-scroll
  position: absolute
  @include vwplusem('right', 60)
  top: 50%
  transform: translateY(-50%)
  @include vwplusem('height', 175)

  &:before
    content: ''
    position: absolute
    width: 2px
    height: 100%
    background-color: #cccdd2
    top: 0
    transform: translate(-50%, 0%)
    left: 50%
    z-index: -1
    display: block
  &:after
    content: ''
    position: absolute
    @include vwplusem('width', 20)
    @include vwplusem('height', 32)
    @include vwplusem('border-radius', 10)
    @include vwplusem('top', 30)
    background-color: transparent
    border: 2px solid #3b358f
    display: block
    transform: translate(-50%, -50%)
    left: 50%


.animate-image
  &.animated
    &.right
      img
        right: 0
    &.left
      img
        left: 0
    img
      width: 100% !important
  img
    position: absolute
    width: 0!important
    transition: 0.75s cubic-bezier(0.785, 0.135, 0.15, 0.86)


//animation
@keyframes paragraph
  from
    opacity: 0
    transform: translateY(50%)
  to
    opacity: 1
    transform: translateY(0%)


@keyframes header
  from
    opacity: 0
    transform: translateX(-10%)
  to
    opacity: 1
    transform: translateX(0%)