.header
  position: absolute
  @include vwplusem('top', 35)
  width: 100%
  left: 0
  z-index: 99
  a.menu-open
    svg
      fill: #fff
      opacity: 0.3
    span
      color: #ffffff!important
      opacity: .3
    div
      background-color: #ffffff!important
      &.menu-burger
        background-color: transparent!important

      &:before, &:after
        background-color: #ffffff!important
    &.menu
      span
        opacity: 1
    &.logo
      svg
        opacity: 1

  &.all-white
    .logo-color
      display: none!important
    .logo
      display: inline-block!important

    .location, .menu, .tel, .mail
      svg
        fill: #fff!important
        opacity: 1
      span
        color: #ffffff!important
        opacity: 1
      .menu-burger
        &:before, &:after, .line
          background-color: #ffffff!important

  &.main-section__menu
    .location
      svg
        fill: $text-black

  &.service-header
    .location
      svg
        fill: #fff


  &.need-header, &.adv-header
    .logo
      display: none
    .logo-color
      display: inline-block
    .tel, .mail
      svg
        fill: $text-black
      span
        color: $text-black
    .location, .menu
      svg
        fill: #fff
      span
        color: #ffffff
      .menu-burger
        &:before, &:after, .line
          background-color: #ffffff

  &.reviews-header, &.geography-header
    .logo
      display: none
    .logo-color
      display: inline-block
    .tel, .mail
      svg
        fill: $text-black
      span
        color: $text-black
    .location, .menu
      svg
        fill: $text-black
      span
        color: $text-black
      .menu-burger
        &:before, &:after, .line
          background-color: $text-black

  .logo, .logo-color
    display: inline-block
    vertical-align: middle
    @include vwplusem('width', 120)
    @include vwplusem('height', 23)
    @include vwplusem('margin-right', 235)
    &-color
      display: none
    svg
      width: 100%
      height: 100%
      display: block

  .tel
    @include vwplusem('margin-right', 142)

  .mail
    @include vwplusem('margin-right', 139)

  .tel, .mail
    svg
      display: inline-block
      @include vwplusem('width', 14)
      @include vwplusem('height', 20)
      @include vwplusem('margin-right', 10)
      fill: #fff
    span
      display: inline-block

  .location
    svg
      display: inline-block
      @include vwplusem('width', 14)
      @include vwplusem('height', 20)
      @include vwplusem('margin-right', 10)
      fill: $text-black

  .header-text
    display: inline-flex
    vertical-align: text-top
    span
      $f: 14
      @include vwplusem('font-size', $f)
      @include vwplusem('line-height', 23, $f)
      font-weight: 500
      display: block
      color: #fff


  .menu
    float: right
    display: inline-flex
    //align-items: center
    align-items: flex-end
    @include vwplusem('height', 23)
    &:hover
      .menu-burger
        .line
          &:after
            opacity: 1
            left: 0
    .menu-burger
      &.active
        @include vwplusem('height', 16)
        .line
          opacity: 0
          &:first-child
            top: 50%
            transform: rotate(-45deg)
            opacity: 1
          &:nth-child(2)
            transition: 0s
          &:last-child
            transform: rotate(45deg)
            top: 50%
            opacity: 1
          &:after
            display: none
    span
      display: inline-block
      vertical-align: middle
      $f: 12
      @include vwplusem('font-size', $f)
      @include vwplusem('line-height', 16, $f)
      @include vwplusem('margin-right', 7, $f)
      font-weight: 500
      text-transform: uppercase
      color: #ffffff
    .menu-burger
      display: inline-block
      vertical-align: middle
      @include vwplusem('width', 16)
      @include vwplusem('height', 12)
      margin-bottom: 1px
      position: relative
      @include mainTransition()
      overflow: hidden

      .line
        position: absolute
        @include vwplusem('height', 2)
        opacity: 1
        @include mainTransition(0.3s)
        width: 100%
        background-color: #fff
        &:first-child
          top: 0
          &:after
            transition-delay: 0.2s
        &:nth-child(2)
          top: 50%
          transform: translateY(-50%)
          &:after
            transition-delay: 0.4s
        &:last-child
          bottom: 0
          top: unset
          &:after
            transition-delay: 0.6s
        &:after
          content: ''
          position: absolute
          width: 100%
          height: 100%
          left: 100%
          top: 0
          background-color: #aba9cb
          transition: 0.3s
          z-index: 2

      //&:before
      //  content: ''
      //  top: 0
      //  left: 0
      //  position: absolute
      //  @include vwplusem('height', 2)
      //  width: 100%
      //  background-color: #fff
      //  @include mainTransition(0.3s)
      //
      //&:after
      //  content: ''
      //  bottom: 0
      //  left: 0
      //  position: absolute
      //  @include vwplusem('height', 2)
      //  width: 100%
      //  background-color: #fff
      //  @include mainTransition(0.3s)



@media screen and (max-width: 991px)
  .header
    @include vwplusemtb('top', 30)

    .container
      display: flex
      justify-content: space-between
      &>a
        display: inline-flex
        align-self: flex-end
        &.location
          display: none
        span
          line-height: 1

    .logo, .logo-color
      @include vwplusemtb('width', 120)
      @include vwplusemtb('height', 23)
      @include vwplusemtb('margin-right', 0)

    .location
      display: none

    .tel
      @include vwplusemtb('margin-right', 0)

    .mail
      @include vwplusemtb('margin-right', 0)


    .header-text
      display: inline-flex
      svg
        display: inline-flex
        align-self: center
        @include vwplusemtb('margin-right', 20)
        @include vwplusemtb('width', 20)
        @include vwplusemtb('height', 20)
      span
        $f: 14
        display: inline-flex
        align-self: center
        @include vwplusemtb('font-size', $f)
        @include vwplusemtb('line-height', 23, $f)

    .menu
      @include vwplusemtb('height', 23)
      @include vwplusemtb('padding-bottom', 2)
      &.active
        .menu-burger
          .line
            display: none
          &:after
            transform: rotate(45deg) translateY(-50%)
            top: 50%
          &:before
            transform: rotate(-45deg) translateY(-50%)
            top: 50%
      span
        $f: 12
        @include vwplusemtb('font-size', $f)
        @include vwplusemtb('line-height', 16, $f)
        @include vwplusemtb('margin-right', 7, $f)
      .menu-burger
        @include vwplusemtb('width', 16)
        @include vwplusemtb('height', 12)
        &.active
          @include vwplusemtb('height', 16)
        .line
          @include vwplusemtb('height', 2)
        &:before
          @include vwplusemtb('height', 2)
        &:after
          @include vwplusemtb('height', 2)


@media screen and (max-width: 767px)
  .header
    @include vwplusemmb('top', 30)
    .container
      display: flex
      justify-content: space-between
      &>a
        display: inline-flex
        align-self: flex-end
        &.location, &.tel, &.mail
          display: none
        span
          line-height: 1

    .logo, .logo-color
      @include vwplusemmb('width', 170)
      @include vwplusemmb('height', 32)
      @include vwplusemmb('margin-right', 0)

    .header-text
      span
        $f: 14
        @include vwplusemmb('font-size', $f)
        @include vwplusemmb('line-height', 23, $f)

    .menu
      @include vwplusemmb('height', 23)
      &.active
        .menu-burger
          .line
            display: none
          &:after
            transform: rotate(45deg) translateY(-50%)
            top: 50%
          &:before
            transform: rotate(-45deg) translateY(-50%)
            top: 50%
      span
        display: none
      .menu-burger
        @include vwplusemmb('width', 50)
        @include vwplusemmb('height', 32)
        &.active
          @include vwplusemmb('height', 50)
        &:after, &:before, .line
          @include vwplusemmb('height', 4)
