.main-menu
  position: absolute
  width: 100%
  height: 100%
  top: -100%
  left: 0
  background-color: rgb(32, 34, 46)
  @include vwplusem('padding-top', 120)
  z-index: 12
  transition: 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86)
  &.active
    top: 0
  ul
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-around
    li
      width: 100%
      text-align: center
      display: block
      position: relative
      &:before, &:after
        content: ''
        position: absolute
        width: 100%
        height: 0
        left: 0
        top: 50%
        background-color: #6735f0
        z-index: -1
        @include mainTransition()
      &:after
        margin-top: -1px
      &:nth-of-type(2)
        a
          cursor: default

      .sub-menu
        opacity: 0
        position: absolute
        left: 60%
        @include vwplusem('width', 600)
        @include vwplusem('padding-left', 10)
        @include vwplusem('padding-right', 10)
        z-index: 4
        top: 50%
        transform: translateY(-50%)
        display: flex
        justify-content: space-between
        @include mainTransition()
        overflow: hidden
        a
          $f: 16
          @include vwplusem('font-size', $f)
          color: #ffffff
          transform: translateY(100%)
          transition: 0.2s linear
          transition-delay: 0.15s
          cursor: pointer
          width: 100%
          text-align: left
          &:before
            position: absolute
            top: 100%
            content: attr(data-hover)
            color:  #fff
            font-weight: 500
            transform: translate3d(0,0,0)
        @keyframes sub-list
          0%
            transform: translateY(0%)
          50%
            transform: translateY(100%)
          100%
            transform: translateY(0%)
      &:hover
        &:before
          height: 50%
          top: 0
        &:after
          height: 50%
          bottom: 0
        .sub-menu
          opacity: 1
          a
            transform: translateY(0%)
            &:hover, &:focus, &.active
              transform: translateY(-100%)

        &>a
          opacity: 1
          $f: 52
          @include vwplusem('font-size', $f)

      &>a
        $f: 40
        @include vwplusem('font-size', $f)
        @include vwplusem('line-height', 90, $f)
        font-weight: 700
        color: #ffffff
        opacity: 0.3
        display: block
        @include mainTransition()


  .menu-footer
    position: absolute
    display: flex
    justify-content: space-between
    overflow: hidden
    width: 100%
    @include vwplusem('bottom', 60)
    @include vwplusem('padding-left', 60)
    @include vwplusem('padding-right', 60)
    .languages
      a
        $f: 12
        @include vwplusem('margin-right', 10, $f)
    a
      $f: 12
      @include vwplusem('font-size', $f)
      @include vwplusem('margin-right', 30, $f)
      color: #ffffff
      opacity: .3
      font-weight: 500
      text-transform: uppercase
      @include mainTransition()
      transform: translateY(0%)
      display: inline-block
      &:before
        position: absolute
        top: 110%
        content: attr(data-hover)
        color:  #fff
        font-weight: 500
        text-transform: uppercase
        transform: translate3d(0,0,0)
      &:last-child
        margin-right: 0
      &:hover, &.active
        opacity: 1
        transform: translateY(-100%)
    span
      $f: 12
      @include vwplusem('font-size', $f)
      @include vwplusem('margin-right', 30, $f)
      color: #ffffff
      opacity: .3
      font-weight: 500
      text-transform: lowercase
      @include mainTransition()
      transform: translateY(0%)
      display: inline-block

@media screen and (max-width: 991px)
  .main-menu
    position: fixed
    @include vwplusemtb('padding-top', 150)
    ul
      li
        text-align: left
        @include vwplusemtb('padding-left', 40)
        &:nth-of-type(2)
          &:hover
            &:before
              height: 50%
              top: 0
              display: block
            &:after
              height: 50%
              bottom: 0
              display: block

        .sub-menu
          opacity: 0
          position: absolute
          left: 38%
          @include vwplusemtb('width', 450)
          a
            $f: 14
            @include vwplusemtb('font-size', $f)
            font-weight: 500
            &:hover
              transform: none!important
            &:before
              display: none
        &:hover
          &:before, &:after
            display: none

          .sub-menu
            opacity: 1
            a
              transform: translateY(0%)

          &>a
            $f: 50
            @include vwplusemtb('font-size', $f)

        &>a
          $f: 40
          @include vwplusemtb('font-size', $f)
          @include vwplusemtb('line-height', 70, $f)

    .menu-footer
      position: absolute
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      width: 100%
      @include vwplusemtb('bottom', 60)
      @include vwplusemtb('padding-left', 40)
      @include vwplusemtb('padding-right', 40)
      .social
        display: flex
        flex-wrap: wrap
        width: 100%
        @include vwplusemtb('margin-bottom', 40)
        a
          display: flex
          width: 100%
          @include vwplusemtb('margin-bottom', 20, 12)
          overflow: hidden
          &:hover
            transform: translateY(0%)

      .info
        display: flex
        justify-content: space-between
        width: 100%
        .mobile
          display: inline-flex
          width: 60%
      .languages
        display: flex
        width: 100%
        @include vwplusemtb('margin-bottom', 70)
        overflow: hidden
        a
          $f: 12
          @include vwplusemtb('margin-right', 10, $f)
      a, span
        $f: 12
        @include vwplusemtb('font-size', $f)
        @include vwplusemtb('margin-right', 30, $f)

@media screen and (max-width: 767px)
  .main-menu
    position: fixed
    @include vwplusemmb('padding-top', 110)
    .languages
      @include vwplusemmb('padding-left', 40)
      @include vwplusemmb('margin-bottom', 30)
      a
        $f: 24
        @include vwplusemmb('font-size', $f)
        font-weight: 500
        color: #57585f
        @include vwplusemmb('margin-right', 15, $f)
        text-transform: uppercase
        &.active
          color: #ffffff
    ul
      @include vwplusemmb('margin-bottom', 40)
      li
        text-align: left
        @include vwplusemmb('padding-left', 40)
        //@include vwplusemtb('padding-top', 10)
        //@include vwplusemtb('padding-bottom', 10)

        .sub-menu
          opacity: 0
          position: absolute
          left: 38%
          @include vwplusemmb('width', 450)
          a
            $f: 14
            @include vwplusemmb('font-size', $f)
            font-weight: 500
        &:hover
          .sub-menu
            opacity: 1
            a
              transform: translateY(0%)

          &>a
            $f: 50
            @include vwplusemmb('font-size', $f)

        &>a
          $f: 40
          @include vwplusemmb('font-size', $f)
          @include vwplusemmb('line-height', 70, $f)

    .tel, .location, .mail
      display: flex
      //@include vwplusemmb('max-width', 400)
      max-width: 90%
      @include vwplusemmb('margin-bottom', 22)
      @include vwplusemmb('padding-left', 40)
      svg
        display: inline-block
        @include vwplusemmb('width', 30)
        @include vwplusemmb('height', 30)
        @include vwplusemmb('margin-right', 20)
        fill: #fff
      span
        display: inline-block
        $f: 24
        @include vwplusemmb('font-size', $f)
        color: #ffffff

    .menu-footer
      position: absolute
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      width: 100%
      @include vwplusemmb('bottom', 20)
      @include vwplusemmb('padding-left', 40)
      @include vwplusemmb('padding-right', 40)
      .social
        display: flex
        flex-wrap: wrap
        width: 100%
        @include vwplusemmb('margin-bottom', 18)
        a
          display: flex
          width: 100%
          overflow: hidden
          @include vwplusemmb('margin-bottom', 20, 12)
      .info
        display: flex
        justify-content: space-between
        width: 100%
        .mobile
          display: none
      .languages
        display: flex
        width: 100%
        @include vwplusemmb('margin-bottom', 70)
        a
          $f: 24
          @include vwplusemtb('margin-right', 10, $f)
      a, span
        $f: 24
        @include vwplusemmb('font-size', $f)
        @include vwplusemmb('margin-right', 30, $f)