.fancybox-toolbar
  @include vwplusem('top', 33)
  @include vwplusem('right', 84)

.fancybox-close-small
  display: none

.fancybox-button
  &--fullscreen, &--share
    display: none

  &--close
    @include vwplusem('width', 55)
    @include vwplusem('height', 55)
    position: relative
    background-color: transparent
    svg
      width: 100%
      height: 100%
      fill: transparent
      stroke: #fff

.request-form
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  background-color: rgb(32, 34, 46)
  z-index: 999
  transition: 0.4s cubic-bezier(1, 0.01, 0.54, 0.74)
  @include vwplusem('padding-top', 180)
  @include vwplusem('padding-bottom', 180)
  transform: translateY(-100%)
  &.active
    transform: translateY(0%)
  .close-popup-form
    @include vwplusem('width', 22)
    @include vwplusem('height', 22)
    position: absolute
    @include vwplusem('right', 60)
    @include vwplusem('top', 60)
    cursor: pointer
    &:after, &:before
      content: ''
      position: absolute
      width: 100%
      height: 2px
      @include vwplusem('top', 7)
      background-color: #ffffff
    &:after
      transform: rotate(-45deg)
    &:before
      transform: rotate(-135deg)
  h2
    $f: 40
    @include vwplusem('font-size', $f)
    @include vwplusem('line-height', 54, $f)
    color: #ffffff
    font-weight: 700
    display: block
    @include vwplusem('width', 420, $f)
    @include vwplusem('margin-bottom', 90, $f)
  form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    @include vwplusem('padding-left', 138)
    @include vwplusem('padding-right', 138)
    .left, .right
      display: inline-flex
      flex-wrap: wrap
      @include vwplusem('width', 405)
    .left
      label
        display: block
        width: 100%
        position: relative
        &:after
          content: ''
          position: absolute
          width: 100%
          height: 2px
          bottom: 0
          left: 0
          z-index: 1
          background: rgba(255, 255, 255, 0.3)
        &:before
          content: ''
          position: absolute
          width: 0%
          height: 2px
          z-index: 2
          bottom: 0
          left: 0
          background: #ffffff
          @include mainTransition(0.3s)

        &:first-child
          @include vwplusem('margin-bottom', 45)
        &.focus
          &:before
            width: 100%
          span
            $f: 14
            @include vwplusem('font-size', $f)
            opacity: .3
            transform: translateY(-50%)
        span
          position: absolute
          top: 0
          left: 0
          display: block
          width: 100%
          $f: 16
          @include vwplusem('font-size', $f)
          @include vwplusem('padding-top', 20, $f)
          @include vwplusem('padding-bottom', 20, $f)
          color: #ffffff
          @include mainTransition(0.2s)
        input
          display: block
          width: 100%
          background-color: transparent
          $f: 16
          @include vwplusem('font-size', $f)
          @include vwplusem('padding-top', 20, $f)
          @include vwplusem('padding-bottom', 20, $f)
          color: #ffffff
          @include mainTransition()

    .right
      label
        display: block
        width: 100%
        position: relative
        &:after
          content: ''
          position: absolute
          width: 100%
          height: 2px
          bottom: 0
          left: 0
          z-index: 1
          background: rgba(255, 255, 255, 0.3)
        &:before
          content: ''
          position: absolute
          width: 0%
          height: 2px
          z-index: 2
          bottom: 0
          left: 0
          background: #ffffff
          @include mainTransition(0.3s)
        &.focus
          &:before
            width: 100%
          span
            $f: 14
            @include vwplusem('font-size', $f)
            opacity: .3
            transform: translateY(-50%)
        span
          position: absolute
          top: 0
          left: 0
          display: block
          width: 100%
          $f: 16
          @include vwplusem('font-size', $f)
          @include vwplusem('padding-top', 20, $f)
          @include vwplusem('padding-bottom', 20, $f)
          color: #ffffff
          @include mainTransition(0.2s)
        textarea
          display: block
          width: 100%
          height: 100%
          background-color: transparent
          resize: none
          border: none
          $f: 16
          @include vwplusem('font-size', $f)
          @include vwplusem('padding-top', 20, $f)
          @include vwplusem('padding-bottom', 20, $f)
          color: #ffffff
    .main-btn
      background-color: $color-pink-main
      border: none
      @include vwplusem('margin-top', 80)
      &:before
        background-color: #4a26ad
      &:hover
        span
          color: #ffffff


@media screen and (max-width: 991px)
  .request-form
    @include vwplusemtb('padding-top', 180)
    @include vwplusemtb('padding-bottom', 180)
    .close-popup-form
      @include vwplusemtb('width', 22)
      @include vwplusemtb('height', 22)
      @include vwplusemtb('right', 60)
      @include vwplusemtb('top', 60)
      &:after, &:before
        @include vwplusemtb('top', 7)
    h2
      $f: 40
      @include vwplusemtb('font-size', $f)
      @include vwplusemtb('line-height', 54, $f)
      @include vwplusemtb('width', 560, $f)
      @include vwplusemtb('margin-bottom', 90, $f)
    form
      @include vwplusemtb('padding-left', 0)
      @include vwplusemtb('padding-right', 0)
      .left, .right
        @include vwplusemtb('width', 325)
      .left
        label
          &:first-child
            @include vwplusemtb('margin-bottom', 30)
          &.focus
            span
              $f: 14
              @include vwplusemtb('font-size', $f)
          span
            $f: 16
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('padding-top', 20, $f)
            @include vwplusemtb('padding-bottom', 20, $f)
          input
            $f: 16
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('padding-top', 20, $f)
            @include vwplusemtb('padding-bottom', 20, $f)
      .right
        label
          &.focus
            span
              $f: 14
              @include vwplusemtb('font-size', $f)
          span
            $f: 16
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('padding-top', 20, $f)
            @include vwplusemtb('padding-bottom', 20, $f)
          textarea
            $f: 16
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('padding-top', 20)
            @include vwplusemtb('padding-bottom', 20)
      .main-btn
        @include vwplusemtb('margin-top', 80)

@media screen and (max-width: 767px)
  .request-form
    @include vwplusemmb('padding-top', 100)
    @include vwplusemmb('padding-bottom', 180)
    .close-popup-form
      @include vwplusemtb('width', 44)
      @include vwplusemtb('height', 44)
      @include vwplusemtb('right', 60)
      @include vwplusemtb('top', 60)
      &:after, &:before
        @include vwplusemtb('top', 7)
    h2
      $f: 40
      @include vwplusemmb('font-size', $f)
      @include vwplusemmb('line-height', 54, $f)
      width: 100%
      @include vwplusemmb('margin-bottom', 90, $f)
    form
      @include vwplusemmb('padding-left', 0)
      @include vwplusemmb('padding-right', 0)
      .left, .right
        width: 100%
        position: relative
      .left
        @include vwplusemmb('margin-bottom', 60)
        label
          &.focus
            span
              $f: 20
              @include vwplusemmb('font-size', $f)
          &:first-child
            @include vwplusemmb('margin-bottom', 60)
          input, span
            $f: 28
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('padding-top', 26)
            @include vwplusemmb('padding-bottom', 26)

      .right
        label
          &.focus
            span
              $f: 20
              @include vwplusemmb('font-size', $f)
          textarea, span
            $f: 28
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('padding-top', 26)
            @include vwplusemmb('padding-bottom', 26)
            @include vwplusemmb('margin-top', 40, $f)
            @include vwplusemmb('height', 200, $f)
      .main-btn
        @include vwplusemmb('margin-top', 80)
        width: 100%
